.siteBanner {
  position: relative;
  size: 100% 110vh;
  @include grid(null, column, null);
  //background: url('../images/person.png') no-repeat center bottom;
  //background-size: 120%;

  .container {
    height: 100%;
    padding: 15px;
  }

  @include respond-to(s) {
    height: 100vh;
  }

  @include respond-to(m) {
    height: 500px;
    padding: 0;
    margin-top: 58px;
  }
}

.siteBanner--flex {

  @include respond-to(m) {
    position: relative;
    height: 100%;
    z-index: z(alpha);
    @include grid(null, column, center);
  }
}

.siteBanner_Title {

  @include respond-to(xs) {
    font-size: ($core-font-size * 2);
  }

  @include respond-to(s) {
    font-size: ($core-font-size * 2.3);
  }
}

.siteBanner_Text {

  @include respond-to(s) {
    max-width: 375px;
  }

  @include respond-to(m) {
    align-self: flex-start;
  }
}
