
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: $core-font-family;
  font-size: $core-font-size;
  background: $core-color-neutral;
  padding-bottom: 55px;
  margin: 0;
  @include fadein;

  @include respond-to(xs) {
    font-size: 1rem;
  }

  @include respond-to(s) {
    font-size: ($core-font-size * 1.18);
    padding-bottom: 0;
  }

  @include respond-to(m) {
    font-size: 1rem;
  }

  @include respond-to(l) {
    font-size: $core-font-size;
  }
}

body ::-moz-selection {
  color: $core-color-light darken($core-color-neutral, 70%);
}

body ::selection {
  color: $core-color-light darken($core-color-neutral, 70%);
}

h1 {
  color: $core-color-brand;
  font-family: $core-secondary-font-family;
  font-size: ($core-font-size * 1.8);
  margin: 0 0 $core-grid-unit 0;
  line-height: $core-line-height;
}

h2 {
  color: $core-color-brand;
  font-family: $core-secondary-font-family;
  font-size: ($core-font-size * 1.65);
  margin: 0 0 $core-grid-unit 0;
  line-height: $core-line-height;

  @include respond-to(s) {
    font-size: ($core-font-size * 1.85);
  }
}

h3 {
  font-family: $core-secondary-font-family;
  font-size: ($core-font-size * 1.5);
  margin: 0 0 $core-grid-unit 0;
  line-height: $core-line-height;

  @include respond-to(s) {
    font-size: ($core-font-size * 1.7);
  }
}

h4 {
  font-family: $core-secondary-font-family;
  font-size: ($core-font-size * 1.35);
  margin: 0 0 $core-grid-unit 0;
  line-height: $core-line-height;

  @include respond-to(s) {
    font-size: ($core-font-size * 1.55);
  }
}

h5 {
  font-family: $core-secondary-font-family;
  font-size: ($core-font-size * 1.2);
  margin: 0 0 $core-grid-unit 0;
  line-height: $core-line-height;

  @include respond-to(s) {
    font-size: ($core-font-size * 1.4);
  }
}

h6 {
  font-family: $core-secondary-font-family;
  font-size: ($core-font-size * 1.15);
  margin: 0 0 $core-grid-unit 0;
  line-height: $core-line-height;

  @include respond-to(s) {
    font-size: ($core-font-size * 1.3);
  }
}

p {
  color: $core-color-dark;
  line-height: 1.7;
  margin: 0 0 15px 0;
}

figure {
  padding: 0;
  margin: 0;
}

button {
  -webkit-appearance: none;
  appearance: none;
  border: none;
}

a {
  color: $core-color-brand;
  text-decoration: underline;

  @include respond-to(l) {
    @include transition-025;
  }
}

.container {
  position: relative;
  padding: 0 15px;

  @include respond-to(m) {
    width: 668px;
    padding: 0;
    margin: 0 auto;
  }

  @include respond-to(l) {
    width: 962px;
  }

  @include respond-to(xl) {
    width: 1200px;
  }
}

.btnLink {
  display: inline-block;
  padding: 8px 15px;
  text-decoration: none;

  @include respond-to(l) {
    &:hover {
      background: $core-color-dark;
    }
  }
}

.btnLink--pink {
  background: $core-color-brand;
  color: $core-color-light;
}

.btnLink--grey {
  background: $core-color-dark;
  color: $core-color-light;
}

.btnLink_text {
  text-decoration: none;
}

.btnLink--flex {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.btnLink_icon {
  size: 17px;
  fill: $core-color-light;
  vertical-align: middle;
}

.speechBlock {
  display: inline-block;
  position: relative;
  padding: 4px 20px 4px 20px;
  margin-bottom: 20px;

  &::before {
    content: '';
    position: absolute;
    top: 55%;
    left: 0;
    border-right: 14px solid rgba(0, 0, 0, 0);
    margin: 10px 0 0 10px;
    height: 0;
    width: 0;
  }
}

.speechBlock--blue {
  background: #1282a2;
  color: $core-color-light;

  &::before {
    border-top: 10px solid #1282a2;
  }
}

.blockquote_wrapper {
  padding: 0;
  margin: 0 0 20px 0;
}

.blockquote_wrapper--large {
  font-size: $core-font-size * 1.4;
  font-weight: $core-secondary-font-weight;
  line-height: 1.3;

  @include respond-to(l) {
    font-size: $core-font-size * 1.6;
  }
}

.blockquote_quoteIcon {
  display: block;
  size: 40px;
  fill: $core-color-brand;

  @include respond-to(m) {
    margin-bottom: 10px;
  }
}
