@include editorial;

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background: $core-color-neutral;
  margin: 0;
  @include fadein;
}

body ::-moz-selection {
  color: $core-color-light darken($core-color-neutral, 70%);
}

body ::selection {
  color: $core-color-light darken($core-color-neutral, 70%);
}

a {
  @include respond-to(l) {
    @include transition-025;
  }
}

.button_link {
  display: inline-block;
  background: $core-color-brand;
  color: $core-color-light;
  padding: 3px 15px;
  text-decoration: none;

  span {
    text-transform: uppercase;
    text-decoration: underline;

    @include respond-to(m) {
      font-size: $core-font-size * 1.25;
    }
  }
}

.button_link--flex {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.button_linkIcon {
  size: 17px;
  fill: $core-color-light;
  vertical-align: middle;
}

.text--large {
  font-size: 1.05rem;
  margin-bottom: 20px;
}

.text--lightGray {
  color: darken($core-color-light, 40%);
}

.speechBlock {
  display: inline-block;
  position: relative;
  padding: 4px 20px 4px 20px;
  margin-bottom: 20px;

  &::before {
    content: '';
    position: absolute;
    top: 65%;
    left: 0;
    border-right: 14px solid rgba(0, 0, 0, 0);
    margin: 10px 0 0 10px;
    height: 0;
    width: 0;
  }
}

.speechBlock--blue {
  background: #1282a2;
  color: $core-color-light;

  &::before {
    border-top: 10px solid #1282a2;
  }
}
