.siteBlog {
  position: relative;

  .container {
    height: 100%;
    padding: 30px $core-padding;
  }

  @include respond-to(m) {

    .container {
      padding: 30px 0;
    }
  }
}

.siteBlog--white {
  background: $core-color-light;
}

.siteBlog_title {
  padding: 0 $core-padding;
}

.siteBlog_flex {

  @include respond-to(m) {
    padding: 0 $core-padding;
    @include grid(wrap, row, space-between);
  }
}

.siteBlog_item {
  display: block;
  background: $core-color-light;
  text-decoration: none;
  padding: 15px;
  margin-top: 30px;
  border-bottom: 2px solid $core-color-brand;

  &:first-child {
    margin-top: 0;
  }

  @include respond-to(m) {
    width: calc(50% - 12px);

    &:nth-of-type(2) {
      margin-top: 0;
    }
  }

  @include respond-to(l) {
    position: relative;
    border-bottom: none;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      size: 0 2px;
      background: $core-color-brand;
      @include transition-03;
    }

    &:hover {

      &::after {
        width: 100%;
      }

       .btnLink_icon {
        margin-left: 10px;
      }
    }
  }
}

.siteBlog_itemTitle {
  color: $core-color-brand;
}

.siteBlog_itemDate {
  display: block;
  color: $core-color-dark;
  font-weight: $core-secondary-font-weight;
  margin-bottom: 10px;
}

.siteBlogPost {
  background: $core-color-light;
}

.siteBlogPost_content {
  max-width: 46.88rem;
  padding: 30px 0;
  margin: 0 auto;
}

.siteBlogPost_img {
  width: 100%;
  margin-bottom: $core-margin;
}

.siteBlogPost_details {
  @include font-size($p-font-sizes);

  @include respond-to(m) {
    margin-bottom: ($core-margin * 2);
  }
}

.siteBlogPost_date {
  display: block;
  margin-bottom: $core-margin;

  @include respond-to(m) {
    display: inline-block;
    margin-right: ($core-margin * 2);
    margin-bottom: 0;
  }
}

.siteBlogPost_category {
  display: block;
  margin-bottom: $core-margin;

  @include respond-to(m) {
    display: inline-block;
    margin-bottom: 0;
  }
}
