.infoBlock {
  @include respond-to(m) {
    @include grid(null, row, space-between);
  }

  @include respond-to(l) {
    display: block;
  }
}

.infoBlock_item {
  @include grid(null, column, null);

  @include respond-to(m) {
    @include flex-direction(row);
    width: 49%;
  }

  @include respond-to(l) {
    width: 100%;
  }
}

.infoBlock_icon {
  size: 48px;
  fill: $core-color-brand;
  margin-bottom: 10px;

  @include respond-to(m) {
    size: 80px 40px;
    padding-right: 10px;
    border-right: 1px solid $core-color-brand;
  }
}

.infoBlock_content {
  @include respond-to(m) {
    margin-left: 10px;
  }
}
