.siteHeader {
  position: relative;
  width: 100%;
  background: $core-color-light;
  z-index: z(charlie);

  @include respond-to(m) {
    position: fixed;
    top: 0;
    left: 0;
  }
}

.siteHeader--flex {

  @include respond-to(m) {
    @include grid(null, row, nul);
    padding: 0 $core-grid-unit;
  }
}

.mainHeader {
  size: 100% auto;
  padding: 10px 0;
  margin: 0 auto;

  @include respond-to(m) {
    width: 50%;
    margin: 0;
    align-self: flex-start;
  }

  @include respond-to(l) {
    width: 60%;
  }
}

.mainHeader_logo {
  display: block;
  font-family: $core-secondary-font-family;
  color: $core-color-dark;
  font-size: $core-font-size * 2;
  font-weight: $core-secondary-font-weight;
  line-height: normal;
  text-decoration: none;

  .mainHeader_logoPeriod {
    color: $core-color-brand;
    margin-right: 2px;
  }

  @include respond-to(m) {
    display: inline-block;
  }
}

.siteNav {
  @include grid(null, row, center);
  @include align-items(center);
  position: fixed;
  bottom: 0;
  right: 0;
  size: 100% 55px;
  background: $core-color-light;
  padding: 0;
  margin: 0 auto;
  border-top: 1px solid darken($core-color-neutral, 15%);
  z-index: z(charlie);
  @include transition-03;

  @include respond-to(m) {
    position: initial;
    width: 50%;
    border: none;
    align-self: flex-end;
  }

  @include respond-to(l) {
    width: 40%;
  }
}

.siteNav_link {
  @include grid(null, column, center);
  @include align-items(center);
  position: relative;
  size: 25% 100%;
  text-decoration: none;

  &:hover {

    .siteNav_linkIcon {
      fill: $core-color-brand;
    }

    .siteNav_linkText {
      color: $core-color-brand;
    }
  }
}

.siteNav_linkIcon {
  size: 25px;
  fill: $core-color-dark;
  margin-bottom: 3px;

  @include respond-to(l) {
    @include transition-025;
  }
}

.siteNav_linkText {
  display: block;
  color: $core-color-dark;
  font-size: 0.95rem;
  text-align: center;

  @include respond-to(l) {
    @include transition-025;
  }
}

.siteNav_link--active .siteNav_linkText {
  color: $core-color-brand;
}

.siteNav_link--active .siteNav_linkIcon {
  fill: $core-color-brand;
}
