.sitePortfolio {
  background: $core-color-light;
  padding: 30px 0;
}

.sitePortfolio_filter {
  margin-bottom: ($core-grid-unit * 2);
}

.sitePortfolio_filter_flex {
  @include grid(wrap, column, center);

  @include respond-to(s) {
    @include flex-direction(row);
    justify-content: flex-start;
  }
}

.sitePortfolio_filterBtn {
  background: $core-color-brand;
  color: $core-color-light;
  font-family: $core-secondary-font-family;
  font-size: ($core-font-size * 1.3);
  font-weight: $core-font-weight;
  letter-spacing: 0.5px;
  padding: $core-grid-unit;
  margin-bottom: 10px;
  text-align: center;

  &:last-child {
    margin-bottom: 0;
  }

  @include respond-to(s) {
    min-width: 150px;
    padding: $core-grid-unit 15px;
    margin-right: 10px;
    margin-bottom: 0;
  }

  @include respond-to(l) {
    padding: 8px 15px;
    cursor: pointer;
    @include transition-025;

    &:hover {
      background: $core-color-dark;
    }
  }
}

.sitePortfolio_filterBtn--active {
  background: $core-color-dark;
}

.sitePortfolio_grid {
  @include respond-to(s) {
    margin-right: -$core-grid-unit;
    margin-left: -$core-grid-unit;
  }
}

.sitePortfolio_item {
  position: relative;
  background: $core-color-dark;
  margin-top: $core-grid-unit;

  &:first-child {
    margin-top: 0;
  }

  @include respond-to(s) {
    width: calc(50% - 24px);
    margin: $core-grid-unit;
    overflow: hidden;

    &:first-child {
      margin-top: $core-grid-unit;
    }
  }

  @include respond-to(l) {
    &:hover .sitePortfolio_itemDesc {
      -webkit-transform: translate3d(0,0,0);
    	transform: translate3d(0,0,0);
    }
  }

  @include respond-to(xl) {
    width: calc(33.333333% - 24px);
  }
}

.sitePortfolio_itemImg {
  opacity: 0.8;
}

.sitePortfolio_itemDesc {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: $core-color-neutral;
  padding: $core-grid-unit;

  @include respond-to(l) {
    -webkit-transition: -webkit-transform 0.35s;
  	transition: transform 0.35s;
  	-webkit-transform: translate3d(0,100%,0);
  	transform: translate3d(0,100%,0);
  }
}

.sitePortfolio_itemLink {
  display: block;
  position: relative;
  text-decoration: none;
}

.sitePortfolio_itemTitle {
  color: $core-color-brand;
  font-weight: $core-font-weight;
}

.sitePortfolio_itemText {
  color: $core-color-dark;

  @include respond-to(m) {
    font-size: ($core-font-size * 1.2);
  }
}

.sitePortfolio_itemIcon {
  position: absolute;
  right: 0;
  bottom: 0;
  size: 40px;
  fill: $core-color-dark;
}

.sitePortfolio_flex {
  @include respond-to(m) {
    @include grid(wrap, row, space-between);
  }
}

.sitePortfolio_flexItem {
  &:last-child {
    background: $core-color-neutral;
    padding: $core-grid-unit;
  }

  @include respond-to(m) {
    width: calc(50% - 12px);

    &:last-child {
      padding: ($core-grid-unit * 2) 30px;
    }
  }
}

.sitePortfolio_img {
  margin-bottom: ($core-grid-unit * 2);

  @include respond-to(m) {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.sitePortfolio_list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sitePortfolio_listItem {
  color: $core-color-dark;
  margin-bottom: ($core-grid-unit * 2);

  &:last-child {
    margin-bottom: 0;
  }
}

.sitePortfolio_share {
  margin-top: ($core-grid-unit * 2);
}

.sitePortfolio_shareItem {
  margin-right: ($core-grid-unit / 2);
}

.sitePortfolio_cta {
  .container {
    padding: 30px $core-grid-unit;

    @include respond-to(m) {
      padding: 60px $core-grid-unit;
    }
  }
}

.sitePortfolio_ctaFlex {
  @include grid(wrap, row, space-between);
}

.sitePortfolio_ctaLink {
  display: block;
  background: $core-color-brand;
  padding: $core-grid-unit;
  text-decoration: none;

  @include respond-to(l) {
    &:hover {
      @include cd-pulse;
    }
  }
}

.sitePortfolio_ctaLink--disabled {
  background: darken($core-color-neutral, 10%);
  pointer-events: none;
}

.sitePortfolio_ctaLink--left {
  align-self: flex-start;
}

.sitePortfolio_ctaLink--right {
  align-self: flex-end;
}

.sitePortfolio_ctaIcon {
  size: 20px;
  fill: $core-color-light;
  vertical-align: middle;
}

.sitePortfolio_ctaIcon--left {
  @include rotate(180);
}

.sitePortfolio_ctaText {
  color: $core-color-light;
  @include font-size($p-font-sizes);
  font-weight: $core-secondary-font-weight;
  vertical-align: middle;
}
