.siteSection {
  position: relative;
  background: $core-color-light;
  padding: 30px 0;
}

.siteSection_flex {
  @include respond-to(l) {
    @include grid(wrap, row, space-between);
  }
}

.siteSection_flexItem {
  margin-bottom: 15px;

  @include respond-to(l) {
    width: calc(50% - 12px);
  }
}
