.skipLink {
  position: absolute 2.25rem 0 * 2.25rem;
  float: left;
  text-align: left;
  color: $core-color-brand;
  font-weight: $core-secondary-font-weight;
}

.skipLink--hidden {
  border: 0;
  /* clip: rect(0 0 0 0); */
  size: .0625rem .0625rem;
  margin: -.0625rem;
  overflow: hidden;
  padding: 0;
  position: absolute;

  &:active,
  &:focus {
    position: static;
    clip: auto;
    size: auto;
    margin: 0;
    margin-top: 10px;
    margin-left: 20px;
    overflow: visible;
  }
}
