.skipLinks {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.skipLink {
  position: absolute;
  top: 40%;
  right: 0;
  left: 0;
  text-align: center;
  margin: 0 auto;
  color: $core-color-brand;
  font-weight: $core-secondary-font-weight;
}

.skipLink--hidden {
  border: 0;
  /* clip: rect(0 0 0 0); */
  size: 130px .0625rem;
  overflow: hidden;
  padding: 0;
  position: absolute;

  &:active,
  &:focus {
    clip: auto;
    size: 130px auto;
    overflow: visible;
  }
}
