<div class="site-footer__posts">
  <span class="site-footer__post-date">12 <small class="site-footer__post-date--small">OCT</small></span>
  <a class="site-footer__post-title" href="/blog/{{{this.slug}}}">{{#if external}} rel="external">{{/if}}{{{this.title}}}</a>
</div>
