<!-- JAVASCRIPT -->
<script src="/js/main.js"></script>
<script>
  function listTweets(data, key, val) {
    var output = '<ul data-role="listview" class="twitter__feed">';

    for (var i = 0; i < data.length; i++) {
      var text = data[i].text;
      var thumbnail = data[i].user.profile_image_url;
      var name = data[i].user.name;

      text=text.replace(/[A-Za-z]+:\/\/[A-Za-z0-9-_]+\.[A-Za-z0-9-_:%&~\?\/.=]+/g, function(i) {
        var url=i.link(i);
        return url;
      });
      text=text.replace(/[@]+[A-Za-z0-9-_]+/g, function(i) {
        var item = i.replace("@",'');
        var	url = i.link("http://twitter.com/"+ item);
        return url;
      });
      text=text.replace(/[#]+[A-Za-z0-9-_]+/g, function(i) {
        var item = i.replace("#", '%23');
        var url = i.link("http://search.twitter.com/search?q="+item);
        return url;
      });
      output += '<li class="twitter__item">';
      output += '<svg class="twitter__icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/icons/sprite.svg#twitter"></use></svg>' + '<span class="twitter__body">' + text + '</span>';
      output += '</li>';
    }//go through each tweet

    output += '</ul>';
    document.querySelector('.twitter').innerHTML = output;
  }
</script>
<script src="https://alexclapperton.co.uk/twitter/tweets_json.php?count=2&callback=listTweets"></script>
<script>
  {{#if pubDate}}
    var disqus_shortname = 'alexmclapperton';
    var disqus_title = '{{{title}}}';
    var disqus_url = '{{{global.url}}}/blog/{{{slug}}}';
    (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  {{/if}}

  if ('serviceWorker' in navigator) {
    window.addEventListener('load', function() {
      navigator.serviceWorker.register('/sw.js').then(function(registration) {
      }).catch(function(err) {
      });
    });
  }
</script>
<script>
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-86474726-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

</body>
</html>
