<div class="site-footer__posts">
  {{{footerDate}}}</span>
  <a class="site-footer__post-title" href="/blog/{{{this.slug}}}" title="{{{this.title-attr}}}">{{#if external}} rel="external">{{/if}}{{{this.title}}}</a>
</div>
