<!-- ******************** SITE FOOTER : Start ******************** /-->
<footer class="footer" id="footer" role="contentinfo">
  <!-- BEGIN : CONTAINER -->
  <div class="container">

  </div>
  <!-- END : CONTAINER /-->
</footer>
<!-- ******************** SITE FOOTER : End /******************** /-->


<!--/ Scroll to top -->
<div class="scroll-top" title="Scroll to top" data-scroll-top>
  <svg width="20" height="20" class="scroll-top__icon">
    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/icons/sprite.svg#arrow-up"></use>
  </svg>
  <span class="visually-hidden visually-hidden--white">Scroll to top</span>
</div>
