// Articles...........Article section styles.

.articles {
  @include container;
  background-color: darken($core-color-background, 4%);
  padding-top: ($core-padding * 3);
  padding-bottom: ($core-padding * 3);

  @include min(l) {
    padding-top: ($core-padding * 4.5);
    padding-bottom: ($core-padding * 4.5);
  }
}

.articles__content {
  @include min(m) {
    display: grid;
    grid-gap: ($core-grid-unit * 2);
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: ($core-margin * 2.2);
  }

  @include min(l) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.articles__item {
  @include transition-03(all);
  display: block;
  position: relative;
  top: 0;
  margin-bottom: ($core-margin * 2.2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  @include min(m) {
    margin-bottom: 0;
  }

  @include min(l) {
    &:hover {
      top: -2px;
      box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    }
  }
}

.article__content {
  @include flex(null, column, null, null);
  min-height: 100%;
}

.articles__picture {
  display: block;
  min-height: 175px;
  overflow: hidden;
}

.articles__details {
  @include flex(null, column, space-between, null);
  background-color: $core-color-background;
  padding-top: $core-padding;
  padding-right: $core-padding;
  padding-bottom: $core-padding;
  padding-left: $core-padding;
  flex: 1;

  @include min(l) {
    padding-top: ($core-padding * 2);
    padding-bottom: ($core-padding * 2);
  }
}

.articles__title-small {
  @include text(pluto);
}

.articles__title {
  @include text(venus);
  display: block;

  @include min(l) {
    font-size: calc(1em + 0.5vw);
  }
}

.articles__body {
  margin-bottom: 0;
  flex: 1;
}
