// Banner.............Top page banner styles.

.banner {
  display: grid;
  grid-gap: 0;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: calc(100vh - 127px);

  @include respond-to(xs) {
    height: calc(100vh - 163px);
  }
}

.banner__block {
  position: relative;
  width: 250px;
  height: 250px;
  background-color: $core-color-brand;
  padding: 10%;
  align-self: center;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    width: 90%;
    height: 90%;
    margin: 0 auto;
    border: 5px $core-border-style $core-color-light;
    transform: translateY(-50%);
    z-index: 0;
  }

  @include respond-to(xs) {
    margin-top: -125px;

    &::after {
      content: '';
      position: absolute;
      top: 42%;
      left: 42%;
      width: 100%;
      height: 100%;
      background-image: url('../images/banner/banner--mobile.jpg');
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      border: 10px $core-border-style $core-color-brand;
      z-index: -2;
    }
  }
}

.banner__title {
  margin-bottom: ($core-margin * 3);
  color: $core-color-light;
  font-weight: $core-secondary-font-weight;
}

.banner__body {
  color: $core-color-light;
  @include font-size($small-font-sizes);
}

.banner__scroll {
  width: 35px;
  height: 35px;
  margin-bottom: $core-margin;
  align-self: end;
  justify-self: center;
  @include fadeInOutDown;
}

.banner__scroll-icon {
  width: 100%;
  height: 100%;
  fill: $core-color-brand;
  @include rotate(270);
}
