// Banner.............Top page banner styles.

.banner {
  @include container;

  &:not(&--home):not(&--404) {
    height: 550px;
  }

  @media screen and (max-height: 26.25em) and (orientation: landscape) {
    &:not(&--home):not(&--404) {
      height: 450px;
    }
  }

  @include min(l) {
    &:not(&--404) {
      height: 750px;
    }
  }
}

.banner--home,
.banner--404 {
  height: 100vh;

  @media screen and (max-height: 26.25em) and (orientation: landscape) {
    min-height: 550px;
  }
}

.banner--dark {
  background-color: var(--color-brand);
}

.banner__container {
  @include flex(null, column, center, null);
  height: 100%;
}

.banner__container--404 {
  @include min(l) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}

.banner__container--center {
  text-align: center;
}

.banner__item--404 {
  position: relative;
  overflow: hidden;

  @include min(l) {
    width: 50%;
  }
}

.banner__img--404 {
  display: none;

  @include min(l) {
    display: block;
  }
}

.banner__heading {
  @include text(jupiter);

  &:not(&--center):not(&--404) {
    max-width: 450px;
  }

  &--home {
    @include text(sun);

    @include min(xs) {
      font-size: calc(3.8em + 0.5vw);
    }

    @include min(l) {
      font-size: calc(4.5em + 0.5vw);
    }
  }

  &--light {
    color: $core-color-background;
  }

  &--center {
    max-width: 800px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
  }

  &--404 {
    max-width: 450px;

    @include min(l) {
      max-width: none;
    }
  }

  &--offline {
    margin-bottom: 0;
  }
}

.banner__body {
  @include text(earth);

  @include max(m) {
    max-width: 250px;
  }

  @media screen and (max-width: 47.9375em) and (orientation: landscape) {
    max-width: none;
  }

  &--404 {
    max-width: 450px;

    @include min(l) {
      max-width: none;
    }
  }
}

.banner__scroll-link {
  @include text(earth);
  @include flex(null, row, null, center);
  color: var(--color-link);
  margin-bottom: 0;
  text-decoration: none;
  align-self: flex-start;
}

.banner__scroll-icon {
  width: 16px;
  height: 16px;
  margin-left: ($core-margin / 2);
  stroke: var(--color-link);
  stroke-width: 3;
  vertical-align: middle;
}
