// Blocks.............Blocks styles on about page.

.blocks {
  @include container;
  padding-top: ($core-padding * 3);
  padding-bottom: ($core-padding * 3);

  @include min(l) {
    padding-top: ($core-padding * 4.5);
    padding-bottom: ($core-padding * 4.5);
  }
}

.blocks__subText {
  max-width: 550px;
}

.blocks__content {
  @include min(m) {
    @include flex(wrap, row, space-between, null);
  }
}

.blocks__item {
  background-color: darken($core-color-background, 5%);
  margin-bottom: ($core-margin * 2);
  padding-top: ($core-padding * 2.5);
  padding-right: ($core-padding * 2.5);
  padding-bottom: ($core-padding * 2.5);
  padding-left: ($core-padding * 2.5);

  &:last-child {
    margin-bottom: 0;
  }

  @include min(m) {
    width: 49%;
  }

  @include min(l) {
    margin-bottom: 0;
    flex-basis: 32.333333%;
  }
}

.blocks__item-title--strike {
  text-decoration: line-through;
}

.blocks__item-body {
  margin-bottom: 0;
}
