@use "../settings/variables" as _variables;
@use "../tools/mixins/flexbox" as _flexbox;
@use "../tools/mixins/responsive" as _responsive;
@use "../tools/mixins/typography" as _typography;

// Blocks.............Blocks styles on about page.

.blocks {
  @include _responsive.container;
  padding-top: (_variables.$core-padding * 3);
  padding-bottom: (_variables.$core-padding * 3);

  @include _responsive.min(l) {
    padding-top: (_variables.$core-padding * 4.5);
    padding-bottom: (_variables.$core-padding * 4.5);
  }
}

.blocks__heading {
  @include _typography.text(saturn);
}

.blocks__sub-text {
  max-width: 550px;
}

.blocks__content {
  @include _responsive.min(m) {
    @include _flexbox.flex(wrap, row, space-between, null);
  }
}

.blocks__item {
  background-color: var(--color-neutral);
  margin-bottom: (_variables.$core-margin * 2);
  padding-top: (_variables.$core-padding * 2.5);
  padding-right: (_variables.$core-padding * 2.5);
  padding-bottom: (_variables.$core-padding * 2.5);
  padding-left: (_variables.$core-padding * 2.5);

  &:last-child {
    margin-bottom: 0;
  }

  @include _responsive.min(m) {
    width: 49%;
  }

  @include _responsive.min(l) {
    margin-bottom: 0;
    flex-basis: 32.333333%;
  }
}

.blocks__item-title {
  @include _typography.text(mars);
}

.blocks__item-body {
  margin-bottom: 0;
}
