// Blog...............Blog page/posts styles.

.blog {
  padding: 50px 0;
}

.blog__body {
  max-width: 550px;
}

.blog__content {
  margin-top: ($core-margin * 3);
  @include flex(wrap, column, space-between, null);

  @include respond-to(m) {
    @include flex-direction(row);
    @include justify-content(flex-start);
  }
}

.blog__additional {
  display: block;
  margin-bottom: ($core-margin * 2);
  padding: 30px;
  text-decoration: none;

  &--blue {
    background-color: #007cbf;
    order: 3;
  }

  &--purple {
    background-color: #b147cb;
    margin-bottom: 0;
    order: 5;
  }

  @include respond-to(m) {
    width: 48%;
    @include flex(null, column, center, null);

    &--blue {
      margin-right: 4%;
    }
  }

  @include respond-to(l) {
    .btn {
      position: relative;
      overflow: hidden;
      z-index: z(alpha);

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: $core-color-light;
        z-index: -1;
        @include transition-03;
      }
    }

    &:hover {

      .btn {
        color: #b147cb;

        &::before {
          left: 0;
        }
      }

      .btn__icon {
        fill: #b147cb;
      }
    }
  }

  @include respond-to(xl) {
    width: 25%;

    &--blue {
      margin-right: 0;
    }

    &--purple {
      margin-right: 1.5%;
      order: 4;
    }
  }
}

.blog__additional-title {
  color: $core-color-light;
}

.blog__additional-body {
  color: $core-color-light;
}

.blog__additional-icon {
  width: 32px;
  height: 32px;
  fill: #1da0f1;
}

.blog__item {
  display: block;
  margin-bottom: ($core-margin * 2);
  padding: 22px;
  text-decoration: none;
  border: $core-border-width $core-border-style lighten($core-color-neutral, 40%);

  &:nth-child(2) {
    order: 1;
  }

  &:nth-child(3) {
    order: 2;
  }

  &:nth-child(4) {
    order: 4;
  }

  &:last-child {
    margin-bottom: 0;
  }

  @include respond-to(m) {
    width: 48%;
    @include flex(null, column, center, null);

    &:nth-child(2) {
      margin-right: 4%;
    }
  }

  @include respond-to(l) {
    position: relative;
    padding: 30px;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background-color: $core-color-brand;
      z-index: -1;
      @include transition-03;
    }

    &:hover {
      border-color: $core-color-brand;

      &::before {
        left: 0;
      }

      .blog__item-title,
      .blog__item-body,
      .blog__item-date {
        color: $core-color-light;
      }

      .btn__line {
        background-color: $core-color-light;
      }
    }
  }

  @include respond-to(xl) {
    width: 36%;

    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4) {
      margin-right: 1.5%;
    }

    &:nth-child(4) {
      margin-bottom: 0;
      order: 5;
    }
  }
}

.blog__item-title {
  @include respond-to(l) {
    @include transition-03;
  }
}

.blog__item-body {
  color: $core-color-neutral;

  @include respond-to(l) {
    @include transition-03;
  }
}

.blog__item-date {
  display: block;
  margin-bottom: 15px;
  color: $core-color-neutral;
  font-size: 0.85em;
  font-weight: $core-secondary-font-weight;

  @include respond-to(l) {
    @include transition-03;
  }
}
