.blog {
  padding: 50px 0;
}

.blog__body {
  max-width: 550px;
}

.blog__content {
  margin-top: ($core-margin * 3);
  @include flex(wrap, column, space-between, null);

  @include respond-to(m) {
    @include flex-direction(row);
  }
}

.blog__additional {
  display: block;
  margin-bottom: ($core-margin * 2);
  padding: 30px;
  text-decoration: none;

  &--blue {
    background-color: #007cbf;
    order: 3;
  }

  &--purple {
    background-color: #b147cb;
    margin-bottom: 0;
    order: 5;
  }

  @include respond-to(m) {
    width: 48.5%;
    @include flex(null, column, center, null);
  }

  @include respond-to(xl) {
    width: 25%;
  }
}

.blog__additional-title {
  color: $core-color-light;
}

.blog__additional-body {
  color: $core-color-light;
  @include font-size($h6-font-sizes);
}

.blog__additional-icon {
  width: 32px;
  height: 32px;
  fill: #1da0f1;
}

.blog__item {
  display: block;
  margin-bottom: ($core-margin * 2);
  padding: 22px;
  text-decoration: none;
  box-shadow: 0px 0px 15px 0px rgba(41,44,52,0.25);

  &:nth-child(2) {
    order: 1;
  }

  &:nth-child(3) {
    order: 2;
  }

  &:nth-child(4) {
    order: 4;
  }

  &:last-child {
    margin-bottom: 0;
  }

  @include respond-to(m) {
    width: 48.5%;
    @include flex(null, column, center, null);
  }

  @include respond-to(l) {
    position: relative;
    padding: 30px;
  }

  @include respond-to(xl) {
    width: 36.5%;
  }
}

.blog__item-body {
  color: $core-color-neutral;
}

.blog__item-date {
  display: block;
  margin-bottom: 15px;
  color: $core-color-neutral;
  font-size: 0.85em;
  font-weight: $core-secondary-font-weight;
}
