// Breadcrumbs........Simple breadcrumbs styles.

.breadcrumbs {
  @include flex(wrap, row, null, null);
}

.breadcrumbs__item {
  @include font-size($p-font-sizes);
  text-transform: capitalize;
  line-height: $core-line-height;

  &::after {
    content: '/';
    color: $core-color-brand;
    margin: 0 5px;
  }

  &:last-child {
    &::after {
      display: none;
    }
  }
}

.breadcrumbs__item--active {
  display: block;
  color: $core-color-dark;
}

.breadcrumbs__link {
  @include respond-to(l) {
    &:hover {
      color: $core-color-dark;
    }
  }
}
