// Breadcrumbs........Simple breadcrumbs styles.

.breadcrumbs {
  @include respond-to(m) {
    margin-top: ($core-margin / 2);
  }
}

.breadcrumbs__item {
  display: inline-block;
  text-transform: capitalize;
  line-height: $core-line-height;

  &::after {
    content: '/';
    margin: 0 0 0 ($core-margin / 2);
  }

  &:last-child {
    &::after {
      display: none;
    }
  }

  &:not(&--dark) {
    color: $core-color-light;

    &::after {
      color: $core-color-light;
    }
  }

  &--dark {
    color: $core-color-dark;

    &::after {
      color: $core-color-dark;
    }
  }
}

.breadcrumbs__link {
  color: inherit;
  text-decoration: none;

  @include respond-to(l) {
    &:not(&--dark) {
      &:hover {
        border-bottom: 1px dotted $core-color-light;
      }
    }

    &--dark {
      &:hover {
        border-bottom: 1px dotted $core-color-dark;
      }
    }
  }
}
