// Browser............Browser window styles for project item.

.browser {
  background-color: darken($core-color-background, 4%);
  margin-top: ($core-margin * 2);
  margin-bottom: ($core-margin * 2);

  @include min(l) {
    width: 53%;
    margin-top: 0;
    order: 1;
  }
}

.browser__bar {
  display: block;
  width: 100%;
  height: auto;
}

.browser__wrapper {
  @include min(l) {
    max-height: 50rem;
    overflow-y: scroll;
  }
}

.browser__picture {
  position: relative;
  padding-top: 77.5%;

  @include min(l) {
    padding-top: 248.14%;
  }
}
