@use "sass:color";
@use "../settings/variables" as _variables;
@use "../tools/mixins/responsive" as _responsive;

// Browser............Browser window styles for project item.

.browser {
  background-color: color.adjust(_variables.$core-color-background, $lightness: -4%);
  margin-top: (_variables.$core-margin * 2);
  margin-bottom: (_variables.$core-margin * 2);

  @include _responsive.min(l) {
    width: 53%;
    margin-top: 0;
    order: 1;
  }
}

.browser__bar {
  display: block;
  width: 100%;
  height: auto;
}

.browser__wrapper {
  @include _responsive.min(l) {
    max-height: 50rem;
    overflow-y: scroll;
  }
}

.browser__picture {
  display: block;
  position: relative;
  padding-top: 77.5%;

  @include _responsive.min(l) {
    padding-top: 248.14%;
  }
}
