// Butons.............Button styles.

.btn {
  display: inline-block;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  @include font-size($btn-font-sizes);

  &:nth-of-type(1) {
    margin-right: ($core-margin / 2);
  }

  &--primary {
    background-color: $core-color-brand;
    color: $core-color-light;
  }
}

.btn__body {
  display: inline-block;
  vertical-align: middle;
}

.btn__icon {
  width: 22px;
  height: 100%;
  margin-left: ($core-margin / 2);
  vertical-align: middle;

  &--primary {
    fill: $core-color-light;
  }

  &--rotate {
    @include rotate(180);
  }
}
