.btn {
  display: inline-block;
  padding: 8px 20px;
  align-self: flex-start;
  @include font-size($h6-font-sizes);

  &--red {
    background-color: $core-color-light;
    color: $core-color-brand;
    border: $core-border-width $core-border-style $core-color-brand;
  }

  &--white {
    color: $core-color-light;
    border: $core-border-width $core-border-style $core-color-light;
  }

  &--flex {
    @include respond-to(l) {
      @include flex(wrap, row, space-between, center);
    }
  }

  @include respond-to(l) {
    @include transition-03;
  }
}

.btn__line {
  display: none;

  @include respond-to(l) {
    display: block;
    width: 100%;
    height: 1px;
    background-color: $core-color-brand;
    @include transition-03;
  }
}

.btn__icon {
  width: 22px;
  height: 100%;
  vertical-align: bottom;
  @include rotate(180);

  &--red {
    fill: $core-color-brand;
  }

  &--white {
    fill: $core-color-light;
  }
}
