// Contact............Contact section styles.

.contact {
  padding: 30px 0;

  @include respond-to(l) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.contact__content {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr;

  @include respond-to(l) {
    grid-gap: 60px;
    grid-template-columns: repeat(3, 1fr);
  }
}

.contact__form {

  @include respond-to(l) {
    grid-column: 1 / span 2;
  }
}
