// Contact............Contact section styles.

.contact {
  padding: 30px 0;

  @include respond-to(l) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.contact__content {
  @supports (display: grid) {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr;
  }

  @include respond-to(m) {
    @supports not (display: grid) {
      @include flex(wrap, row, space-between, null);
    }
  }

  @include respond-to(l) {
    @supports (display: grid) {
      grid-gap: 60px;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.contact__form {
  @include respond-to(m) {
    @supports not (display: grid) {
      width: 48%;
    }
  }

  @include respond-to(l) {
    @supports (display: grid) {
      grid-column: 1 / span 2;
    }

    @supports not (display: grid) {
      width: 58%;
    }
  }
}

.contact__details {
  @include respond-to(m) {
    @supports not (display: grid) {
      width: 48%;
    }
  }

  @include respond-to(l) {
    @supports not (display: grid) {
      width: 38%;
    }
  }
}
