// Devices............Mobile device view styles.

.devices {
  @include container;
  background-color: darken($core-color-background, 1%);
  padding-top: ($core-padding * 3);
  padding-bottom: ($core-padding * 3);

  @include min(m) {
    padding-top: ($core-padding * 4);
    padding-bottom: ($core-padding * 4);
  }

  @media (prefers-color-scheme: dark) {
    background-color: var(--color-brand);
  }
}

.devices__container {
  @include flex(wrap, row, space-between, null);
}

.devices__item {
  position: relative;
  width: 47%;
  border-radius: 6vw;
  overflow: hidden;

  &:last-child {
    display: none;
  }

  @include min(l) {
    width: 30%;
    border-radius: 4vw;

    &:last-child {
      display: block;
    }
  }
}

.devices__frame {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  z-index: z(delta);
}

.devices__picture {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  padding-top: 217%;
  transform: translate(-50%, -50%);
  z-index: z(alpha);
}

.devices__picture-image {
  padding-top: 13%;
  padding-right: 5.5%;
  padding-bottom: 13%;
  padding-left: 5.5%;
  object-fit: contain;
}
