@use "sass:color";
@use "../settings/variables" as _variables;
@use "../tools/functions/z-index" as _z-index;
@use "../tools/mixins/flexbox" as _flexbox;
@use "../tools/mixins/responsive" as _responsive;

// Devices............Mobile device view styles.

.devices {
  @include _responsive.container;
  background-color: color.adjust(_variables.$core-color-background, $lightness: -1%);
  padding-top: (_variables.$core-padding * 3);
  padding-bottom: (_variables.$core-padding * 3);

  @include _responsive.min(m) {
    padding-top: (_variables.$core-padding * 4);
    padding-bottom: (_variables.$core-padding * 4);
  }

  @media (prefers-color-scheme: dark) {
    background-color: var(--color-brand);
  }
}

.devices__container {
  @include _flexbox.flex(wrap, row, space-between, null);
}

.devices__item {
  position: relative;
  width: 47%;
  border-radius: 6vw;
  overflow: hidden;

  &:last-child {
    display: none;
  }

  @include _responsive.min(l) {
    width: 30%;
    border-radius: 4vw;

    &:last-child {
      display: block;
    }
  }
}

.devices__frame {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  z-index: _z-index.z(delta);
}

.devices__picture {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  padding-top: 217%;
  transform: translate(-50%, -50%);
  z-index: _z-index.z(alpha);
}

.devices__picture-image {
  padding-top: 13%;
  padding-right: 5.5%;
  padding-bottom: 13%;
  padding-left: 5.5%;
  object-fit: contain;
}
