// External links.....Simple styles for external links.

.external-link {
  display: inline-block;
  text-decoration: none;
}

.external-link__text {
  text-decoration: underline;
}

.external-link__icon {
  width: 10px;
  height: 10px;
  fill: $core-color-brand;
  margin-left: -2px;
  vertical-align: middle;
}
