.footer {
  background-color: $core-color-dark;
  padding: 50px 0;
}

.footer__content {
  @include flex(wrap, row, flex-start, null);

  @include respond-to(m) {
    @include justify-content(space-between);
  }
}

.footer__item {
  margin-right: ($core-margin * 3);
  margin-bottom: ($core-margin * 3);

  &--twitter {
    max-width: 350px;
  }

  &:last-child {
    margin-right: 0;
  }

  @include respond-to(xs) {
    margin-right: ($core-margin * 5);
  }

  @include respond-to(xxl) {
    max-width: 410px;
  }
}

.footer__item-title {

  &--blue {
    color: #61afef;
  }

  &--red {
    color: #e06C75;
  }

  &--green {
    color: #98c379;
  }

  &--orange {
    color: #d19a66;
  }
}

.footer__list-item {
  color: $core-color-light;
  margin-bottom: $core-margin;

  &--blue {
    color: #61afef;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.footer__list-link {
  color: inherit;
  text-decoration: none;

  &--purple {
    color: #c678dd;
    text-decoration: underline;
  }

  @include respond-to(l) {
    &:hover {
      border-bottom: $core-border-width dotted $core-color-light;
    }

    &--purple:hover {
      border-bottom: none;
    }
  }
}

.footer__copyright {
  margin: 0;
}
