@use "../settings/variables" as _variables;
@use "../tools/mixins/flexbox" as _flexbox;
@use "../tools/mixins/responsive" as _responsive;
@use "../tools/mixins/transitions" as _transitions;
@use "../tools/mixins/typography" as _typography;

// Footer.............Generic footer styles.

.footer {
  @include _responsive.container;
  background-color: _variables.$core-color-brand;
  color: _variables.$core-color-background;
  padding-top: (_variables.$core-padding * 3.5);


  @include _responsive.max(m) {
    padding-bottom: (_variables.$core-padding * 10);
  }

  @include _responsive.min(m) {
    padding-bottom: (_variables.$core-padding * 3.5);
  }
}

.footer__content {
  @include _responsive.min(s) {
    @include _flexbox.flex(wrap, row, space-between, null);
  }

  @include _responsive.min(l) {
    margin-bottom: (_variables.$core-margin * 4);
  }
}

.footer__list {
  @media screen and (max-height: 26.25em) and (orientation: landscape) {
    margin-right: _variables.$core-margin;
  }

  @include _responsive.max(l) {
    margin-bottom: (_variables.$core-margin * 3);

    &:last-child {
      display: none;
    }
  }
}

.footer__list-item {
  margin-bottom: _variables.$core-margin;

  &:last-child {
    margin-bottom: 0;
  }
}

.footer__list-item--title {
  @include _typography.text(venus);
  color: _variables.$core-color-background;
}

.footer__list-item--phone {
  color: _variables.$core-color-link;
  font-weight: _variables.$core-tertiary-font-weight;

  a[href^=tel] {
    color: _variables.$core-color-link;
    border-bottom-width: 1px;
    border-bottom-style: _variables.$core-border-style;
    border-bottom-color: _variables.$core-color-link;
  }
}

.footer__list-item--social {
  display: inline-block;
  margin-right: _variables.$core-margin;
}

.footer__list-link {
  color: _variables.$core-color-link;
  font-weight: _variables.$core-tertiary-font-weight;
  border-bottom-width: 1px;
  border-bottom-style: _variables.$core-border-style;
  border-bottom-color: _variables.$core-color-link;

  @include _responsive.min(l) {
    @include _transitions.transition-03(all);

    &:hover {
      background-color: _variables.$core-color-link;
      color: _variables.$core-color-brand;
    }
  }
}

.footer__body {
  color: _variables.$core-color-neutral;
  font-family: _variables.$core-font-family;
  font-size: calc(14px + 0.1vw);

  @include _responsive.min(l) {
    font-family: _variables.$core-variable-font-family;
    font-weight: _variables.$core-font-weight;
    font-variation-settings: 'wght' _variables.$core-secondary-font-weight;
  }
}
