// Form...............Contact form styles.

.form {
  margin-bottom: ($core-margin * 2.5);
  padding-top: $core-padding;

  @include min(m) {
    grid-column-end: span 2;
    margin-bottom: 0;
    padding-top: 0;
  }
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form__content {
  @include min(m) {
    display: grid;
    grid-gap: 40px 20px;
    grid-template-columns: repeat(3, 1fr);
  }
}

.form__inner {
  @include min(m) {
    @include flex(wrap, row, space-between, null);
  }
}

.form__field {
  position: relative;
  margin-bottom: ($core-margin * 2);

  @include min(m) {
    flex-basis: 48%;

    &:nth-of-type(3) {
      flex-basis: 100%;
    }
  }
}

.form__item {
  margin-bottom: ($core-margin * 1.5);
}

.form__label {
  display: block;
  color: var(--color-heading);
  font-family: $core-font-family;
  font-weight: $core-tertiary-font-weight;
  margin-bottom: ($core-margin / 2);

  @include min(l) {
    font-family: $core-variable-font-family;
    font-weight: $core-font-weight;
    font-variation-settings: 'wght' $core-tertiary-font-weight;
  }
}

.form__input,
.form__textarea {
  @include transition-03(border-color);
  width: 100%;
  background-color: darken($core-color-background, 3%);
  color: var(--color-body);
  margin-bottom: 0;
  padding-top: ($core-padding / 2);
  padding-right: $core-padding;
  padding-bottom: ($core-padding / 2);
  padding-left: $core-padding;
  border-width: 2px;
  border-style: $core-border-style;
  border-color: var(--color-neutral);

  &:hover,
  &:focus,
  &:active {
    border-color: $core-color-link;
    outline: none;
  }

  @media (prefers-color-scheme: dark) {
    background-color: var(--color-brand);
    // border-color: var(--color-neutral);
  }
}

.form__textarea {
  resize: none;
}

.form__input--valid,
.form__textarea--valid {
  border-color: $core-color-success;
}

.form__input--invalid,
.form__textarea--invalid {
  border-color: var(--color-danger);

  &:focus,
  &:active {
    border-color: var(--color-danger);
  }
}

.form__validation-message {
  @include transition-03(opacity);
  display: block;
  position: absolute;
  top: 3px;
  right: 0;
  color: var(--color-danger);
  font-family: $core-font-family;
  opacity: 0;

  @include min(l) {
    font-family: $core-variable-font-family;
    font-weight: $core-font-weight;
    font-variation-settings: 'wght' $core-secondary-font-weight;
  }

  &--visible {
    opacity: 1;
  }
}

.form__message {
  @include text(bodyCopy);
  display: block;
  margin-top: ($core-margin * 2);
  margin-bottom: 0;
  padding-top: ($core-padding / 2);
  padding-right: $core-padding;
  padding-bottom: ($core-padding / 2);
  padding-left: $core-padding;
  color: var(--color-brand);

  &--error {
    background-color: rgba(var(--color-danger), 0.7);
  }

  &--success {
    background-color: rgba($core-color-success, 0.7);
  }
}
