@use "../settings/variables" as _variables;
@use "../tools/mixins/flexbox" as _flexbox;
@use "../tools/mixins/responsive" as _responsive;
@use "../tools/mixins/transitions" as _transitions;
@use "../tools/mixins/typography" as _typography;

@use "sass:color";
// Form...............Contact form styles.

.form {
  margin-bottom: (_variables.$core-margin * 2.5);
  padding-top: _variables.$core-padding;

  @include _responsive.min(m) {
    grid-column-end: span 2;
    margin-bottom: 0;
    padding-top: 0;
  }
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form__content {
  @include _responsive.min(m) {
    display: grid;
    grid-gap: 40px 20px;
    grid-template-columns: repeat(3, 1fr);
  }
}

.form__inner {
  @include _responsive.min(m) {
    @include _flexbox.flex(wrap, row, space-between, null);
  }
}

.form__field {
  position: relative;
  margin-bottom: (_variables.$core-margin * 2);

  @include _responsive.min(m) {
    flex-basis: 48%;

    &:nth-of-type(3) {
      flex-basis: 100%;
    }
  }
}

.form__item {
  margin-bottom: (_variables.$core-margin * 1.5);
}

.form__label {
  display: block;
  color: var(--color-heading);
  font-family: _variables.$core-font-family;
  font-weight: _variables.$core-tertiary-font-weight;
  margin-bottom: (_variables.$core-margin / 2);

  @include _responsive.min(l) {
    font-family: _variables.$core-variable-font-family;
    font-weight: _variables.$core-font-weight;
    font-variation-settings: 'wght' _variables.$core-tertiary-font-weight;
  }
}

.form__input,
.form__textarea {
  @include _transitions.transition-03(border-color);
  width: 100%;
  background-color: color.adjust(_variables.$core-color-background, $lightness: -3%);
  color: var(--color-body);
  margin-bottom: 0;
  padding-top: (_variables.$core-padding / 2);
  padding-right: _variables.$core-padding;
  padding-bottom: (_variables.$core-padding / 2);
  padding-left: _variables.$core-padding;
  border-width: 2px;
  border-style: _variables.$core-border-style;
  border-color: var(--color-neutral);

  &:hover,
  &:focus,
  &:active {
    border-color: _variables.$core-color-link;
    outline: none;
  }

  @media (prefers-color-scheme: dark) {
    background-color: var(--color-brand);
    // border-color: var(--color-neutral);
  }
}

.form__textarea {
  resize: none;
}

.form__input--valid,
.form__textarea--valid {
  border-color: _variables.$core-color-success;
}

.form__input--invalid,
.form__textarea--invalid {
  border-color: var(--color-danger);

  &:focus,
  &:active {
    border-color: var(--color-danger);
  }
}

.form__validation-message {
  @include _transitions.transition-03(opacity);
  display: block;
  position: absolute;
  top: 3px;
  right: 0;
  color: var(--color-danger);
  font-family: _variables.$core-font-family;
  opacity: 0;

  @include _responsive.min(l) {
    font-family: _variables.$core-variable-font-family;
    font-weight: _variables.$core-font-weight;
    font-variation-settings: 'wght' _variables.$core-secondary-font-weight;
  }

  &--visible {
    opacity: 1;
  }
}

.form__message {
  @include _typography.text(bodyCopy);
  display: block;
  margin-top: (_variables.$core-margin * 2);
  margin-bottom: 0;
  padding-top: (_variables.$core-padding / 2);
  padding-right: _variables.$core-padding;
  padding-bottom: (_variables.$core-padding / 2);
  padding-left: _variables.$core-padding;
  color: var(--color-brand);

  &--error {
    background-color: rgba(var(--color-danger), 0.7);
  }

  &--success {
    background-color: rgba(_variables.$core-color-success, 0.7);
  }
}
