@use "../settings/variables" as _variables;
@use "../tools/functions/z-index" as _z-index;
@use "../tools/mixins/flexbox" as _flexbox;
@use "../tools/mixins/responsive" as _responsive;

// Header.............Header styles.

.header {
  @include _responsive.container;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: _z-index.z(juliet);
}

.header__content {
  @include _flexbox.flex(null, row, flex-start, center);
  height: (_variables.$core-grid-unit * 6);

  @include _responsive.min(m) {
    justify-content: space-between;
  }

  @include _responsive.min(l) {
    height: 100px;
  }
}
