@use "../settings/variables" as _variables;
@use "../tools/mixins/flexbox" as _flexbox;
@use "../tools/mixins/responsive" as _responsive;
@use "../tools/mixins/typography" as _typography;

// Info Block.........Info block styles.

.info-block {
  background-color: var(--color-fade);

  @include _responsive.min(l) {
    @include _flexbox.flex(wrap, row, space-between, null);
  }
}

.info-block__picture {
  display: block;

  @include _responsive.min(l) {
    flex-basis: 50%;
    order: 2;
  }
}

.info-block__picture--home {
  @include _responsive.min(xl) {
    flex-basis: 55%;
  }
}

.info-block__inner {
  padding-top: (_variables.$core-padding * 3);
  padding-right: (_variables.$core-padding * 2);
  padding-bottom: (_variables.$core-padding * 3);
  padding-left: (_variables.$core-padding * 2);

  @include _responsive.min(l) {
    @include _flexbox.flex(null, column, center, null);
    padding-top: (_variables.$core-padding * 4.5);
    padding-right: 4vw;
    padding-bottom: (_variables.$core-padding * 4.5);
    padding-left: 4vw;
    flex-basis: 50%;
    order: 1;
  }
}

.info-block__inner--home {
  @include _responsive.min(xl) {
    flex-basis: 45%;
  }
}

.info-block__heading {
  @include _typography.text(saturn);
}

.info-block__button {
  @include _responsive.min(l) {
    align-self: flex-start;
  }
}
