// Links..............Generic link styles.

.link {
  font-family: $core-font-family;
  font-weight: $core-tertiary-font-weight;
  border-bottom-width: $core-border-width;
  border-bottom-style: $core-border-style;
  border-bottom-color: $core-color-link;

  @include min(l) {
    @include transition-03(background-color);
    font-family: $core-variable-font-family;
    font-weight: $core-font-weight;
    font-variation-settings: 'wght' $core-tertiary-font-weight;

    &:hover {
      background-color: $core-color-link;
    }

    @media (prefers-color-scheme: dark) {
      @include transition-03(all);

      &:hover {
        color: var(--color-brand);
      }
    }
  }
}
