// Links..............Generic link styles.

.link {
  font-weight: $core-tertiary-font-weight;
  border-bottom-width: $core-border-width;
  border-bottom-style: $core-border-style;
  border-bottom-color: $core-color-link;

  @supports (font-variation-settings: 'wght' 400) {
    font-weight: 400;
    font-variation-settings: 'wght' $core-tertiary-font-weight;
  }

  @include min(l) {
    @include transition-03(background-color);

    &:hover {
      background-color: $core-color-link;
    }
  }
}
