// List...............Blog post list styles.

.list {
  padding-left: $core-padding;
  list-style-type: disc;
}

.list__item {
  margin-bottom: ($core-margin * 1.5);
  line-height: $core-secondary-line-height;
}
