// List...............Blog post list styles.

.list {
  margin-bottom: ($core-margin * 2.5);
  margin-left: $core-margin;
  padding-left: ($core-padding * 1.5);
}

.list--ordered {
  list-style-type: decimal;
}

.list--unordered {
  list-style-type: disc;
}

.list__item {
  margin-bottom: $core-margin;

  &:last-child {
    margin-bottom: 0;
  }
}
