// Nav primary........The sites main nav.

.nav {
  position: fixed;
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: min-content;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: $core-color-brand;
  z-index: z(kilo);
}

.nav__item {
  padding: ($core-padding / 2) 0;
  color: $core-color-light;
  text-align: center;
  text-decoration: none;
  @include font-size($nav-font-sizes);

  &:first-child {
    display: none;
  }

  &--active {
    background-color: darken($core-color-brand, 10%);
  }

  @include respond-to(xs) {
    padding-top: ($core-padding / 1.4);
    padding-bottom: ($core-padding / 1.4);
  }
}

.nav__icon {
  display: block;
  width: 30px;
  height: 30px;
  fill: $core-color-light;
  margin: 0 auto;

  @include respond-to(xs) {
    width: 32px;
    height: 32px;
  }
}
