@use "../settings/variables" as _variables;
@use "../tools/functions/z-index" as _z-index;

// Notices............The sites notice styles for JS turned off etc.

.support-notice {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: _variables.$core-color-link;
  padding: (_variables.$core-padding / 2);
  text-align: center;
  opacity: 0.9;
  transition: opacity 250ms;
  z-index: _z-index.z(kilo);

  &:hover {
    opacity: 1;
  }

  p:last-child {
    margin: 0;
  }
}

.support-notice--browser {
  display: none;

  .browser-notice-active & {
    display: block;
  }
}
