@use "../settings/variables" as _variables;
@use "../tools/functions/z-index" as _z-index;
@use "../tools/mixins/responsive" as _responsive;
@use "../tools/mixins/transitions" as _transitions;
@use "../tools/mixins/typography" as _typography;

// Portfolio..........Portfolio section styles.

.portfolio {
  @include _responsive.container;
  position: relative;
  padding-top: (_variables.$core-padding * 3);
  padding-bottom: (_variables.$core-padding * 3);

  @include _responsive.min(l) {
    padding-top: (_variables.$core-padding * 4.5);
    padding-bottom: (_variables.$core-padding * 4.5);
  }
}

.portfolio__heading {
  @include _typography.text(saturn);
  margin-bottom: (_variables.$core-margin / 2);
}

.portfolio__heading-main {
  @include _typography.text(uranus);
}

.portfolio__heading-small {
  @include _typography.text(pluto);
}

.portfolio__sub-text {
  max-width: 550px;
  margin-bottom: (_variables.$core-margin * 3);
}

.portfolio__content {
  @include _responsive.min(m) {
    column-count: 2;
    column-gap: (_variables.$core-margin * 2.2);
  }
}

.portfolio__item {
  position: relative;
  background-color: _variables.$core-color-brand;
  margin-bottom: (_variables.$core-margin * 2.2);
  overflow: hidden;

  @include _responsive.min(m) {
    display: inline-block;
    width: 100%;
    margin-bottom: (_variables.$core-margin * 2);
  }

  @include _responsive.min(l) {
    overflow: hidden;
  }
}

.portfolio__figure {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(_variables.$core-color-foreground, 0.1) 0%,_variables.$core-color-foreground 100%);
    z-index: _z-index.z(alpha);
  }

  @include _responsive.min(l) {
    &::before {
      @include _transitions.transition-03(opacity);
    }

    .js &::before {
      opacity: 0;
    }
  }
}

.portfolio__title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-indent: -9999px;
  z-index: _z-index.z(echo);

  @include _responsive.min(l) {
    &:hover + .portfolio__figure::before,
    &:hover + .portfolio__figure .portfolio__picture::before,
    &:hover + .portfolio__figure .portfolio__caption {
      opacity: 1;
    }
  }
}

.portfolio__picture {
  position: relative;
  display: block;

  &:not(&--square) {
    padding-top: (536 / 800) * 100%;
  }

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% - #{_variables.$core-grid-unit * 2});
    height: calc(100% - #{_variables.$core-grid-unit * 2});
    border-width: _variables.$core-border-width;
    border-style: _variables.$core-border-style;
    border-color: _variables.$core-color-link;
    transform: translate(-50%, -50%);
    z-index: _z-index.z(charlie);
  }

  @include _responsive.min(xs) {
    &::before {
      width: calc(100% - #{_variables.$core-grid-unit * 3});
      height: calc(100% - #{_variables.$core-grid-unit * 3});
    }
  }

  @include _responsive.min(l) {
    &::before {
      @include _transitions.transition-03(opacity);
      width: calc(100% - #{_variables.$core-grid-unit * 4});
      height: calc(100% - #{_variables.$core-grid-unit * 4});
      opacity: 0;
    }
  }
}

.portfolio__picture--square {
  padding-top: (880 / 1000) * 100%;
}

.portfolio__image {
  .no-js & {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.portfolio__caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 0;
  padding-right: (_variables.$core-padding * 2);
  padding-bottom: (_variables.$core-padding * 2.5);
  padding-left: (_variables.$core-padding * 2);
  color: _variables.$core-color-background;
  z-index: _z-index.z(beta);

  @include _responsive.min(xs) {
    padding-right: (_variables.$core-padding * 2.5);
    padding-left: (_variables.$core-padding * 2.5);
  }

  @include _responsive.min(l) {
    @include _transitions.transition-03(opacity);
    padding: (_variables.$core-padding * 4);
    opacity: 0;
  }
}

.portfolio__caption-title {
  @include _typography.text(mars);
  color: _variables.$core-color-background;
}

.portfolio__caption-tags {
  display: inline-block;
  margin-right: (_variables.$core-margin / 2);

  &::after {
    content: ',';
  }

  &:last-child {
    margin-right: 0;

    &::after {
      content: '';
    }
  }
}

.portfolio__caption-category {
  @include _typography.text(earth);
  color: _variables.$core-color-link;
  margin-bottom: 0;
}
