// Portfolio..........Portfolio items/page styles.

.portfolio {
  background-color: #ededed;
  padding: 50px 0;
}

.portfolio__content {

  @include respond-to(m) {
    @include flex(wrap, row, space-between, null);
  }
}

.portfolio__item {
  display: block;
  text-decoration: none;

  @include respond-to(m) {
    width: 50%;
  }

  @include respond-to(l) {
    position: relative;

    &:hover {
      .portfolio__item-caption {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  @include respond-to(xl) {
    width: 33.333333%;
    overflow: hidden;
  }

  &--main {
    background-color: $core-color-light;
    padding: 22px;
    @include flex(wrap, column, center, null);

    @include respond-to(s) {
      min-height: 425px;
      padding: ($core-padding * 4);
    }

    @include respond-to(m) {
      width: 100%;
      min-height: initial;
    }

    @include respond-to(l) {
      position: relative;
      overflow: hidden;
      z-index: z(alpha);

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: $core-color-brand;
        z-index: -1;
        @include transition-03;
      }

      &:hover {

        &::before {
          left: 0;
        }

        .portfolio__item-title,
        .portfolio__item-body {
          color: $core-color-light;
        }

        .btn__line {
          background-color: $core-color-light;
        }
      }
    }

    @include respond-to(xl) {
      width: 33.333333%;
      padding: 22px;
    }
  }
}

.portfolio__item-fig {
  position: relative;
}

.portfolio__item-img {
  width: 100%;

  @include respond-to(xl) {
    width: auto;
    max-width: initial;
    height: 100%;
  }
}

.portfolio__item-caption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($core-color-dark, 0.75);
  @include flex(wrap, column, center, center);

  @include respond-to(l) {
    opacity: 0;
    visibility: hidden;
    @include transition-03;
  }
}

.portfolio__item-title {

  &--white {
    color: $core-color-light;
  }

  &--bold {
    font-weight: $core-secondary-font-weight;
  }

  @include respond-to(l) {
    @include transition-03;
  }
}

.portfolio__item-body {
  text-transform: capitalize;

  &--neutral {
    color: $core-color-neutral;
  }

  &--white {
    color: $core-color-light;
    margin-bottom: 0;
  }

  @include respond-to(l) {
    @include transition-03;
  }
}
