@use "../settings/variables" as _variables;
@use "../tools/mixins/responsive" as _responsive;
@use "../tools/mixins/typography" as _typography;

// Post...............Blog post styles.

.post {
  @include _responsive.container;
  padding-top: (_variables.$core-padding * 3);
  padding-bottom: (_variables.$core-padding * 3);

  @include _responsive.min(l) {
    padding-top: (_variables.$core-padding * 4.5);
    padding-bottom: (_variables.$core-padding * 4.5);
  }
}

.post__content {
  max-width: 45em;
  margin: 0 auto;
}

.post__date {
  @include _typography.text(bodyCopy);
  display: block;
  margin-bottom: (_variables.$core-margin * 2);
}

.post__heading {
  @include _typography.text(saturn);
}

.post__sub-title {
  @include _typography.text(uranus);
}

.post__small-title {
  @include _typography.text(mars);
}
