@use "../settings/variables" as _variables;
@use "../tools/mixins/flexbox" as _flexbox;
@use "../tools/mixins/responsive" as _responsive;
@use "../tools/mixins/typography" as _typography;

// Project............Portfolio item styles.

.project {
  @include _responsive.container;
  padding-top: (_variables.$core-padding * 3);
  padding-bottom: (_variables.$core-padding * 3);

  @include _responsive.min(m) {
    padding-top: (_variables.$core-padding * 4);
    padding-bottom: (_variables.$core-padding * 4);
  }

  @include _responsive.min(l) {
    padding-top: (_variables.$core-padding * 4.5);
    padding-bottom: (_variables.$core-padding * 4.5);
  }
}

.project__container {
  @include _responsive.min(l) {
    @include _flexbox.flex(wrap, row, space-between, null);
  }
}

.project__content {
  @include _responsive.min(l) {
    width: 42%;
    order: 2;
  }
}

.project__heading {
  @include _typography.text(saturn);
}

.project__sub-title {
  @include _typography.text(venus);
}
