@use "../settings/variables" as _variables;
@use "../tools/mixins/flexbox" as _flexbox;
@use "../tools/mixins/responsive" as _responsive;
@use "../tools/mixins/typography" as _typography;

// Push strip.........Push notification strip styles.

.push-strip {
  @include _responsive.container;
  background-color: _variables.$core-color-background;
  padding-top: (_variables.$core-padding * 1.5);
  padding-bottom: (_variables.$core-padding * 1.8);

  &--hide {
    display: none;
  }
}

.push-strip__container {
  @include _flexbox.flex(null, column, null, center);

  @include _responsive.min(m) {
    flex-direction: row;
    justify-content: center;
  }
}

.push-strip__icon {
  width: 80px;
  height: 80px;
}

.push-strip__text {
  @include _typography.text(venus);
  margin-top: _variables.$core-margin;
  margin-bottom: _variables.$core-margin;
  text-align: center;

  @include _responsive.min(m) {
    max-width: 380px;
    margin-top: 0;
    margin-right: (_variables.$core-margin * 2);
    margin-bottom: 0;
    margin-left: (_variables.$core-margin * 1.5);
    text-align: left;
  }

  @include _responsive.min(l) {
    max-width: 65%;
    margin-left: (_variables.$core-margin * 2);
  }
}
