// Quote..............Blockquote styles.

.quote {
  position: relative;
  margin-top: ($core-margin * 5);
  margin-bottom: ($core-margin * 4);
  padding-top: ($core-padding * 4);
  padding-bottom: ($core-padding * 4);
  text-align: center;
  border-top-width: 1px;
  border-top-style: $core-border-style;
  border-top-color: $core-color-neutral;
  border-bottom-width: 1px;
  border-bottom-style: $core-border-style;
  border-bottom-color: $core-color-neutral;
}

.quote__mark {
  position: absolute;
  top: -25px;
  right: 0;
  left: 0;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  padding: ($core-padding / 2);
  background-color: $core-color-link;
  color: $core-color-brand;
  font-size: calc(3em + 0.5vw);
  font-weight: $core-secondary-font-weight;
  line-height: 4rem;
  border-radius: 50%;
}

.quote__body {
  margin-bottom: 0;
  color: $core-color-brand;
  font-family: $core-secondary-font-family;
  font-size: calc(1.1em + 0.5vw);
  font-style: italic;
  font-weight: $core-font-weight;
}
