// Share..............Blog post share styles.

.share {
  display: inline-block;
  text-decoration: none;
  margin-right: ($core-margin * 2);
  margin-bottom: ($core-margin * 3);
}

.share__icon {
  width: 30px;
  height: 30px;

  &--twitter {
    fill: $core-twitter-color;
  }

  &--linkedin {
    fill: $core-linkedin-color;
  }

  @include respond-to(l) {
    width: 35px;
    height: 35px;
  }
}
