@use "../settings/variables" as _variables;
@use "../tools/functions/z-index" as _z-index;
@use "../tools/mixins/typography" as _typography;

// Skip links.........The sites skip to links.

.skip-link {
  @include _typography.text(earth);
  position: absolute;
  top: 0;
  left: 0;
  background-color: _variables.$core-color-brand;
  color: _variables.$core-color-background;
  margin: 0;
  padding-top: _variables.$core-padding;
  padding-right: (_variables.$core-padding/ 2);
  padding-bottom: _variables.$core-padding;
  padding-left: (_variables.$core-padding/ 2);
  text-align: center;
  text-decoration: none;
}

.skip-link--hidden {
  position: absolute;
  width: 100%;
  height: auto;
  overflow: hidden;
  clip: rect(0 0 0 0);

  &:active,
  &:focus {
    clip: auto;
    overflow: visible;
    z-index: _z-index.z(kilo);
  }
}
