// Skip links.........The sites skip to links.

.skip-link {
  position: absolute;
  top: 0;
  left: 20px;
  background-color: $core-color-dark;
  margin: 0;
  padding: 0 ($core-padding / 2);
  color: $core-color-brand;
  font-size: ($core-font-size * 1.05);
  font-weight: $core-secondary-font-weight;
  text-align: center;
  @include flex(null, column, center, center);
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);

  &:active,
  &:focus {
    width: auto;
    height: 100%;
    margin: 0;
    overflow: visible;
    clip: auto;
    overflow: visible;
    z-index: z(juliet);
  }
}
