// Skip links.........The sites skip to links.

.skip-link {
  @include text(earth);
  position: absolute;
  top: 0;
  left: 0;
  background-color: $core-color-brand;
  color: $core-color-background;
  margin: 0;
  padding-top: $core-padding;
  padding-right: ($core-padding/ 2);
  padding-bottom: $core-padding;
  padding-left: ($core-padding/ 2);
  text-align: center;
  text-decoration: none;
}

.skip-link--hidden {
  position: absolute;
  width: 100%;
  height: auto;
  overflow: hidden;
  clip: rect(0 0 0 0);

  &:active,
  &:focus {
    clip: auto;
    overflow: visible;
    z-index: z(kilo);
  }
}
