// Symbol.............Symbol block styles.

.symbol {
  display: none;

  @include respond-to(xs) {
    display: inline-block;
    width: 60px;
    height: 60px;
    padding: 3%;
    transform: translateY(-50%);
    z-index: z(alpha);

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      left: 0;
      width: 90%;
      height: 90%;
      margin: 0 auto;
      transform: translateY(-50%);
      z-index: -1;
    }

    &::after {
      content: '';
      position: absolute;
      top: 42%;
      left: 42%;
      width: 100%;
      height: 100%;
      z-index: -2;
    }

    &--primary {
      position: absolute;
      top: calc(50% - 12px);
      right: 55px;
      background-color: $core-color-light;

      &::before {
        border: 3px $core-border-style $core-color-brand;
      }

      &::after {
        border: 5px $core-border-style $core-color-light;
      }
    }

    &--secondary {
      position: relative;
      background-color: $core-color-brand;
      margin-top: 30px;
      margin-right: 26px;

      &::before {
        border: 3px $core-border-style $core-color-light;
      }

      &::after {
        border: 5px $core-border-style $core-color-brand;
      }
    }
  }
}

.symbol__icon {
  width: 100%;
  height: 100%;

  &--primary {
    fill: $core-color-brand;
  }

  &--secondary {
    fill: $core-color-light;
  }
}
