// Twitter............Twitter feed styles.

.twitter {
  display: none;

  @include respond-to(l) {
    display: block;
  }
}

.twitter__item {
  color: $core-color-dark;
  margin-bottom: ($core-margin * 1.5);
  @include flex(wrap, row, flex-start, null);

  @include respond-to(m) {
    margin-bottom: ($core-margin * 2);
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.twitter__icon {
  width: 25px;
  height: 25px;
  fill: #61afef;
  margin-right: ($core-margin / 2);
}

.twitter__body {
  flex: 1;
  line-height: 1.5;
}
