---
tags: projects
title: "Portfolio 2017"
description: "Portfolio 2017"
category: Website
date: 2018-01-14
stack: [Scss,Vanilla JS,Gulp,Handlebars,Babel]
home: false
about: false
project: true
changefreq: monthly
priority: 0.8
browserImage:
  desktop: //images.ctfassets.net/66vjslfacivy/7AU3MsjLBLFJ0cPydNJAPA/2de45d5cc12b06e663926d6145e14d6c/portfolio-2017-desktop.jpg
  mobile: //images.ctfassets.net/66vjslfacivy/2t8O0ZYidiHjcnVl0kMyy6/6272cff63eadeb11c510d81814f08f64/portfolio-2017-mobile.jpg
  alt: Desktop screenshot of Alex's website portfolio made in 2017.
deviceImages:
  one:
    url: //images.ctfassets.net/66vjslfacivy/ZpOFGidMZRmjGxI7o2LCl/d4e0f2cacace03663703deb52efb303f/website-portfolio-2017-home.jpg
    alt: Mobile screenshot of homepage from Alex's website portfolio made in 2017.
  two:
    url: //images.ctfassets.net/66vjslfacivy/2fSREoUj8ufpK0ln21lWJN/9629bc82c45f316b0fb095cf51b51210/website-portfolio-2017-about.jpg
    alt: Mobile screenshot of about me page from Alex's website portfolio made in 2017.
  three:
    url: //images.ctfassets.net/66vjslfacivy/1sn6ItR97l45KpjkeyeFrm/e281d5347ade297fed28a4789cc19af3/website-portfolio-2017-blog.jpg
    alt: Mobile screenshot of blog page from Alex's website portfolio made in 2017.
thumbnail:
  url: //images.ctfassets.net/66vjslfacivy/2iIxuI1wyrvA4W6DYCDO7r/49f49072b64440fd3143d52c9eb3b513/portfolio-2017-thumbnail.jpg
  alt: "Alex's 2017 website displayed on an iMac Pro screen."
  square: true
layout: _layouts/project
---

<p>Le 6eme continent est un endroit unique ou les voyageurs du monde entier se retrouvent pour experimenter le meilleur de lunivers du luxe.</p>

<p>Pour les marques et Maisons, cest un lieu privilegie de rencontre et séduction dune audience nouvelle via une expérience immersive inoubliable.</p>

<p>Leur metier: accompagner dans la conception et limplémentation de cette expérience unique. Ils deploient leur savoir-faire, leurs compétences et expertises variés ainsi que leurs données qualitatives et quantitatives au service d’opérations à travers le monde.</p>

<span class="project__sub-title">Year</span>
<p>2017</p>

<span class="project__sub-title">Client</span>
<p>Manchester Metropolitan University</p>

<span class="project__sub-title">Mission</span>
<p>To create a webiste portfolio using our own skill set and without the use of any frameworks.</p>