<main class="banner banner--404">
    <div class="banner__content banner__content--404 container">
        <div class="banner__item--404">
            <h1 class="banner__title banner__title--404">Oops! This isn't the right page. &#x1F914;</h1>
            <p class="banner__body banner__body--404"><strong>Yikes!</strong> I'm afraid it looks like this page doesn't exist. Try going back or press the button below to return home.</p>

            <a class="info-block__button button button--primary" href="/">
                Go back home
                <svg class="button__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" stroke-linecap="round" stroke-linejoin="round" d="M4.5 16.61l7.06 5.65 7.05-5.65m-7.05 5.65V2.5"/></svg>
            </a>
        </div>

        <div class="banner__item--404">
            <img class="banner__img--404" src="/images/404.jpg" alt="Torn paper hole revealing Alex pulling a funny face.">
        </div>
    </div>
</main>
