<main class="info-block notch" id="main">
    <picture class="info-block__picture">
        <source media="(max-width: 640px)" srcset="/images/banner/banner-about-mobile.jpg">
        <source media="(min-width: 640px)" srcset="/images/banner/banner-about-desktop.jpg">
        <img class="info-block__image" src="/images/banner/banner-about-desktop.jpg" alt="Wide shot of Alex Clapperton sat down working on his laptop.">
    </picture>

    <div class="info-block__inner">
        <h2>Who am I?</h2>

        <p>I'm Alex, a Front-end Web Developer from the UK. My passion is to build beautiful and responsive websites with accessibility at the heart of it. I am currently working as a {{data.global.jobTitle}} for <a class="link" href="{{data.global.employerUrl}}" rel="external">{{data.global.employer}}</a>, a digital agency based in Manchester.</p>

        <p>I thrive off learning new skills, being challenged daily and having to prove myself under pressure and being part of such young and dynamic industry is the perfect motivation for me to keep improving myself both professionally and personally.</p>

        <a class="info-block__button button button--primary" href="/contact/">
            Get in touch
            <svg class="button__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" stroke-linecap="round" stroke-linejoin="round" d="M4.5 16.61l7.06 5.65 7.05-5.65m-7.05 5.65V2.5"/></svg>
        </a>
    </div>
</main>

<section class="blocks notch">
    <div class="blocks__container">
        <h3 class="blocks__title hide" data-fade>Fun facts</h3>
        <p class="blocks__subText hide" data-fade>Here are some facts about me that I think you may find interesting and hopefully make you giggle along the way.</p>

        <div class="blocks__content hide" data-fade>
            <div class="blocks__item">
                <h4 class="blocks__item-title">To pun or <span class="blocks__item-title--strike">not</span> to pun?</h4>
                <p class="blocks__item-body">I absolutley love a good pun, and by good pun, I mean a bad pun. Bad puns are the best. Making puns is something I do on a daily basis. I am in constant competiton with my work colleagues and I usually come out on top.</p>
            </div>

            <div class="blocks__item hide" data-fade>
                <h4 class="blocks__item-title">Football is my game</h4>
                <p class="blocks__item-body">Football has been a big part of my life ever since my childhood. It is my favourite sport and I play the 5-a-side format on a regular basis. I support none other than the almighty boys in blue, Manchester City.</p>
            </div>

            <div class="blocks__item hide" data-fade>
                <h4 class="blocks__item-title">Super addicted to Apple</h4>
                <p class="blocks__item-body">If there is definitely one thing I am known for then it's my love for Apple. I am absolutley obsessed with buying the latest Apple products. It is like a drug. I have been a fan of Apple since the launch of the original iPhone back in 2007.</p>
            </div>
        </div>
    </div>
</section>

<section class="articles notch">
    <div class="articles__container hide" data-fade>
        <small class="articles__title-small">Read my</small>
        <h3 class="articles__title-main">Latest articles</h3>
        <div class="articles__content">
            {{#eachUpTo articles 3}}
              {{>articles}}
            {{/eachUpTo}}
        </div>
        <a class="button button--secondary" href="/articles/">
            View articles
            <svg class="button__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" stroke-linecap="round" stroke-linejoin="round" d="M4.5 16.61l7.06 5.65 7.05-5.65m-7.05 5.65V2.5"/></svg>
        </a>
    </div>
</section>
