<main class="contact 📱" id="main">
    <article class="contact__content 🖼">
        <h2 class="contact__title">Drop me a line</h2>
        <p>Got a question to ask? Then please, don't hesitate to get in touch with me. Whether it's a question rearding potential work, about my website, or if you just want to say hi.</p>
        <p>You can contact me by filling in the super simple form below:</p>

        <form class="form" action="" method="post">
            <fieldset class="form__fieldset">
                <legend class="form__legend">Enter your name, email and your message.</legend>

                <div class="form__field">
                    <label class="form__label" id="nameLabel" for="name">Name *</label>
                    <input class="form__input" id="name" type="text" aria-required="true" aria-labelledby="nameLabel" aria-describedby="nameDescribe" required>
                    <small class="form__input-describe" id="nameDescribe">Your name is required</small>
                </div>

                <div class="form__field">
                    <label class="form__label" id="emailLabel" for="email">Email *</label>
                    <input class="form__input" id="email" type="email" aria-required="true" aria-labelledby="emailLabel" aria-describedby="emailDescribe" required>
                    <small class="form__input-describe" id="emailDescribe">Please enter a valid email address</small>
                </div>

                <div class="form__field">
                    <label class="form__label" id="messageLabel" for="message">Name *</label>
                    <textarea class="form__textarea" name="message" aria-required="true" aria-labelledby="messageLabel" aria-describedby="messageDescribe" required></textarea>
                    <small class="form__input-describe" id="messageDescribe">Please enter your message</small>
                </div>
            </fieldset>
        </form>

        <aside class="contact__sidebar">

        </aside>
    </article>
</main>
