---
tags: projects
title: "Portfolio 2015"
description: "Portfolio 2015"
category: Website
date: 2017-09-01
stack: [HTML,Sass,jQuery,Gulp]
home: false
about: false
project: true
browserImage:
  desktop: //images.ctfassets.net/66vjslfacivy/5D23tlD0RIYlMBGIwjmNZg/d9031dd18780e6349d42af884ccd6c00/portfolio-2015-desktop.jpg
  mobile: //images.ctfassets.net/66vjslfacivy/1j6atrVqaraXx9zvqseNMP/73b222986f3b5a3d9d23b3d33d83a7a5/portfolio-2015-mobile.jpg
  alt: Desktop screenshot of Alex's website portfolio made in 2015.
deviceImages:
  one:
    url: //images.ctfassets.net/66vjslfacivy/2VDLHDcPimvS47g0hAReFs/b50661fff850916f776297796eb9d650/portfolio-2015-home.jpg
    alt: Mobile screenshot of homepage from Alex's website portfolio made in 2015.
  two:
    url: //images.ctfassets.net/66vjslfacivy/GXv5Ujf0hi9fuIiueF4h4/94dddf042b974c9558c77cbdb4eca30f/portfolio-2015-portfolio.jpg
    alt: Mobile screenshot of portfolio page from Alex's website portfolio made in 2015.
  three:
    url: //images.ctfassets.net/66vjslfacivy/3HRFQXkdQnJReVRd5rlbBe/9e99ea6b86be71e68d302f18b28f1ba8/portfolio-2015-blog.jpg
    alt: Mobile screenshot of blog page from Alex's website portfolio made in 2015.
thumbnail:
  url: //images.ctfassets.net/66vjslfacivy/4SFvMVKTL2lmtQmSj2LhgL/464d07bbe8bb92501797c04f586c7efe/portfolio-2015-thumbnail.jpg
  alt: "Alex's 2015 website displayed on a MacBook Pro"
  square: false
layout: _layouts/project
---

<p>Le 6eme continent est un endroit unique ou les voyageurs du monde entier se retrouvent pour experimenter le meilleur de lunivers du luxe.</p>

<p>Pour les marques et Maisons, cest un lieu privilegié de rencontre et séduction dune audience nouvelle via une expérience immersive inoubliable.</p>

<p>Leur metier : accompagner dans la conception et limplementation de cette expérience unique. Ils deploient leur savoir-faire, leurs compétences et expertises variés ainsi que leurs donnees qualitatives et quantitatives au service d’opérations à travers le monde.</p>

<span class="project__sub-title">Year</span>
<p>2017</p>

<span class="project__sub-title">Client</span>
<p>Manchester Metropolitan University</p>

<span class="project__sub-title">Mission</span>
<p>To create a webiste portfolio using our own skill set and without the use of any frameworks.</p>