---
tags: projects 
title: "Portfolio 2015" 
layout: _layouts/project
---

<p>Le 6eme continent est un endroit unique ou les voyageurs du monde entier se retrouvent pour experimenter le meilleur de lunivers du luxe.</p>

<p>Pour les marques et Maisons, cest un lieu privilegié de rencontre et séduction dune audience nouvelle via une expérience immersive inoubliable.</p>

<p>Leur metier : accompagner dans la conception et limplementation de cette expérience unique. Ils deploient leur savoir-faire, leurs compétences et expertises variés ainsi que leurs donnees qualitatives et quantitatives au service d’opérations à travers le monde.</p>

<span class="project__sub-title">Year</span>
<p>2017</p>

<span class="project__sub-title">Client</span>
<p>Manchester Metropolitan University</p>

<span class="project__sub-title">Mission</span>
<p>To create a webiste portfolio using our own skill set and without the use of any frameworks.</p>

<a class="button button--primary" href="#">
    Visit website
    <svg class="button__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" stroke-linecap="round" stroke-linejoin="round" d="M4.5 16.61l7.06 5.65 7.05-5.65m-7.05 5.65V2.5"/></svg>
</a>