{{> head}}

{{> navigation}}

{{> banner}}

<div class="notch" itemscope itemtype="http://schema.org/BlogPosting">
    <main class="post" id="main">
        <div class="post__container">
            <div class="post__content">
                <article class="post__article">
                    <time class="post__date" datetime="{{article.date}}" itemprop="datePublished"><strong>Published on:</strong> {{readableDate}}</time>

                    {{{body}}}
                </article>
            </div>
        </div>
    </main>

    {{>push}}
</div>

{{> footer}}
