.btn-primary {
  display: inline-block;
  font-family: $core-font-family;
  @include font-size($p-font-sizes);
  padding: 8px 15px;
  text-decoration: none;

  @include respond-to(l) {
    cursor: pointer;
  }
}

.btn-primary--contact {
  margin-top: 25px;
}

.btn-primary--no-padding {
  display: inline-block;
  font-size: ($core-font-size * 1.15);
  font-weight: $core-secondary-font-weight;
  text-decoration: none;

  @include respond-to(l) {

    &:hover .btn-primary__icon {
      margin-left: 10px;
    }
  }
}

.btn-primary--no-padding-pink {
  color: $core-color-brand;
}

.btn-primary--pink {
  background: $core-color-brand;
  color: $core-color-light;

  @include respond-to(l) {
    &:hover, &:focus {
      @include cd-pulse;
    }
  }
}

.btn-primary--grey {
  background: $core-color-dark;
  color: $core-color-light;
}

.btn-primary__text {
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
}

.btn-primary__flex {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.btn-primary__icon {
  size: 19px;
  vertical-align: middle;
}

.btn-primary__icon--pink {
  fill: $core-color-brand;
}

.btn-primary__icon--white {
  fill: $core-color-light;
}

.btn-portfolio {
  background: $core-color-brand;
  color: $core-color-light;
  font-family: $core-secondary-font-family;
  font-size: ($core-font-size * 1.3);
  font-weight: $core-font-weight;
  letter-spacing: 0.5px;
  padding: $core-grid-unit;
  margin-bottom: 10px;
  text-align: center;

  &:last-child {
    margin-bottom: 0;
  }

  @include respond-to(s) {
    min-width: 150px;
    padding: $core-grid-unit 15px;
    margin-right: 10px;
    margin-bottom: 0;
  }

  @include respond-to(l) {
    padding: 8px 15px;
    cursor: pointer;
    @include transition-025;

    &:hover {
      background: $core-color-dark;
    }
  }
}

.btn-portfolio--active {
  background: $core-color-dark;
}
