// Buttons

.btn-primary {
  display: inline-block;
  font-family: $core-font-family;
  @include font-size($p-font-sizes);
  padding: 8px 15px 11px 15px;
  text-decoration: none;

  @include respond-to(l) {
    cursor: pointer;

    &:hover,
    &:focus {
      @include cd-pulse;
    }
  }
}

.btn-primary--large {
  padding: 12px 60px 16px 60px;
}

.btn-primary--contact {
  margin-top: 25px;
}

.btn-primary--margin {
  margin-bottom: $core-grid-unit;

  @include respond-to(m) {
    margin-right: $core-grid-unit;
    margin-bottom: 0;
  }
}

.btn-primary--no-padding {
  display: inline-block;
  font-size: ($core-font-size * 1.15);
  font-weight: $core-secondary-font-weight;
  text-decoration: none;

  @include respond-to(l) {

    &:hover .btn-primary__icon {
      margin-left: 10px;
    }
  }
}

.btn-primary--no-padding-blue {
  color: $core-color-brand;
}

.btn-primary--blue {
  background: $core-color-brand;
  color: $core-color-light;
}

.btn-primary--grey {
  background: $core-color-dark;
  color: $core-color-light;
}

.btn-primary__text {
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
}

.btn-primary__text--large {
  @include font-size($h4-font-sizes);
}

.btn-primary__flex {
  margin-top: ($core-margin * 2);
  @include grid(wrap, row, center);

  @include respond-to(m) {
    margin-top: 0;
  }
}

.btn-primary__flex--center {
  height: 100%;
  @include align-items(center);
}

.btn-primary__flex--home {
  @include justify-content(flex-start);

  @include respond-to(m) {
    @include justify-content(flex-end);
  }
}

.btn-primary__icon {
  size: 19px;
  margin-left: 2px;
  vertical-align: middle;
}

.btn-primary__icon--blue {
  fill: $core-color-brand;
}

.btn-primary__icon--white {
  fill: $core-color-light;
}

.btn-portfolio {
  background: $core-color-brand;
  color: $core-color-light;
  font-family: $core-font-family;
  font-weight: $core-font-weight;
  margin-bottom: 10px;
  padding: $core-grid-unit;
  text-align: center;

  &:last-child {
    margin-bottom: 0;
  }

  @include respond-to(s) {
    min-width: 150px;
    margin-right: 10px;
    margin-bottom: 0;
    padding: $core-grid-unit 15px;
  }

  @include respond-to(l) {
    padding: 8px 15px;
    cursor: pointer;
    @include transition-025;

    &:hover {
      background: $core-color-dark;
    }
  }
}

.btn-portfolio--active {
  background: $core-color-dark;
}
