.btn-primary {
  display: inline-block;
  font-family: $core-font-family;
  @include font-size($p-font-sizes);
  padding: 8px 15px;
  text-decoration: none;

  @include respond-to(l) {
    cursor: pointer;
  }
}

.btn-primary--contact {
  margin-top: 25px;
}

.btn-primary--no-padding {
  display: inline-block;
  font-size: ($core-font-size * 1.15);
  font-weight: $core-secondary-font-weight;
  text-decoration: none;

  @include respond-to(l) {

    &:hover .btn-primary__icon {
      margin-left: 10px;
    }
  }
}

.btn-primary--pink {
  background: $core-color-brand;
  color: $core-color-light;

  @include respond-to(l) {
    &:hover, &:focus {
      @include cd-pulse;
    }
  }
}

.btn-primary--grey {
  background: $core-color-dark;
  color: $core-color-light;
}

.btn-primary__text {
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
}

.btn-primary__flex {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.btn-primary__icon {
  size: 19px;
  vertical-align: middle;
}

.btn-primary__icon--pink {
  fill: $core-color-brand;
}

.btn-primary__icon--white {
  fill: $core-color-light;
}
