{% include "_partials/head.njk" %}
{% include "_partials/components/navigation.njk" %}
{% include "_partials/components/banner.njk" %}

{{content | safe}}

{% include "_partials/components/footer.njk" %}
