{% include "_partials/head.njk" %}
{% include "_partials/components/navigation.njk" %}
{% include "_partials/components/banner.njk" %}

<div class="pr-safe pl-safe">
    <main class="bg-slate-800 [padding-block:32px] md:[padding-block:48px]" id="main">
        <div class="container [margin-inline:auto] [padding-inline:16px]">
            <article class="text-white [max-inline-size:45rem] [margin-inline:auto]">
                <time class="block [margin-block-end:24px]" datetime="{{datePublished}}"><strong class="fvs-md">Published on:</strong> {{datePublished | formatDate}}</time>

                {{content | safe}}
            </article>
        </div>
    </main>

    {% include "_partials/components/push.njk" %}
</div>

{% include "_partials/components/footer.njk" %}
