{% include "_partials/head.njk" %}
{% include "_partials/components/navigation.njk" %}
{% include "_partials/components/banner.njk" %}

<div class="notch">
    <main class="post" id="main">
        <div class="post__container">
            <div class="post__content">
                <article class="post__article">
                    <time class="post__date" datetime="{{article.date}}"><strong>Published on:</strong> {{readableDate}}</time>

                    {{content | safe}}
                </article>
            </div>
        </div>
    </main>

    {% include "_partials/components/push.njk" %}
</div>

{% include "_partials/components/footer.njk" %}
