{% include "_partials/head.njk" %}
{% include "_partials/navigation.njk" %}
{% include "_partials/banner.njk" %}

<main class="project notch" id="main">
    <div class="project__container">
        <div class="project__content">
            <h2 class="project__heading">Project details</h2>
            {{content | safe}}

            {# <a class="button button--primary" href="#">
                Visit website
                <svg class="button__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" stroke-linecap="round" stroke-linejoin="round" d="M4.5 16.61l7.06 5.65 7.05-5.65m-7.05 5.65V2.5"/></svg>
            </a> #}
        </div>

        <div class="browser hide" data-fade>
            <svg class="browser__bar" xmlns="http://www.w3.org/2000/svg" width="801" height="23" viewBox="0 0 801 23"><path fill="#f1f1f1" d="M801 23H0V4c0-2.8 3.3-4 6.1-4H797c2.8 0 4.1 1.2 4.1 4v19z"/><path fill="#e74c3c" d="M9.4 11.5a4.7 4.7 0 1 0 9.4 0 4.7 4.7 0 1 0-9.4 0"/><path fill="#f1c40f" d="M24.8 11.5a4.7 4.7 0 1 0 9.4 0 4.7 4.7 0 1 0-9.4 0"/><path fill="#2ecc71" d="M40.2 11.5a4.7 4.7 0 1 0 9.4 0 4.7 4.7 0 1 0-9.4 0"/></svg>

            <div class="browser__wrapper">
                <picture class="browser__picture">
                    <source media="(max-width: 50em)" data-srcset="{{browserImage.mobile}}">
                    <img class="browser__image lazyload__image lazyload" data-src="{{browserImage.desktop}}" alt="{{project.browserAlt}}" data-lazy>

                    <noscript>
                        <source media="(max-width: 50em)" srcset="{{browserImage.mobile}}">
                        <img class="browser__image" src="{{browserImage.desktop}}" alt="{{project.browserAlt}}">
                    </noscript>
                </picture>
            </div>
        </div>
    </div>
</main>

<section class="devices notch">
    <div class="devices__container">
    {% for item in deviceImages %}
        {% include "_partials/devices.njk" %}
    {% endfor %}
    </div>
</section>

{% include "_partials/footer.njk" %}
