/**
* Main font family
*/
@font-face {
  font-family: "Inconsolata";
  src: url("../fonts/inconsolata/inconsolata-regular.eot"); /* IE9 */
  src: url("../fonts/inconsolata/inconsolata-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/inconsolata/inconsolata-regular.woff") format("woff"), /* chrome, firefox */
  url("../fonts/inconsolata/inconsolata-regular.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url("../fonts/inconsolata/inconsolata-regular.svg#Inconsolata") format("svg"); /* iOS 4.1- */
  font-style: normal;
  font-weight: $core-font-weight;
}
@font-face {
  font-family: "Inconsolata";
  src: url("../fonts/inconsolata/inconsolata-bold.eot"); /* IE9 */
  src: url("../fonts/inconsolata/inconsolata-bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/inconsolata/inconsolata-bold.woff") format("woff"), /* chrome, firefox */
  url("../fonts/inconsolata/inconsolata-bold.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url("../fonts/inconsolata/inconsolata-bold.svg#Inconsolata") format("svg"); /* iOS 4.1- */
  font-style: normal;
  font-weight: $core-tertiary-font-weight;
}

/**
* Secondary font family
*/
@font-face {
  font-family: "Dosis";
  src: url("../fonts/dosis/dosis-regular.eot"); /* IE9 */
  src: url("../fonts/dosis/dosis-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/dosis/dosis-regular.woff") format("woff"), /* chrome, firefox */
  url("../fonts/dosis/dosis-regular.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url("../fonts/dosis/dosis-regular.svg#Dosis") format("svg"); /* iOS 4.1- */
  font-style: normal;
  font-weight: $core-font-weight;
}
@font-face {
  font-family: "Dosis";
  src: url("../fonts/dosis/dosis-semi-bold.eot"); /* IE9 */
  src: url("../fonts/dosis/dosis-semi-bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/dosis/dosis-semi-bold.woff") format("woff"), /* chrome, firefox */
  url("../fonts/dosis/dosis-semi-bold.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url("../fonts/dosis/dosis-semi-bold.svg#Dosis") format("svg"); /* iOS 4.1- */
  font-style: normal;
  font-weight: $core-secondary-font-weight;
}

$text-styles-default: (
  body-1: (
    description: 'basic text style for body copy',
    font-family: $core-font-family,
    font-size: $core-font-size,
    line-height: $core-line-height,
    color: $core-color-dark,
    font-weight: $core-font-weight,
    margin-top: 0,
    margin-bottom: 25px,
  ),
  body-2: (
    description: 'lighter text used for subsidiary copy',
    font-family: $core-font-family,
    font-size: $core-font-size,
    line-height: $core-line-height,
    color: $core-color-dark,
    font-weight: $core-font-weight
  ),
  body-3: (
    description: 'heavier text for highlighting paragraphs e.g. intro paragraphs',
    font-family: inherit,
    font-size: $core-font-size,
    line-height: $core-line-height,
    color: $core-color-dark,
    font-weight: $core-secondary-font-weight
  ),
  display-1: (
    description: 'Default Level 1 heading style',
    font-family: $core-secondary-font-family,
    font-size: $core-grid-unit * 2.5,
    line-height: $core-grid-unit * 3.5,
    color: $core-color-brand,
    display: block,
    padding: 0,
    margin: 0 0 $core-margin 0,
    font-weight: $core-font-weight,
    -webkit-font-smoothing: antialiased,
    -webkit-text-size-adjust: 100%,
    -ms-text-size-adjust: 100%
  ),
  display-2: (
    description: 'Default Level 2 heading style',
    font-family: $core-secondary-font-family,
    font-size: $core-grid-unit * 2.25,
    line-height: $core-grid-unit * 3.5,
    color: $core-color-dark,
    display: block,
    padding: 0,
    margin: 0 0 $core-margin 0,
    font-weight: $core-secondary-font-weight,
    -webkit-font-smoothing: antialiased,
    -webkit-text-size-adjust: 100%,
    -ms-text-size-adjust: 100%
  ),
  display-3: (
    description: 'Default Level 3 heading style',
    font-family: $core-secondary-font-family,
    font-size: $core-grid-unit * 1.8,
    line-height: $core-grid-unit * 3.5,
    color: $core-color-brand,
    display: block,
    padding: 0,
    margin: 0 0 $core-margin 0,
    font-weight: $core-font-weight,
    -webkit-font-smoothing: antialiased,
    -webkit-text-size-adjust: 100%,
    -ms-text-size-adjust: 100%
  ),
  display-4: (
    description: 'Default Level 4 heading style',
    font-family: $core-secondary-font-family,
    font-size: $core-grid-unit * 1.3,
    line-height: 1.3,
    color: $core-color-dark,
    display: block,
    padding: 0,
    margin: 0 0 0 0,
    font-weight: $core-secondary-font-weight,
    -webkit-font-smoothing: antialiased,
    -webkit-text-size-adjust: 100%,
    -ms-text-size-adjust: 100%
  ),
  display-5: (
    description: 'Default Level 5 heading style',
    font-family: $core-secondary-font-family,
    font-size: $core-grid-unit * 1.25,
    line-height: $core-grid-unit * 3.5,
    color: $core-color-dark,
    display: block,
    padding: 0,
    margin: 0 0 $core-margin 0,
    font-weight: $core-font-weight,
    -webkit-font-smoothing: antialiased,
    -webkit-text-size-adjust: 100%,
    -ms-text-size-adjust: 100%
  )
);


/**
* generate text style css for named style.
*
* Use the text mixin to apply a text style to a class, specify the text style name either from the default styles or from any custom text styles which have been defined for the site in `$text-styles-site`.
*
* @example
* ```scss
* .myclass{
*     \@include text('body-1');
* }
* ```
* ```html
* <p class="myclass">lorem ipsum</p>
* ```
*
* @group Toolkit
* @component Text
*/
@mixin text($style: 'body-1') {
  // merge any custom typography styles into the defaults
  $text-styles-all: $text-styles-default;
  @if variable-exists('text-styles-site') {
    @if type-of($text-styles-site) == map {
      $text-styles-all: map-merge($text-styles-default, $text-styles-site);
    }
  }
  // get the named style spec
  $props: map-get($text-styles-all, $style);
  @if type-of($props) == map {
    @include map-to-props($props);
  }
}
