/**
* Main font family
*/
@font-face {
  font-family: "Inconsolata";
  src: url("../fonts/inconsolata/inconsolata-regular.eot"); /* IE9 */
  src: url("../fonts/inconsolata/inconsolata-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/inconsolata/inconsolata-regular.woff") format("woff"), /* chrome, firefox */
  url("../fonts/inconsolata/inconsolata-regular.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url("../fonts/inconsolata/inconsolata-regular.svg#Inconsolata") format("svg"); /* iOS 4.1- */
  font-style: normal;
  font-weight: $core-font-weight;
}
@font-face {
  font-family: "Inconsolata";
  src: url("../fonts/inconsolata/inconsolata-bold.eot"); /* IE9 */
  src: url("../fonts/inconsolata/inconsolata-bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/inconsolata/inconsolata-bold.woff") format("woff"), /* chrome, firefox */
  url("../fonts/inconsolata/inconsolata-bold.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url("../fonts/inconsolata/inconsolata-bold.svg#Inconsolata") format("svg"); /* iOS 4.1- */
  font-style: normal;
  font-weight: $core-tertiary-font-weight;
}

/**
* Secondary font family
*/
@font-face {
  font-family: "Dosis";
  src: url("../fonts/dosis/dosis-regular.eot"); /* IE9 */
  src: url("../fonts/dosis/dosis-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/dosis/dosis-regular.woff") format("woff"), /* chrome, firefox */
  url("../fonts/dosis/dosis-regular.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url("../fonts/dosis/dosis-regular.svg#Dosis") format("svg"); /* iOS 4.1- */
  font-style: normal;
  font-weight: $core-font-weight;
}
@font-face {
  font-family: "Dosis";
  src: url("../fonts/dosis/dosis-semi-bold.eot"); /* IE9 */
  src: url("../fonts/dosis/dosis-semi-bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/dosis/dosis-semi-bold.woff") format("woff"), /* chrome, firefox */
  url("../fonts/dosis/dosis-semi-bold.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url("../fonts/dosis/dosis-semi-bold.svg#Dosis") format("svg"); /* iOS 4.1- */
  font-style: normal;
  font-weight: $core-secondary-font-weight;
}
