---
tags: articles
title: "Performance and optimisation: Getting your website up to speed"
description: "A taste into some of the fantastic methods I have come across to optimise my website and increase performance."
datePublished: 2016-10-28
dateModified: 2019-02-23
slug: 2016/performance-and-optimisation-getting-your-website-up-to-speed
external: false
home: false
about: false
post: true
changefreq: monthly
priority: 0.8
thumbnail:
  url: //images.ctfassets.net/66vjslfacivy/60L2n88tjwgYuvFaPBKidf/95b1b44fc8ac52fcafa4c8bb5adea7d7/website-performance.jpg
  alt: "Performance dial with indicator at 100%."
layout: _layouts/post
---

<h2 class="post__heading">Performance and optimisation</h2>

<p class="post__body">So, you have a <a class="link" href="https://www.youtube.com/watch?v=tRFHXMQP-QU" title="External link to supercalifragilisticexpialidocious song from Mary Poppins film.">supercalifragilisticexpialidocious</a> looking website and the time has come to check if your website is optimised and can perform as good as a v8 car engine. You've come across a variety of tools and techniques, but with so many of them out there you find yourself pulling out your hair trying to decide which ones to choose. Well, have no fear. In this post I will showcase a few of the easiest methods I have come across and implemented on this website that you can use to check your websites health. So stethoscopes at the ready.</p>

<h3 class="post__sub-title">Code validation</h3>

<p class="post__body">Making sure your code is validated is a vital part when checking your websites optimisation. Not only does it make maintaining the code a lot easier, it also helps to teach good practice amongst developers and can lead to more complex quality code such as accessibility.</p>

<p class="post__body">One very easy method of checking if your HTML code for example is fully validated is by heading over to the <a class="link" href="https://validator.w3.org/" title="External link to W3C Markup Validation Service website.">W3C Markup Validation Service</a> website. Here you have the option to input your website url, if your website is live, you can also validate your code by uploading files or you can directly input your HTML code.</p>

<figure class="figure">
    <div style="position:relative; padding-top: 49.375%;">
        <img class="figure__img lazyload__image lazyload" data-src="/images/articles/post/w3c-validator.jpg" alt="W3C HTML Validator result of Alex's website. Results snow website is HTML validated." data-lazy>
    </div>
    <noscript>
        <img class="figure__img" src="/images/articles/post/w3c-validator.jpg" alt="W3C HTML Validator result of Alex's website. Results snow website is HTML validated.">
    </noscript>
<figcaption class="figure__caption">W3C HTML Validator</figcaption>
</figure>

<h3 class="post__sub-title">Page optimisation</h3>

<p class="post__body">So now you have a beautifully validated website it's time to move on to checking how optimised your website is. Also, making sure your website is optimised for mobile devices is just as important. An interesting article on the <a class="link" href="http://blog.teamtreehouse.com/10-reasons-website-needs-mobile-optimized" title="External link to Team Treehouse blog post on 10 reasons on why to optimise your website for mobile.">Team Treehouse Blog</a> gives you 10 reasons on why to optimise your website for mobile. Two of those reasons are that 1.2 billion people are accessing the web from mobile devices and that over half of web traffic is mobile.</p>

<p class="post__body">One performance testing tool I use is by Google called <a class="link" href="https://developers.google.com/speed/pagespeed/insights/" title="External link to Google PageSpeed Insights website.">PageSpeed Insights</a>. This tool gives you a good insight into the speed of your website and gives it a ranking from 0 to 100, with 100 being the best. The tool will also point out any areas of your website that can be improved, such as browser caching, and provides a link on how to do that. It even checks the file sizes of your images and if it suspects that some of your images are too large, it will provide you a link so you can download a compressed version of your images. Very handy if you ask me.</p>

<figure class="figure">
    <div style="position:relative; padding-top: 55.375%;">
        <img class="figure__img lazyload__image lazyload" data-src="/images/articles/post/pagespeed-insights.jpg" alt="Google PageSpeed Insights result of Alex's website. Mobile speed scores 99 out of 100 and user experience scores 100 out 100." data-lazy>
    </div>
    <noscript>
        <img class="figure__img" src="/images/articles/post/pagespeed-insights.jpg" alt="Google PageSpeed Insights result of Alex's website. Mobile speed scores 99 out of 100 and user experience scores 100 out 100.">
    </noscript>
    <figcaption class="figure__caption">Google PageSpeed Insights results page</figcaption>
</figure>

<h3 class="post__sub-title">SEO (Search Engine Optimisation) integration</h3>

<p class="post__body">Oh no not SEO!!! As a developer I know how important SEO is, even though it can be a tedious task sometimes, and that it plays a very important part in getting my website visible to millions of people on the web. SEO is not only about search engines, but good SEO practices improve the user experience and usability of a web site.</p>

<p class="post__body">Last year I came across a fantastic tool, that you can download for Mac or Windows, known as <a class="link" href="https://www.screamingfrog.co.uk/seo-spider/" title="External link to Screaming Frog website.">Screaming Frog</a>. This tool is an SEO guru that can check everything from image alt text to checking the title tags and the heading structure of a website. With the free version you are limited with the features you get, such as checking up to 500 web pages, but the free version still gives you plenty to work with.</p>

<figure class="figure">
    <div style="position:relative; padding-top: 58.625%;">
        <img class="figure__img lazyload__image lazyload__image--lazy" data-src="/images/articles/post/screaming-frog-app.jpg" alt="Screaming Frog application for Mac." data-lazy>
    </div>
    <noscript>
        <img class="figure__img" src="/images/articles/post/screaming-frog-app.jpg" alt="Screaming Frog application for Mac.">
    </noscript>
    <figcaption class="figure__caption">Screaming Frog app for Mac</figcaption>
</figure>

<p class="post__body">This tool can check SEO integration in a heartbeat and saves a whole heap of time, so rather than me ribitting on at how good this tool is, I suggest you hop on over to the Screaming Frog website and make SEO your best friend.</p>

<h3 class="post__sub-title">This is just the beginning</h3>

<p class="post__body">These are just a few of the tools that I highly recommend to use. In my next post I will discuss more tools you can use, such as <a class="link" href="http://www.webpagetest.org/" title="External link to WebPageTest website.">WebPageTest</a>, to check the performance and optimisation of your website.</p>

<hr>

<h4 class="post__small-title">Bibliography</h4>

<ul class="list list--unordered">
    <li class="list__item">Jacob McMillen. (2015). 10 Reasons Your Website Needs to be Mobile Optimized. [ONLINE] [Accessed 28 October 2016]. URL: <a class="list__link" href="http://blog.teamtreehouse.com/10-reasons-website-needs-mobile-optimized" title="External link to Team Treehouse article.">Team Treehouse</a></li>
</ul>
