@use "../settings/variables" as _variables;

// Keyframes..........Keyframe animations.

/* - Fade In - */
@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* - CD pulse - */
@keyframes cd-pulse {
  0% {
    box-shadow: 0 0 0 0 _variables.$core-color-brand;
  }
  80% {
    box-shadow: 0 0 0 13px rgba(255, 150, 44, 0);
  }
}

/* - Lazy load swiper - */
@keyframes swiper {
  0%, 50% {
    transform-origin: 0 50%;
  }
  60%, 100% {
    transform-origin: 100% 50%;
  }
  50% {
    transform: scaleX(1);
  }
  60% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}

/* - Preloader - */
@keyframes load {
  0% {
    transform: translate3d(0, 100%, 0)
  }
  to {
    transform: translate3d(0, -100%, 0)
  }
}
