// Keyframes - animation keyframes

/* - Fsde In - */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


/* - Fade In Out Down - */
@-webkit-keyframes fadeInOutDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }
  50% {
      opacity: 1
  }
  100% {
    opacity: 0;
    transform: translate3d(0, 20%, 0);
  }
}
@-moz-keyframes fadeInOutDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }
  50% {
      opacity: 1
  }
  100% {
    opacity: 0;
    transform: translate3d(0, 20%, 0);
  }
}
@-ms-keyframes fadeInOutDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }
  50% {
      opacity: 1
  }
  100% {
    opacity: 0;
    transform: translate3d(0, 20%, 0);
  }
}
@-o-keyframes fadeInOutDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }
  50% {
      opacity: 1
  }
  100% {
    opacity: 0;
    transform: translate3d(0, 20%, 0);
  }
}
@keyframes fadeInOutDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }
  50% {
    opacity: 1
  }
  100% {
    opacity: 0;
    transform: translate3d(0, 20%, 0);
  }
}


/* - CD pulse - */
@-webkit-keyframes cd-pulse {
    0% {
        box-shadow: 0 0 0 0 $core-color-brand;
    }
    80% {
        box-shadow: 0 0 0 13px rgba(255, 150, 44, 0);
    }
}
@-moz-keyframes cd-pulse {
    0% {
        box-shadow: 0 0 0 0 $core-color-brand;
    }
    80% {
    box-shadow: 0 0 0 13px rgba(255, 150, 44, 0);
}
}
@keyframes cd-pulse {
    0% {
        box-shadow: 0 0 0 0 $core-color-brand;
    }
    80% {
        box-shadow: 0 0 0 13px rgba(255, 150, 44, 0);
    }
}


/* - Blinking cursor - */
@keyframes blink {
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes blink {
    100% {
        opacity: 0;
    }
}

@-moz-keyframes blink {
    100% {
        opacity: 0;
    }
}


@mixin fadein {
  animation: fadein 2s;
}

@mixin animation-fadeInOutDown {
  animation-name: fadeInOutDown;
  animation-iteration-count: infinite;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
}

@mixin cd-pulse {
  animation: cd-pulse 1s infinite;
  animation-delay: 0.5s;
}
