// Typography

/**
* Main font family
*/
@font-face {
  font-family: "Josefin Slab";
  src: url("../fonts/josefin-slab/josefin-slab-regular.eot"); /* IE9 */
  src: url("../fonts/josefin-slab/josefin-slab-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/josefin-slab/josefin-slab-regular.woff") format("woff"), /* chrome, firefox */
  url("../fonts/josefin-slab/josefin-slab-regular.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url("../fonts/josefin-slab/josefin-slab-regular.svg#josefin-slab") format("svg"); /* iOS 4.1- */
  font-style: normal;
  font-weight: $core-font-weight;
}
@font-face {
  font-family: "Josefin Slab";
  src: url("../fonts/josefin-slab/josefin-slab-semi-bold.eot"); /* IE9 */
  src: url("../fonts/josefin-slab/josefin-slab-semi-bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/josefin-slab/josefin-slab-semi-bold.woff") format("woff"), /* chrome, firefox */
  url("../fonts/josefin-slab/josefin-slab-semi-bold.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url("../fonts/josefin-slab/josefin-slab-semi-bold.svg#josefin-slab") format("svg"); /* iOS 4.1- */
  font-style: normal;
  font-weight: $core-tertiary-font-weight;
}

/**
* Secondary font family
*/
@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/ubuntu/ubuntu-light.eot"); /* IE9 */
  src: url("../fonts/ubuntu/ubuntu-light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/ubuntu/ubuntu-light.woff") format("woff"), /* chrome, firefox */
  url("../fonts/ubuntu/ubuntu-light.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url("../fonts/ubuntu/ubuntu-light.svg#ubuntu") format("svg"); /* iOS 4.1- */
  font-style: normal;
  font-weight: $core-font-weight;
}
@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/ubuntu/ubuntu-regular.eot"); /* IE9 */
  src: url("../fonts/ubuntu/ubuntu-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/ubuntu/ubuntu-regular.woff") format("woff"), /* chrome, firefox */
  url("../fonts/ubuntu/ubuntu-regular.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url("../fonts/ubuntu/ubuntu-regular.svg#ubuntu") format("svg"); /* iOS 4.1- */
  font-style: normal;
  font-weight: $core-secondary-font-weight;
}
