<main class="articles notch" id="main">
    <div class="articles__container hide" data-fade>
        <div class="articles__content">
            {{#each articles}}
              {{>articles}}
            {{/each}}
        </div>
    </div>
</main>
{{>push}}
