<main class="articles 📱" id="main">
    <div class="articles__inner hide 🖼" data-fade>
        <div class="articles__content">
            {{#each articles}}
              {{>articles}}
            {{/each}}
        </div>
    </div>
</main>
