
{% macro topicsList(topics, currentUrl, isArticle = false) %}
    <ul class="flex flex-wrap gap-16 [margin-block-start:24px]" aria-label="Article topics">
        {% for item in topics %}
            {% if isArticle %}
                {% set body = 'More on ' + item.name  %}
            {% else %}
                {% set body = item.name  %}
            {% endif %}

            {{ topicLink(body, currentUrl, item.icon, item.slug) }}
        {% endfor %}
    </ul>
{% endmacro %}


{% macro topicLink(body, currentUrl, icon, slug) %}
    {% set topicUrl = '/topics/' + slug + '/' %}
    {% set isActiveTopic = currentUrl === topicUrl %}

    <li>
        <a href="{{topicUrl}}" class="flex justify-between items-center gap-8 bg-black text-white text-base leading-base fvs-md rounded-sm {% if isActiveTopic %} outline outline-2 outline-yellow-400 {% endif %} [padding-block:8px] [padding-inline:12px] focus:outline focus:outline-2 focus:outline-yellow-400" aria-label="View all {{item.name}} articles" {% if isActiveTopic %}aria-current="page"{% endif %}>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" aria-hidden="true">
                <image href="{{icon.url}}" width="100%" height="100%" />
            </svg>
            {{body}}
        </a>
    </li>
{% endmacro %}
