---
layout: post.hbs
title: "Creating my website part one: Research and design"
keywords: web development, front end, developer, web developer, website portfolio, blog, web design, design, resaerch, ux, user experience, workflow
bannerTitle: "Creating my website part one: <br class='site-banner__title-break'> Research and design"
slug: creating-my-website-part-one-research-and-design
summary: A two part series into the research, design and build process of my portfolio website.
category: Development
pubDate: 13 Nov, 2016
dateTime: 13-11-2016
tags:
- design
- web tools
- web techniques
- workflow
- web development
- wireframe
- style guide
changefreq: never
priority: 0.2
---

<h2>Going behind the scenes</h2>
<p>
  So you've been on my website, had a good look around and your stomach isn't turning inside out and your eyes haven't fallen off, as that wouldn't be very good at all. Hopefully, you like it so much that you would like to know about some of the processes and tools I used behind the scenes to develop this website. If that person is you then you're in for treat as that is exactly what this two-part series is about, so let's get right to it.
</p>
<h3>Research</h3>
<p>
  Before I started coding my website, I had to do a bit of sniffing around the web to see what website portfolios were currently out there and to give me any inspiration on how I could make my website unique from the rest. Similar to a competitor analysis in a way. I came across some beautiful websites such as
  <a class="external-link" href="http://seanhalpin.io/" title="External link to Sean Halpin's website.">
    <span class="external-link__text">seanhalpin.io</span>
    <svg class="external-link__icon">
      <use xlink:href="/images/icons/sprite.svg#external-link" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
  </a>,
  <a class="external-link" href="http://riccardozanutta.com/cerasa" title="External link to Riccardo Zanutta's website.">
    <span class="external-link__text">riccardozanutta.com </span>
    <svg class="external-link__icon">
      <use xlink:href="/images/icons/sprite.svg#external-link" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
  </a>
  and
  <a class="external-link" href="https://www.indiantypefoundry.com/" title="External link to the indian type foundry website.">
    <span class="external-link__text">indiantypefoundry.com </span>
    <svg class="external-link__icon">
      <use xlink:href="/images/icons/sprite.svg#external-link" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
  </a>.
</p>
<p>
  All of these sites had their own unique style, so I began to look at areas of each site I liked that I could potentially add to my website. So for example, on the Indian Type Foundry website I found the way they created the grid line effect on certain sections of the website to be very appealing. This is something I liked as it kind of gives the user a brief behind the scenes look into the structure of the website and how it follows a kind of grid system, which is something you don't normally see on other websites.
</p>
<p>
  After searching through a handful of these websites, I created a mood board that contained screenshots of all the sections of these websites that I liked. By creating this mood board it helped give me some early design ideas and prepared me for the design process.
</p>
<h3>Design</h3>
<p>
  The design process of my website was quite tricky as being a typical web developer, I wanted to get right in and start coding my website. However, I had to be a bit more professional so I took a little step back and began to look at some design processes in order to come up with a solid design and layout for my website.
</p>
<h4>Style guide</h4>
<p>
  I started off by creating a style guide, which is simply a set of design rules that I would follow when designing my website such as what font types to use, what the colour scheme of my website will be, what icons I will use etc. There are many templates that you can use for free if, like me, you aren't comfortable creating your own. The template I ended up using was a HTML and CSS coded
  <a class="external-link" href="https://codyhouse.co/gem/css-style-guide-template/" title="External link to a style guide template on the Cody House website.">
    <span class="external-link__text">style guide from Cody House </span>
    <svg class="external-link__icon">
      <use xlink:href="/images/icons/sprite.svg#external-link" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
  </a>,
  which was super easy to customise to my needs. I have published my <a href="/style-guide/" title="Internal link to Alex's website style guide.">style guide</a> online so feel free to take a look.
</p>
<figure class="site-figure">
  <img src="/images/blog/website-style-guide.jpg" alt="Style guide of Alex's website showcasing the website colors, favicons and the logo." />
  <figcaption class="site-figure__caption">Final style guide of my wesbite</figcaption>
</figure>
<h4>Wireframes</h4>
<p>
  With the style guide in place I moved on to creating a wireframe to get a solid idea of what the structure and layout of my website will look like. Because I can't draw to save my life, I decided to create a more visual wireframe than just using pencil and paper. I used an application on my MacBook called
  <a class="external-link" href="https://codyhouse.co/gem/css-style-guide-template/" title="External link to the Sketch app website.">
    <span class="external-link__text">Sketch </span>
    <svg class="external-link__icon">
      <use xlink:href="/images/icons/sprite.svg#external-link" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
  </a>
  which is an amazing design application. Sketch is packed with features such as creating artboards for different device sizes, being able to preview your work on your devices in real-time, share you work online and more. I used this application to create a mobile and desktop wireframe for the homepage of my website.
</p>
<figure class="site-figure">
  <img src="/images/blog/draft-website-wireframes.jpg" alt="Initial mobile and desktop wireframes of Alex's website with a pink, white, light grey and dark grey color scheme." />
  <figcaption class="site-figure__caption">Initial mobile and desktop wireframes</figcaption>
</figure>
<p>
  After creating my initial wireframes, I decided to look closely at the colour scheme I chose. My reasoning for this is that one of my aims was to make my website as accessible as I could make it and choosing which colours to use is vital to achieving this because I needed to make sure I had a good contrast of colours to make it easier for people who have visual disabilities to read the text on my website. Using the
  <a class="external-link" href="http://webaim.org/resources/contrastchecker/" title="External link to WebAIM colour contrast checker website.">
    <span class="external-link__text">WebAIM colour contrast checker </span>
    <svg class="external-link__icon">
      <use xlink:href="/images/icons/sprite.svg#external-link" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
  </a>,
  I found my core brand colour (pink) performed poorly and wasn't suitable. To find a better colour, I visted a website called
  <a class="external-link" href="http://colorsafe.co/" title="External link to color safe website.">
    <span class="external-link__text">colorsafe.co </span>
    <svg class="external-link__icon">
      <use xlink:href="/images/icons/sprite.svg#external-link" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
  </a>
  which generates accessible color palettes based on the
  <a class="external-link" href="http://webaim.org/blog/wcag-2-0-and-link-colors/" title="External link to WCAG color guidlines web page.">
    <span class="external-link__text">WCAG Guidelines </span>
    <svg class="external-link__icon">
      <use xlink:href="/images/icons/sprite.svg#external-link" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
  </a>.
  With the help of the colorsafe.io website I changed my core brand colour to blue, with a hint of purple, which performed much better on the WebAim colour contrast checker.
</p>
<figure class="site-figure">
  <img src="/images/blog/final-website-wireframes.jpg" alt="Final mobile and desktop wireframes of Alex's website with a bluey purple, white, light grey and dark grey color scheme." />
  <figcaption class="site-figure__caption">Final mobile and desktop wireframes</figcaption>
</figure>
<h4>Adding uniqueness</h4>
<p>
  To make my website unique I focused on the navigation for mobile devices. I wanted to make a navigation that wasn't hidden from the user, clearly visible and easy to navigate. I came up with the idea of having a navigation that was fixed at the bottom of the screen with text and icons. Kind of like a navigation you find on an iOS app and some android apps. The reason I went with this design is that a lot of people are using smartphones. According to an
  <a class="external-link" href="http://www.smartinsights.com/mobile-marketing/mobile-marketing-analytics/mobile-marketing-statistics/" title="External link to smart insights website.">
    <span class="external-link__text">article from smartinsights.com  </span>
    <svg class="external-link__icon">
      <use xlink:href="/images/icons/sprite.svg#external-link" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
  </a>,
  80% of internet users own a smartphone. I wanted to keep that mobile kind of feel that users experience when using mobile apps and having a bottom navigation makes it comfortable for users to reach the navigation items with one thumb interactions. A great
  <a class="external-link" href="https://uxplanet.org/perfect-bottom-navigation-for-mobile-app-effabbb98c0f#.503acjyxe" title="External link to ux planet website.">
    <span class="external-link__text">article from uxplanet.org  </span>
    <svg class="external-link__icon">
      <use xlink:href="/images/icons/sprite.svg#external-link" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
  </a>
  explains more on the importance of bottom navigation for mobile apps.
</p>
<figure class="site-figure">
  <img src="/images/blog/website-mobile-navigation.jpg" alt="Mobile navigation on Alex's website showcasing icons as well as text." />
  <figcaption class="site-figure__caption">Mobile navigation with icons and text</figcaption>
</figure>
<h3>To be continued</h3>
<p>
  That brings an end to part one of this post. Hopefully you have soaked up some good information about my research and design process and are now eager to know the processes I took to build my website. In part two, I will discuss the tools I used such as Gulp and Sass and discuss the workflow I created that made building and deploying my website seamless and painless. I will also talk a bit about which browsers my website supports. For those who are really eager, you can take a look at
  <a class="external-link" href="https://github.com/Pushedskydiver/alexclapperton.co.uk" title="External link to Alex's GitHub repo.">
    <span class="external-link__text">my repo on GitHub  </span>
    <svg class="external-link__icon">
      <use xlink:href="/images/icons/sprite.svg#external-link" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
  </a>
  and see my workflow in action.
</p>
<hr>
<h4>Bibliography</h4>
<ul>
  <li class="site-list__item">
    Dave Chaffey. (2016). Mobile Marketing Statistics compilation. [ONLINE] [Accessed 13 November 2016]. URL:
    <a class="site-list__link" href="http://www.smartinsights.com/mobile-marketing/mobile-marketing-analytics/mobile-marketing-statistics/" title="External link to Smart Insights article.">Smart Insights</a>
    <svg class="external-link__icon">
      <use xlink:href="/images/icons/sprite.svg#external-link" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
  </li>
  <li class="site-list__item">
    Nick Babich. (2016). UX Design for Mobile: Bottom Navigation. [ONLINE] [Accessed 30 September 2016]. URL:
    <a class="site-list__link" href="https://uxplanet.org/perfect-bottom-navigation-for-mobile-app-effabbb98c0f#.spx6rh5c3" title="External link to Ux Planet article.">Ux Planet</a>
    <svg class="external-link__icon">
      <use xlink:href="/images/icons/sprite.svg#external-link" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
  </li>
</ul>
<hr>
