---
page: blog
title: Blog homepage
keywords: web development, front end, developer, web developer, website portfolio, blog
slug: blog
layout: default.hbs
description: Alex Clapperton's Blog &mdash; Manchester, UK based front-end developer
changefreq: monthly
priority: 1.0
---

<!-- ******************** BANNER : Start ********************-->
<section class="banner banner--small">
  <!-- BEGIN : CONTAINER -->
  <div class="container">

  </div>
  <!-- END : CONTAINER -->
</section>
<!-- ******************** BANNER : End ******************** /-->


<!-- ******************** SITE BLOG : Start ******************** /-->
<main class="site-blog site-blog--white" id="content" role="main">
  <!-- BEGIN : CONTAINER -->
  <div class="container">
    <!-- BEGIN : SITE BLOG FLEX -->
    <div class="site-blog__flex">
      {{#each articles.[2016]}}
        <!-- END : SITE BLOG ITEM /-->
        {{>article-preview}}
        <!-- END : SITE BLOG ITEM /-->
      {{/each}}
    </div>
    <!-- END : SITE BLOG FLEX /-->
  </div>
  <!-- END : CONTAINER /-->
</main>
<!-- ******************** SITE BLOG : End /******************** /-->
