---
page: blog
title: Blog homepage
keywords: web development, front end, developer, web developer, website portfolio, blog
slug: blog
layout: default.hbs
description: Alex Clapperton's Blog &mdash; Manchester, UK based front-end developer
changefreq: monthly
priority: 1.0
---

<!-- ******************** BANNER : Start ********************-->
<section class="banner banner--small">
  <!-- BEGIN : CONTAINER -->
  <div class="container">
    <!-- BEGIN : GRID GUIDES -->
    <div class="grid-guides">
      <div class="grid-guides__guide"></div>
      <div class="grid-guides__guide"></div>
      <div class="grid-guides__guide"></div>
      <div class="grid-guides__guide"></div>
    </div>
    <!-- END : GRID GUIDES /-->
    <!-- BEGIN : BANNER FLEX -->
    <div class="banner__flex">
      <h1 class="banner__title">Check out <br> my latest posts</h1>

      <div class="breadcrumbs">
        <span class="breadcrumbs__item"><a class="breadcrumbs__link" href="/">Home</a></span>
        <span class="breadcrumbs__item">Blog</span>
      </div>

      <img class="banner__img" src="/images/banner/wordpress-frame.png" alt="" />
    </div>
    <!-- END : BANNER FLEX -->
  </div>
  <!-- END : CONTAINER -->
</section>
<!-- ******************** BANNER : End ******************** /-->


<!-- ******************** SITE BLOG : Start ******************** /-->
<main class="site-blog site-blog--white" id="content" role="main">
  <!-- BEGIN : CONTAINER -->
  <div class="container">
    <!-- BEGIN : SITE BLOG FLEX -->
    <div class="site-blog__flex">
      {{#each articles.[2016]}}
        <!-- END : SITE BLOG ITEM /-->
        {{>article-preview}}
        <!-- END : SITE BLOG ITEM /-->
      {{/each}}
    </div>
    <!-- END : SITE BLOG FLEX /-->
  </div>
  <!-- END : CONTAINER /-->
</main>
<!-- ******************** SITE BLOG : End /******************** /-->
