---
page: blog
layout: default.hbs
title: Blog
description: Alex Clapperton's Blog &mdash; Manchester, UK based front-end developer
changefreq: monthly
priority: 1.0
---

<!-- ******************** BAR : Start ******************** -->
<section class="bar">
  <!-- BEGIN : CONTAINER -->
  <div class="container">
    <!-- BEGIN : BAR CONTENT -->
    <div class="bar__content">
      <h1 class="bar__title">Blog</h1>
      <ul class="breadcrumbs">
        <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="/" title="Breadcrumb link to the homepage.">Home</a></li>
        <li class="breadcrumbs__item">Blog</li>
      </ul>
      <!-- BEGIN : SYMBOL -->
      <div class="symbol symbol--primary">
        <svg class="symbol__icon symbol__icon--primary" width="20" height="20">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/icons/sprite.svg#blog"></use>
        </svg>
      </div>
      <!-- END : SYMBOL /-->
    </div>
    <!-- END : BAR CONTENT /-->
  </div>
  <!-- END : CONTAINER /-->
</section>
<!-- ******************** BAR : End ******************** /-->


<!-- ******************** BLOG : Start ******************** -->
<main class="blog" role="main" id="content">
  <!-- BEGIN : CONTAINER -->
  <div class="container">
    <!-- BEGIN : BLOG CONTENT -->
    <div class="blog__content">
      {{#each articles.[2017]}}
        {{>article}}
      {{/each}}
      {{#each articles.[2016]}}
        {{>article}}
      {{/each}}
    </div>
    <!-- END : BLOG CONTENT /-->
  </div>
  <!-- END : CONTAINER /-->
</main>
<!-- ******************** BLOG : End ******************** /-->
