@charset "UTF-8";

@keyframes fadein{
  0%{
    opacity:0;
  }
  to{
    opacity:1;
  }
}

@keyframes swiper{
  0%,50%{
    transform-origin:0 50%;
  }
  60%,to{
    transform-origin:100% 50%;
  }
  50%{
    transform:scaleX(1);
  }
  60%{
    transform:scaleX(1);
  }
  to{
    transform:scaleX(0);
  }
}

@font-face{
  font-family:Nunito Sans;
  src:url(../fonts/nunito-sans/nunito-sans-regular.eot);
  src:url(../fonts/nunito-sans/nunito-sans-regular.eot?#iefix) format("embedded-opentype"), url(../fonts/nunito-sans/nunito-sans-regular.woff) format("woff"), url(../fonts/nunito-sans/nunito-sans-regular.ttf) format("truetype"), url(../fonts/nunito-sans/nunito-sans-regular.svg#nunito-sans) format("svg");
  font-style:normal;
  font-weight:400;
}

@font-face{
  font-family:Nunito Sans;
  src:url(../fonts/nunito-sans/nunito-sans-semi-bold.eot);
  src:url(../fonts/nunito-sans/nunito-sans-semi-bold.eot?#iefix) format("embedded-opentype"), url(../fonts/nunito-sans/nunito-sans-semi-bold.woff) format("woff"), url(../fonts/nunito-sans/nunito-sans-semi-bold.ttf) format("truetype"), url(../fonts/nunito-sans/nunito-sans-semi-bold.svg#nunito-sans) format("svg");
  font-style:normal;
  font-weight:600;
}

@font-face{
  font-family:Ubuntu;
  src:url(../fonts/ubuntu/ubuntu-regular.eot);
  src:url(../fonts/ubuntu/ubuntu-regular.eot?#iefix) format("embedded-opentype"), url(../fonts/ubuntu/ubuntu-regular.woff) format("woff"), url(../fonts/ubuntu/ubuntu-regular.ttf) format("truetype"), url(../fonts/ubuntu/ubuntu-regular.svg#nunito-sans) format("svg");
  font-style:normal;
  font-weight:400;
}

@font-face{
  font-family:Ubuntu;
  src:url(../fonts/ubuntu/ubuntu-medium.eot);
  src:url(../fonts/ubuntu/ubuntu-medium.eot?#iefix) format("embedded-opentype"), url(../fonts/ubuntu/ubuntu-medium.woff) format("woff"), url(../fonts/ubuntu/ubuntu-medium.ttf) format("truetype"), url(../fonts/ubuntu/ubuntu-medium.svg#nunito-sans) format("svg");
  font-style:normal;
  font-weight:500;
}

*,:after,:before{
  box-sizing:border-box;
}

html{
  font-size:16px;
}

body{
  font-size:calc(16px + .1vw);
  line-height:1.7;
  font-weight:400;
  margin-top:0;
  margin-bottom:24px;
  color:hsla(0,4%,5%,.7);
  font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
  background-color:#fff;
  margin:0;
  text-rendering:optimizeLegibility;
  -webkit-font-smoothing:antialiased;
}

body ::-moz-selection{
  background:#0e0d0d;
  color:#fff;
}

body ::selection{
  background:#0e0d0d;
  color:#fff;
}

h1{
  color:#0e0d0d;
  font-family:Ubuntu,sans-serif;
  font-size:calc(2.3em + .5vw);
  line-height:1.3;
  font-weight:500;
  margin-top:0;
  margin-bottom:21px;
}

h2{
  color:#0e0d0d;
  font-family:Ubuntu,sans-serif;
  font-size:calc(2em + .5vw);
  line-height:1.3;
  font-weight:500;
  margin-top:0;
  margin-bottom:18px;
}

h3{
  color:#0e0d0d;
  font-family:Ubuntu,sans-serif;
  font-size:calc(1.7em + .5vw);
  line-height:1.3;
  font-weight:500;
  margin-top:0;
  margin-bottom:18px;
}

h4{
  color:#0e0d0d;
  font-family:Ubuntu,sans-serif;
  font-size:calc(1.3em + .5vw);
  line-height:1.3;
  font-weight:500;
  margin-top:0;
  margin-bottom:12px;
}

h5{
  color:hsla(0,4%,5%,.7);
  font-size:calc(16px + .15vw);
  line-height:1.7;
  font-weight:600;
  margin-top:0;
  margin-bottom:24px;
}

p{
  font-size:calc(16px + .1vw);
  line-height:1.7;
  font-weight:400;
  margin-top:0;
  margin-bottom:24px;
}

a{
  color:#0e0d0d;
  text-decoration:none;
}

strong{
  color:#0e0d0d;
}

dl,ol,ul{
  margin:0;
  padding:0;
  list-style:none;
}

dd{
  margin-left:0;
}

li{
  font-size:calc(16px + .1vw);
  line-height:1.7;
  font-weight:400;
  margin-top:0;
  margin-bottom:24px;
}

figure{
  margin:0;
  padding:0;
}

img{
  width:100%;
  max-width:100%;
  margin:0 auto;
  vertical-align:middle;
}

img:not([src]){
  visibility:hidden;
}

legend{
  display:none;
}

input{
  font-size:calc(16px + .1vw);
  line-height:1.7;
  font-weight:400;
  margin-top:0;
  margin-bottom:24px;
  border-radius:0;
  -webkit-appearance:none;
     -moz-appearance:none;
          appearance:none;
}

textarea{
  font-size:calc(16px + .1vw);
  line-height:1.7;
  font-weight:400;
  margin-top:0;
  margin-bottom:24px;
  border-radius:0;
  -webkit-appearance:none;
     -moz-appearance:none;
          appearance:none;
}

button{
  font-size:calc(16px + .1vw);
  line-height:1.7;
  font-weight:400;
  margin-top:0;
  margin-bottom:24px;
  background-color:transparent;
  margin:0;
  padding:0;
  border:none;
  border-radius:0;
  -webkit-appearance:none;
     -moz-appearance:none;
          appearance:none;
}

pre{
  margin-top:0;
  margin-bottom:36px;
}

hr{
  margin:24px 0;
  border-color:#040f0f;
  opacity:.1;
}

svg{
  transition:all .3s ease-in-out;
}

.🖼{
  position:relative;
  padding-right:15px;
  padding-left:15px;
}

@supports (padding-left:env(safe-area-inset-left)){
  .📱{
    padding-right:env(safe-area-inset-left);
    padding-left:env(safe-area-inset-left);
  }
}

.offline{
  padding-top:36px;
  padding-bottom:36px;
}

.offline__item{
  margin-bottom:42px;
}

.hide{
  opacity:0;
  transform:translateY(25px);
}

.fade-in{
  opacity:1;
  transform:translateY(0);
  transition:transform 1.4s cubic-bezier(.6, .2, .1, 1) .1s,opacity 1.4s cubic-bezier(.6, .2, .1, 1) .1s;
}

.lazyload{
  position:relative;
  padding-top:75%;
}

.lazyload__image{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.lazyload__image--lazy{
  opacity:0;
}

.lazyload--image-loaded{
  display:block;
}

.lazyload--image-loaded .lazyload__image--loaded{
  opacity:0;
  animation-name:fadein;
  animation-duration:1s;
  animation-delay:.7s;
  animation-fill-mode:forwards;
}

.lazyload--image-loaded:after{
  content:"";
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#fbd664;
  transform:scaleX(0);
  transform-origin:0 50%;
  animation-name:swiper;
  animation-iteration-count:1;
  animation-duration:.7s;
  animation-timing-function:cubic-bezier(0, 0, .2, 1);
  z-index:20;
}

.articles{
  background-color:#f5f5f5;
  padding-top:36px;
  padding-bottom:36px;
}

.articles__item{
  display:block;
  position:relative;
  margin-bottom:26.4px;
}

.article__content{
  display:-ms-flexbox;
  display:flex;
  -ms-flex-direction:column;
      flex-direction:column;
  min-height:100%;
}

.articles__picture{
  display:block;
  min-height:175px;
  overflow:hidden;
}

.articles__details{
  display:-ms-flexbox;
  display:flex;
  -ms-flex-direction:column;
      flex-direction:column;
  -ms-flex-pack:justify;
      justify-content:space-between;
  padding-top:12px;
  padding-bottom:12px;
  -ms-flex:1;
      flex:1;
}

.articles__title-small{
  color:hsla(0,4%,5%,.7);
  font-size:calc(1em + .5vw);
  line-height:1.1;
  font-weight:400;
  margin-top:0;
  margin-bottom:24px;
}

.articles__title{
  color:#0e0d0d;
  font-family:Ubuntu,sans-serif;
  font-size:calc(1.1em + .5vw);
  line-height:1.3;
  font-weight:500;
  margin-top:0;
  margin-bottom:12px;
  display:block;
}

.articles__body{
  -ms-flex:1;
      flex:1;
}

.articles__date{
  color:hsla(0,4%,5%,.7);
  font-size:calc(.8em + .15vw);
  line-height:1.7;
  margin-top:0;
  margin-bottom:6px;
  display:block;
  margin-bottom:0;
  font-weight:600;
}

.banner:not(.banner--home):not(.banner--404){
  height:550px;
}

.banner--404,.banner--home{
  height:100vh;
}

.banner--dark{
  background-color:#0e0d0d;
}

.banner__content{
  display:-ms-flexbox;
  display:flex;
  -ms-flex-direction:column;
      flex-direction:column;
  -ms-flex-pack:center;
      justify-content:center;
  height:100%;
}

.banner__content--center{
  text-align:center;
}

.banner__item--404{
  position:relative;
  overflow:hidden;
}

.banner__img--404{
  display:none;
}

.banner__title:not(.banner__title--center):not(.banner__title--404){
  max-width:450px;
}

.banner__title--home{
  color:#0e0d0d;
  font-family:Ubuntu,sans-serif;
  font-size:calc(3em + .5vw);
  line-height:1.1;
  font-weight:500;
  margin-top:0;
  margin-bottom:21px;
}

.banner__title--light{
  color:#fff;
}

.banner__title--center{
  max-width:800px;
  margin-right:auto;
  margin-bottom:0;
  margin-left:auto;
}

.banner__title--404{
  max-width:450px;
}

.banner__title--offline{
  margin-bottom:0;
}

.banner__body{
  color:hsla(0,4%,5%,.7);
  font-size:calc(16px + .15vw);
  line-height:1.7;
  font-weight:600;
  margin-top:0;
  margin-bottom:24px;
}

.banner__body--404{
  max-width:450px;
}

.banner__scroll-🔗{
  color:hsla(0,4%,5%,.7);
  font-size:calc(16px + .15vw);
  line-height:1.7;
  font-weight:600;
  margin-top:0;
  margin-bottom:24px;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-direction:row;
      flex-direction:row;
  -ms-flex-align:center;
      align-items:center;
  color:#0e0d0d;
  -ms-flex-item-align:start;
      align-self:flex-start;
  text-decoration:none;
}

.banner__scroll-icon{
  width:16px;
  height:16px;
  margin-left:6px;
  stroke:#0e0d0d;
  stroke-width:3;
  vertical-align:middle;
}

.blocks{
  padding-top:36px;
  padding-bottom:36px;
}

.blocks__subText{
  max-width:550px;
}

.blocks__item{
  background-color:#f2f2f2;
  margin-bottom:24px;
  padding:30px;
}

.blocks__item:last-child{
  margin-bottom:0;
}

.blocks__item-title--strike{
  text-decoration:line-through;
}

.blocks__item-body{
  margin-bottom:0;
}

.breadcrumbs__item{
  display:inline-block;
  position:relative;
  color:#fff;
  margin-bottom:0;
}

.breadcrumbs__item:after{
  content:"/";
  padding-left:6px;
}

.breadcrumbs__item:last-child:after{
  display:none;
}

.breadcrumbs__item--active{
  color:#b6bcce;
}

.breadcrumbs__🔗{
  color:inherit;
  border-bottom-width:.2em;
  border-bottom-style:solid;
  border-bottom-color:#fbd664;
}

.browser{
  background-color:#f5f5f5;
  margin-top:24px;
  margin-bottom:24px;
}

.browser__bar{
  display:block;
  width:100%;
  height:auto;
}

.button{
  font-size:calc(16px + .1vw);
  line-height:1.7;
  font-weight:400;
  margin-top:0;
  margin-bottom:24px;
  transition:all .3s ease-in-out;
  display:block;
  margin-bottom:0;
  padding:8px 12px;
  text-align:center;
  border-radius:3px;
}

.button--primary{
  background-color:#fbd664;
  color:#040f0f;
  border:2px solid #fbd664;
}

.button--primary:active,.button--primary:focus,.button--primary:hover{
  background-color:#0e0d0d;
  color:#fff;
  border-color:#0e0d0d;
}

.button--secondary{
  background-color:transparent;
  color:#0e0d0d;
  border:2px solid #0e0d0d;
}

.button--secondary:active,.button--secondary:focus,.button--secondary:hover{
  background-color:#0e0d0d;
  color:#fff;
}

.button--nav{
  background-color:#040f0f;
  box-shadow:3px 3px 5px 1px rgba(4,15,15,.1);
  transition:all .3s ease-in-out;
  position:fixed;
  bottom:24px;
  left:50%;
  color:#fff;
  margin:0 auto;
  transform:translateX(-50%);
  vertical-align:middle;
  z-index:110;
}

.button--nav:active,.button--nav:focus,.button--nav:hover{
  background-color:#fff;
  color:#040f0f;
}

@supports (bottom:env(safe-area-inset-bottom)){
  .button--nav{
    bottom:60px;
  }
}

.button--nav-active{
  background-color:#fff;
  color:#040f0f;
}

.button__icon{
  transform:rotate(-90deg);
  margin-top:-.15em;
  margin-left:6px;
  stroke:#0e0d0d;
  stroke-width:3;
  vertical-align:middle;
}

.button--primary:focus .button__icon,.button--primary:hover .button__icon,.button--secondary:focus .button__icon,.button--secondary:hover .button__icon{
  stroke:#fff;
}

.button--nav-icon{
  transition:transform .3s ease-in-out;
  width:24px;
  height:24px;
  fill:#fff;
  vertical-align:bottom;
}

.button--nav-active .button--nav-icon,.button--nav:focus .button--nav-icon,.button--nav:hover .button--nav-icon{
  fill:#040f0f;
}

.button--nav-active .button--nav-icon{
  transform:rotate(45deg);
}

.contact{
  padding-top:36px;
  padding-bottom:36px;
}

.contact__list-title{
  color:#0e0d0d;
  font-family:Ubuntu,sans-serif;
  font-size:calc(1.3em + .5vw);
  line-height:1.3;
  font-weight:500;
  margin-top:0;
  margin-bottom:12px;
}

.contact__list-body{
  margin-bottom:24px;
}

.contact__list-body:last-child{
  margin-bottom:0;
}

.contact__list-body--📱{
  color:#040f0f;
  font-weight:600;
}

.contact__list-🔗{
  display:inline-block;
  margin-bottom:12px;
}

.devices{
  background-color:#fcfcfc;
  padding-top:36px;
  padding-bottom:36px;
}

.devices__inner{
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
  -ms-flex-direction:row;
      flex-direction:row;
  -ms-flex-pack:justify;
      justify-content:space-between;
}

.devices__item{
  position:relative;
  width:47%;
  background-color:#0e0d0d;
  overflow:hidden;
}

.devices__item:before{
  content:"";
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:3%;
  background-color:#fcfcfc;
  z-index:30;
}

.devices__item:after{
  content:"";
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  height:3%;
  background-color:#fcfcfc;
  z-index:30;
}

.devices__item:last-child{
  display:none;
}

.devices__item-inner:before{
  content:"";
  position:absolute;
  top:0;
  left:0;
  width:6%;
  height:100%;
  background-color:#fcfcfc;
  z-index:30;
}

.devices__item-inner:after{
  content:"";
  position:absolute;
  top:0;
  right:0;
  width:6%;
  height:100%;
  background-color:#fcfcfc;
  z-index:30;
}

.devices__frame{
  display:block;
  position:relative;
  width:100%;
  height:auto;
  z-index:40;
}

.devices__frame:before{
  content:"";
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#f0f0f0;
}

.devices__image-wrapper{
  position:absolute;
  top:50%;
  left:50%;
  width:100%;
  height:100%;
  transform:translate(-50%, -50%);
  z-index:10;
}

.devices__image{
  padding:13% 5.5%;
}

.figure{
  margin-bottom:30px;
}

.figure__img{
  padding:12px;
  border:1px solid #d9d9d9;
}

.figure__caption{
  color:hsla(0,4%,5%,.7);
  font-size:calc(.8em + .15vw);
  line-height:1.7;
  font-weight:600;
  margin-top:0;
  margin-bottom:6px;
  margin-top:6px;
  margin-bottom:0;
  text-align:center;
}

.footer{
  background-color:#0e0d0d;
  color:#fff;
  padding-top:42px;
}

.footer__list-item{
  margin-bottom:12px;
}

.footer__list-item:last-child{
  margin-bottom:0;
}

.footer__list-item--title{
  color:#0e0d0d;
  font-family:Ubuntu,sans-serif;
  font-size:calc(1.1em + .5vw);
  line-height:1.3;
  font-weight:500;
  margin-top:0;
  margin-bottom:12px;
  color:#fff;
}

.footer__list-item--phone{
  color:#fbd664;
  font-weight:600;
}

.footer__list-item--phone a[href^=tel]{
  color:#fbd664;
  border-bottom-width:1px;
  border-bottom-style:solid;
  border-bottom-color:#fbd664;
}

.footer__list-item--social{
  display:inline-block;
  margin-right:12px;
}

.footer__list-🔗{
  color:#fbd664;
  font-weight:600;
  border-bottom-width:1px;
  border-bottom-style:solid;
  border-bottom-color:#fbd664;
}

.footer__body{
  color:#b6bcce;
}

.form{
  margin-bottom:30px;
  padding-top:12px;
}

.form__fieldset{
  margin:0;
  padding:0;
  border:none;
}

.form__field{
  margin-bottom:24px;
}

.form__item{
  margin-bottom:18px;
}

.form__label{
  display:inline-block;
  color:#040f0f;
  font-weight:500;
  margin-bottom:6px;
}

.form__input{
  width:100%;
  background-color:#f2f2f2;
  margin-bottom:0;
  padding:12px;
  border:.2em solid #f2f2f2;
}

.form__input-describe{
  display:block;
  color:#de0000;
  margin-top:6px;
}

.form__textarea{
  width:100%;
  background-color:#f2f2f2;
  margin-bottom:0;
  padding:12px;
  border:.2em solid #f2f2f2;
}

.form__input--valid,.form__textarea--valid{
  border-color:#74e22d;
}

.form__input--invalid,.form__textarea--invalid{
  border-color:#de0000;
}

.header{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  background-color:transparent;
  z-index:100;
}

.header__content{
  display:-ms-flexbox;
  display:flex;
  -ms-flex-direction:row;
      flex-direction:row;
  -ms-flex-pack:start;
      justify-content:flex-start;
  -ms-flex-align:center;
      align-items:center;
  height:72px;
}

.info-block__picture{
  display:block;
}

.info-block__inner{
  padding:36px 24px;
}

.link{
  font-weight:600;
  border-bottom-width:.2em;
  border-bottom-style:solid;
  border-bottom-color:#fbd664;
}

.list{
  margin-left:6px;
  padding-left:12px;
  list-style-type:disc;
}

.list__item{
  margin-bottom:18px;
}

.logo{
  display:inline-block;
  position:relative;
  width:35px;
  height:35px;
  vertical-align:middle;
  z-index:110;
}

.logo--footer{
  margin-bottom:36px;
}

.logo__icon{
  transition:fill .3s ease-in-out;
  width:100%;
  height:100%;
}

.logo--header .logo__icon{
  fill:#040f0f;
}

.logo--footer .logo__icon{
  fill:#fff;
}

.logo--white .logo__icon{
  fill:#fff;
  transition-delay:1s;
}

.body--nav-open{
  overflow:hidden;
}

.nav__list{
  display:-ms-flexbox;
  display:flex;
  -ms-flex-direction:column;
      flex-direction:column;
  -ms-flex-pack:center;
      justify-content:center;
}

.nav--open .nav__list{
  opacity:1;
  transform:translateY(0);
  transition:all 1.3s cubic-bezier(.86, 0, .07, 1);
}

.nav--open .nav__list--unload{
  opacity:0;
  transform:translateY(5vw);
  transition:all 1s cubic-bezier(.86, 0, .07, 1);
}

.nav__item-active{
  display:block;
  position:absolute;
  left:0;
  bottom:0;
  width:0;
  height:2px;
  background-color:#fbd664;
  transition:all .35s cubic-bezier(0, 0, .2, 1);
}

.nav__🔗{
  display:block;
  text-decoration:none;
}

.nav__🔗-index{
  display:inline-block;
  font-size:calc(1rem + .5vw);
  margin-right:24px;
  vertical-align:top;
}

.support-notice{
  position:fixed;
  bottom:0;
  width:100%;
  background-color:#fbd664;
  padding:6px;
  text-align:center;
  opacity:.9;
  transition:opacity .25s;
  z-index:110;
}

.support-notice:focus,.support-notice:hover{
  opacity:1;
}

.support-notice p:last-child{
  margin:0;
}

.support-notice--browser{
  display:none;
}

.browser-notice-active .support-notice--browser{
  display:block;
}

.portfolio{
  position:relative;
  padding-top:36px;
  padding-bottom:36px;
}

.portfolio__title{
  margin-bottom:6px;
}

.portfolio__title-small{
  color:hsla(0,4%,5%,.7);
  font-size:calc(1em + .5vw);
  line-height:1.1;
  font-weight:400;
  margin-top:0;
  margin-bottom:24px;
}

.portfolio__subText{
  max-width:550px;
  margin-bottom:36px;
}

.portfolio__item{
  display:block;
  background-color:#0e0d0d;
  margin-bottom:26.4px;
}

.portfolio__figure{
  position:relative;
}

.portfolio__figure:before{
  content:"";
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:linear-gradient(180deg, rgba(4,15,15,.1) 0, #040f0f);
  z-index:10;
}

.portfolio__image-wrapper{
  position:relative;
}

.portfolio__image-wrapper:before{
  content:"";
  position:absolute;
  top:50%;
  left:50%;
  width:calc(100% - 24px);
  height:calc(100% - 24px);
  border:.2em solid #fbd664;
  transform:translate(-50%, -50%);
  z-index:30;
}

.portfolio__caption{
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  padding:0 24px 30px;
  color:#fff;
  z-index:20;
}

.portfolio__caption-title{
  color:#0e0d0d;
  font-family:Ubuntu,sans-serif;
  font-size:calc(1.3em + .5vw);
  line-height:1.3;
  font-weight:500;
  margin-top:0;
  margin-bottom:12px;
  color:#fff;
}

.portfolio__caption-category{
  color:hsla(0,4%,5%,.7);
  font-size:calc(16px + .15vw);
  line-height:1.7;
  font-weight:600;
  margin-top:0;
  margin-bottom:24px;
  color:#fbd664;
  margin-bottom:0;
}

.post{
  padding-top:36px;
  padding-bottom:36px;
}

.post__content{
  max-width:45em;
  margin:0 auto;
}

.post__date{
  display:block;
  margin-bottom:24px;
}

code[class*=language-],pre[class*=language-]{
  -moz-tab-size:4;
  tab-size:4;
  -webkit-hyphens:none;
  -ms-hyphens:none;
  hyphens:none;
  white-space:pre-wrap;
  word-break:break-all;
  word-wrap:break-word;
  font-family:Menlo,Monaco,Courier New,monospace;
  font-size:16px;
  line-height:18px;
  color:#76d9e6;
  text-shadow:none;
  overflow:auto;
}

:not(pre)>code[class*=language-],pre[class*=language-]{
  background:#2a2a2a;
}

pre[class*=language-]{
  padding:15px;
  border-radius:4px;
  border:1px solid #e1e1e8;
}

:not(pre)>code[class*=language-]{
  padding:.15em .2em .05em;
  border-radius:.3em;
  border:.13em solid #7a6652;
  box-shadow:inset 1px 1px .3em -.1em #000;
}

.namespace{
  opacity:.7;
}

.token.cdata,.token.comment,.token.doctype,.token.prolog{
  color:#6f705e;
}

.token.boolean,.token.null,.token.number,.token.operator{
  color:#a77afe;
}

.token.attr-name,.token.string{
  color:#e6d06c;
}

.language-css .token.string,.style .token.string,.token.entity,.token.url{
  color:#e6d06c;
}

.token.selector{
  color:#a6e22d;
}

.token.atrule,.token.attr-value,.token.control,.token.directive,.token.important,.token.keyword,.token.unit{
  color:#ef3b7d;
}

.token.regex,.token.statement{
  color:#76d9e6;
}

.token.placeholder,.token.variable{
  color:#fff;
}

.token.important,.token.statement{
  font-weight:700;
}

.token.punctuation{
  color:#bebec5;
}

.token.entity{
  cursor:help;
}

.token.debug{
  color:#df0000;
}

pre[data-line]{
  position:relative;
  padding:1em 0 1em 3em;
}

.line-highlight{
  position:absolute;
  left:0;
  right:0;
  padding:inherit 0;
  margin-top:1em;
  background:hsla(0,0%,100%,.08);
  pointer-events:none;
  line-height:inherit;
  white-space:pre;
}

.line-highlight:before,.line-highlight[data-end]:after{
  content:attr(data-start);
  position:absolute;
  top:.4em;
  left:.6em;
  min-width:1em;
  padding:.2em .5em;
  background-color:hsla(0,0%,100%,.4);
  color:#000;
  font:700 65%/1 sans-serif;
  height:1em;
  line-height:1em;
  text-align:center;
  border-radius:999px;
  text-shadow:none;
  box-shadow:0 1px 1px hsla(0,0%,100%,.7);
}

.line-highlight[data-end]:after{
  content:attr(data-end);
  top:auto;
  bottom:.4em;
}

.project{
  padding-top:36px;
}

.project__subTitle{
  color:#0e0d0d;
  font-family:Ubuntu,sans-serif;
  font-size:calc(1.1em + .5vw);
  line-height:1.3;
  font-weight:500;
  margin-top:0;
  margin-bottom:12px;
}

.skip-🔗{
  color:hsla(0,4%,5%,.7);
  font-size:calc(16px + .15vw);
  line-height:1.7;
  font-weight:600;
  margin-top:0;
  margin-bottom:24px;
  position:absolute;
  top:0;
  left:0;
  background-color:#0e0d0d;
  color:#fff;
  margin:0;
  padding:12px 6px;
  text-align:center;
  text-decoration:none;
}

.skip-🔗--hidden{
  position:absolute;
  width:100%;
  height:auto;
  overflow:hidden;
  clip:rect(0 0 0 0);
}

.skip-🔗--hidden:active,.skip-🔗--hidden:focus{
  clip:auto;
  overflow:visible;
  z-index:110;
}

@media screen and (min-width:25em){

  .🖼{
    padding-right:5vw;
    padding-left:5vw;
  }

  .banner__title--home{
    font-size:calc(3.8em + .5vw);
  }

  .logo{
    width:45px;
    height:45px;
  }

  .portfolio__image-wrapper:before{
    width:calc(100% - 36px);
    height:calc(100% - 36px);
  }

  .portfolio__caption{
    padding-right:30px;
    padding-left:30px;
  }
}

@media screen and (min-width:48em){

  .articles__content{
    display:-ms-grid;
    display:grid;
    grid-gap:24px;
    -ms-grid-columns:(1fr)[2];
    grid-template-columns:repeat(2, 1fr);
    margin-bottom:26.4px;
  }

  @supports not ((display:-ms-grid) or (display:grid)){

    .articles__content{
      display:-ms-flexbox;
      display:flex;
      -ms-flex-wrap:wrap;
      flex-wrap:wrap;
      -ms-flex-direction:row;
      flex-direction:row;
      -ms-flex-pack:justify;
      justify-content:space-between;
    }
  }

  .articles__item{
    margin-bottom:0;
  }

  @supports not ((display:-ms-grid) or (display:grid)){

    .articles__item{
      width:49%;
      margin-bottom:24px;
    }
  }

  .blocks__content{
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    -ms-flex-direction:row;
    flex-direction:row;
    -ms-flex-pack:justify;
    justify-content:space-between;
  }

  .blocks__item{
    width:49%;
  }

  .button{
    display:inline-block;
  }

  .button--nav{
    display:none;
  }

  .contact__inner{
    grid-area:title;
  }

  .contact__sidebar{
    grid-area:sidebar;
  }

  .devices{
    padding-top:48px;
    padding-bottom:48px;
  }

  .form__content{
    display:-ms-grid;
    display:grid;
    grid-gap:40px 20px;
    -ms-grid-columns:(1fr)[3];
    grid-template-columns:repeat(3, 1fr);
    grid-area:form;
  }

  @supports not ((display:-ms-grid) or (display:grid)){

    .form__content{
      display:-ms-flexbox;
      display:flex;
      -ms-flex-wrap:wrap;
      flex-wrap:wrap;
      -ms-flex-direction:row;
      flex-direction:row;
      -ms-flex-pack:justify;
      justify-content:space-between;
    }
  }

  .form__inner{
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    -ms-flex-direction:row;
    flex-direction:row;
    -ms-flex-pack:justify;
    justify-content:space-between;
  }

  .form__field{
    -ms-flex-preferred-size:48%;
    flex-basis:48%;
  }

  .form__field:last-child{
    -ms-flex-preferred-size:100%;
    flex-basis:100%;
  }

  .header__content{
    -ms-flex-pack:justify;
    justify-content:space-between;
  }

  .nav{
    position:relative;
  }

  .nav__list{
    -ms-flex-direction:row;
    flex-direction:row;
  }

  .nav__item{
    font-weight:600;
    margin-bottom:0;
    padding-right:9px;
    padding-left:9px;
  }

  .nav__item:first-child{
    padding-left:0;
  }

  .nav__item:last-child{
    padding-right:0;
  }

  .nav__🔗--light{
    color:#fff;
  }

  .nav__🔗-index{
    display:none;
  }

  .portfolio__content{
    column-count:2;
    column-gap:26.4px;
  }

  .portfolio__item{
    display:inline-block;
    width:100%;
    margin-bottom:24px;
  }

  .project{
    padding-top:48px;
  }
}

@media screen and (min-width:62em){

  body{
    font-family:Nunito Sans,sans-serif;
  }

  h1{
    font-size:calc(2.5em + .5vw);
  }

  a{
    transition:all .3s ease-in-out;
    cursor:pointer;
  }

  button{
    transition:all .3s ease-in-out;
  }

  button:focus,button:hover{
    cursor:pointer;
  }

  .offline{
    padding-top:54px;
    padding-bottom:54px;
  }

  .offline__content{
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    -ms-flex-direction:row;
    flex-direction:row;
    -ms-flex-pack:justify;
    justify-content:space-between;
  }

  .offline__item{
    width:58%;
    margin-bottom:0;
  }

  .offline__sidebar{
    width:35%;
  }

  .articles{
    padding-top:54px;
    padding-bottom:54px;
  }

  .articles__content{
    -ms-grid-columns:(1fr)[3];
    grid-template-columns:repeat(3, 1fr);
  }

  @supports not ((display:-ms-grid) or (display:grid)){

    .articles__item{
      width:32.333333%;
    }
  }

  .articles__item:focus .articles__img,.articles__item:hover .articles__img{
    transform:scale(1.2) rotate(5deg);
  }

  .articles__img{
    transition:transform .5s ease-in-out;
  }

  .articles__details{
    padding-top:24px;
    padding-bottom:24px;
  }

  .articles__title{
    font-size:calc(1em + .5vw);
  }

  .banner:not(.banner--404){
    height:750px;
  }

  .banner__content--404{
    -ms-flex-direction:row;
    flex-direction:row;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    -ms-flex-pack:justify;
    justify-content:space-between;
    -ms-flex-align:center;
    align-items:center;
  }

  .banner__item--404{
    width:50%;
  }

  .banner__img--404{
    display:block;
  }

  .banner__title--home{
    font-size:calc(4.5em + .5vw);
  }

  .banner__title--404{
    max-width:none;
  }

  .banner__body--404{
    max-width:none;
  }

  .blocks{
    padding-top:54px;
    padding-bottom:54px;
  }

  .blocks__item{
    margin-bottom:0;
    -ms-flex-preferred-size:32.333333%;
    flex-basis:32.333333%;
  }

  .breadcrumbs__🔗:focus,.breadcrumbs__🔗:hover{
    background-color:#fbd664;
    color:#0e0d0d;
  }

  .browser{
    width:53%;
    margin-top:0;
    -ms-flex-order:1;
    order:1;
  }

  .browser__wrapper{
    max-height:50rem;
    overflow-y:scroll;
  }

  .button{
    font-weight:600;
    padding:12px 24px;
  }

  .contact{
    padding-top:54px;
    padding-bottom:54px;
  }

  .devices__item{
    width:30%;
  }

  .devices__item:last-child{
    display:block;
  }

  .footer{
    padding-bottom:42px;
  }

  .footer__content{
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    -ms-flex-direction:row;
    flex-direction:row;
    -ms-flex-pack:justify;
    justify-content:space-between;
    margin-bottom:48px;
  }

  .footer__list-🔗{
    transition:all .3s ease-in-out;
  }

  .footer__list-🔗:focus,.footer__list-🔗:hover{
    background-color:#fbd664;
    color:#0e0d0d;
  }

  .info-block{
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    -ms-flex-direction:row;
    flex-direction:row;
    -ms-flex-pack:justify;
    justify-content:space-between;
  }

  .info-block__picture{
    padding-top:0;
    -ms-flex-preferred-size:50%;
    flex-basis:50%;
    -ms-flex-order:2;
    order:2;
  }

  .info-block__image{
    object-fit:cover;
  }

  .info-block__inner{
    display:-ms-flexbox;
    display:flex;
    -ms-flex-direction:column;
    flex-direction:column;
    -ms-flex-pack:center;
    justify-content:center;
    background-color:#fcfcfc;
    padding:54px 4vw;
    -ms-flex-preferred-size:50%;
    flex-basis:50%;
    -ms-flex-order:1;
    order:1;
  }

  .info-block__button{
    -ms-flex-item-align:start;
    align-self:flex-start;
  }

  .link{
    transition:background-color .3s ease-in-out;
  }

  .link:focus,.link:hover{
    background-color:#fbd664;
  }

  .nav__item{
    padding-right:15px;
    padding-left:15px;
  }

  .portfolio{
    padding-top:54px;
    padding-bottom:54px;
  }

  .portfolio__item{
    overflow:hidden;
  }

  .portfolio__item:focus .portfolio__📷,.portfolio__item:hover .portfolio__📷{
    transform:scale(1.2) rotate(5deg);
  }

  .portfolio__image-wrapper:before{
    width:calc(100% - 48px);
    height:calc(100% - 48px);
  }

  .portfolio__📷{
    transition:transform .5s ease-in-out;
  }

  .portfolio__caption{
    padding:48px;
  }

  .post{
    padding-top:54px;
    padding-bottom:54px;
  }

  .project{
    padding-top:54px;
  }

  .project__inner{
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    -ms-flex-direction:row;
    flex-direction:row;
    -ms-flex-pack:justify;
    justify-content:space-between;
  }

  .project__content{
    width:42%;
    -ms-flex-order:2;
    order:2;
  }
}

@media screen and (min-width:75em){

  .🖼{
    max-width:1400px;
    margin:0 auto;
  }

  .info-block__picture--home{
    -ms-flex-preferred-size:55%;
    flex-basis:55%;
  }

  .info-block__inner--home{
    -ms-flex-preferred-size:45%;
    flex-basis:45%;
  }
}

@media screen and (max-width:48em) and (orientation:landscape){

  .banner--404,.banner--home{
    min-height:550px;
  }
}

@media screen and (max-width:47.9375em){

  .banner__body{
    max-width:250px;
  }

  .nav{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:#040f0f;
    transform:translateY(-100vh);
    transition:all .7s cubic-bezier(.86, 0, .07, 1);
    visibility:hidden;
    z-index:100;
  }

  .nav--open{
    transform:translateX(0);
    transition:all .7s cubic-bezier(.86, 0, .07, 1);
    visibility:visible;
  }

  .nav__list{
    height:calc(100% - 60px);
    padding-right:25px;
    padding-left:25px;
    opacity:0;
    transform:translateY(5vw);
  }

  .nav__item{
    color:#0e0d0d;
    font-family:Ubuntu,sans-serif;
    font-size:calc(1.7em + .5vw);
    line-height:1.3;
    font-weight:500;
    margin-top:0;
    margin-bottom:18px;
    font-size:calc(2.5em + .5vw);
    margin-bottom:36px;
  }

  .nav__item:last-child{
    margin-bottom:0;
  }

  .nav__🔗{
    color:#b6bcce;
  }

  .nav__🔗--active{
    color:#fff;
  }
}

@media screen and (max-width:47.9375em) and (orientation:landscape){

  .banner__body{
    max-width:none;
  }
}

@media screen and (max-width:61.9375em){

  .footer{
    padding-bottom:120px;
  }

  .footer__list{
    margin-bottom:36px;
  }
}

/*# sourceMappingURL=sourcemaps/main.css.map */
