<section class="{% if home %} [block-size:100vh] md:[block-size:750px] {% else %} [block-size:550px] {% endif %} pr-safe pl-safe" aria-labelledby="banner-heading">
{% if post %}
    <div class="text-center container flex flex-col justify-center [margin-inline:auto] [padding-inline:16px] [block-size:100%] sm:[padding-inline:32px] md:[padding-inline:48px]">
        <h1 class="text-white text-xxl leading-xxl fvs-sb font-selawik [max-inline-size:700px] [margin-inline:auto]" id="banner-heading">{{title}}</h1>
    </div>
{% else %}
    <div class="[block-size:100%] flex flex-col justify-center container [margin-inline:auto] [padding-inline:16px] sm:[padding-inline:32px] md:[padding-inline:48px]">
    {% if home %}
        <h1 class="[margin-block-end:24px] text-white text-xxxl leading-xxxl fvs-sb font-selawik [max-width:400px]" id="banner-heading">{{title}}</h1>
        <span class="[margin-block-end:24px] text-white text-md leading-md fvs-md">{{homepage.subText}}</span>
        <a class="text-yellow-400 text-md leading-md fvs-md flex justify-between items-center self-start gap-4 border-b-2 border-b-yellow-400 hov:transition-colors hov:duration-200 hov:hover:bg-yellow-400 hov:hover:text-slate-900 motion-reduce:transition-none" href="#main" aria-label="Scroll to main content" data-scroll>
            <span aria-hidden="true">Scroll</span>
            <svg class="md:w-24 md:h-24" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" viewBox="0 0 24 24" aria-hidden="true"><path fill="currentColor" fill-rule="evenodd" d="M11 3v14.17l-3.59-3.58L6 15l6 6 6-6-1.41-1.41L13 17.17V3h-2Z" clip-rule="evenodd"/></svg>
        </a>
    {% elif offline %}
        <h1 class="banner__heading banner__heading--light banner__heading--offline" id="banner-heading">{{title}}</h1>
    {% else %}
        <h1 class="[margin-block-end:24px] text-white text-xxl leading-xxl fvs-sb font-selawik" id="banner-heading">{{title}}</h1>
        {% include "_partials/components/breadcrumbs.njk" %}
    {% endif %}
    </div>
{% endif %}
</section>
