<ul class="flex flex-wrap gap-4 items-center">
    <li class="text-base leading-base fvs-sb text-white">
        <a class="border-b-2 border-b-yellow-400 hov:transition-colors hov:duration-200 hov:hover:bg-yellow-400 hov:hover:text-slate-900 motion-reduce:transition-none" href="/">Home</a> /
    </li>
{% if project %}
    <li class="text-base leading-base fvs-sb text-white">
        <a class="border-b-2 border-b-yellow-400 hov:transition-colors hov:duration-200 hov:hover:bg-yellow-400 hov:hover:text-slate-900 motion-reduce:transition-none" href="/portfolio/">Portfolio</a> /
    </li>
{% endif %}
    <li class="text-base leading-base fvs-rg text-slate-300">{{title}}</li>
</ul>
