<nav aria-label="Breadcrumbs navigation">
    <ul class="flex flex-wrap gap-4 items-center">
        <li class="text-base leading-base fvs-sb text-white">
            <a class="border-b-2 border-b-yellow-400 hov:transition-colors hov:duration-200 hov:hover:bg-yellow-400 hov:hover:text-slate-900 motion-reduce:transition-none" href="/">Home</a> <span aria-hidden="true">/</span>
        </li>
    {% if '/portfolio/' in page.url %}
        <li class="text-base leading-base fvs-sb text-white">
            <a class="border-b-2 border-b-yellow-400 hov:transition-colors hov:duration-200 hov:hover:bg-yellow-400 hov:hover:text-slate-900 motion-reduce:transition-none" href="/portfolio/">Portfolio</a> <span aria-hidden="true">/</span>
        </li>
    {% endif %}
    {% if '/topics' in page.url %}
        <li class="text-base leading-base fvs-sb text-white">
            <a class="border-b-2 border-b-yellow-400 hov:transition-colors hov:duration-200 hov:hover:bg-yellow-400 hov:hover:text-slate-900 motion-reduce:transition-none" href="/topics/">Topics</a> <span aria-hidden="true">/</span>
        </li>
    {% endif %}
        <li class="text-base leading-base fvs-rg text-slate-300">
            <a class="border-b-2 border-b-transparent hov:transition-colors hov:duration-200 hov:hover:bg-yellow-400 hov:hover:text-slate-900 motion-reduce:transition-none" href="{{page.url}}" aria-current="page">{{title}}</a>
        </li>
    </ul>
</nav>
