// Banner - Site banner sections

.site-banner {
  position: relative;

  .site-container {
    height: 100%;
    padding: $core-padding;
    overflow: hidden;
  }

  @include respond-to(m) {
    margin-top: 65px;

    .site-container {
      padding: 0 $core-padding;
    }
  }
}

.site-banner__img {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: calc(100% - 24px);
  margin: 0 auto;

  @include respond-to(s) {
    width: calc(90% - 24px);
    margin-left: $core-margin;
  }

  @include respond-to(m) {
    left: initial;
    width: calc(50% - 12px);
    margin: 0;
  }
}

.site-banner__img--home {
  padding: 0 $core-padding;
  @include scale(1.5);

  @include respond-to(xs) {
    @include scale(1.7);
  }

  @include respond-to(s) {
    bottom: -15%;
    padding: 0;
    margin: 0 auto;
    @include scale(0.9);
  }

  @include respond-to(m) {
    bottom: 0;
    width: calc(50% - 12px);
    @include scale(1);
  }

  @include respond-to(xl) {
    bottom: -15%;
  }
}

.site-banner--large {
  size: 100% 110vh;

  @include respond-to(s) {
    height: 100vh;
  }

  @include respond-to(m) {
    height: 500px;
  }
}

.site-banner--small {
  size: 100% 400px;

  @include respond-to(xs) {
    height: 550px;
  }

  @include respond-to(s) {
    height: 650px;
  }

  @include respond-to(m) {
    height: 400px;
  }

  @include respond-to(xl) {
    height: 550px;
  }
}

.site-banner--no-img {
  size: 100% 350px;

  @include respond-to(m) {
    height: 400px;
  }
}

.site-banner__flex {
  @include respond-to(xs) {
    margin-top: 40px;
  }

  @include respond-to(s) {
    margin-top: 0;
  }

  @include respond-to(m) {
    position: relative;
    height: 100%;
    z-index: z(alpha);
    @include grid(null, column, center);
  }
}

.site-banner__flex--blog {
  height: 100%;
  margin-top: 0;

  @include respond-to(s) {
    @include grid(wrap, column, center);

    .site-banner__title {
      text-align: center;
    }

    .breadcrumbs {
      @include justify-content(center);
    }
  }
}

.site-banner__title {
  @include font-size($h1-font-sizes);
}

.site-banner__text {
  @include respond-to(s) {
    max-width: 375px;
  }

  @include respond-to(m) {
    align-self: flex-start;
  }
}
