// Base - global properties

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: $core-font-size;
}

body {
  background: $core-color-neutral;
  color: $core-color-dark;
  font-family: $core-font-family;
  font-weight: $core-font-weight;
  line-height: $core-line-height;
  margin: 0;
  padding-bottom: 60px;
  @include fadein;

  @include respond-to(m) {
    padding-bottom: 0;
  }
}

body ::-moz-selection {
  color: $core-color-light darken($core-color-neutral, 70%);
}

body ::selection {
  color: $core-color-light darken($core-color-neutral, 70%);
}

h1 {
  color: $core-color-brand;
  font-family: $core-secondary-font-family;
  @include font-size($h1-font-sizes);
  font-weight: $core-tertiary-font-weight;
  margin: 0 0 $core-margin 0;
  line-height: $core-secondary-line-height;
}

h2 {
  color: $core-color-brand;
  font-family: $core-secondary-font-family;
  @include font-size($h2-font-sizes);
  font-weight: $core-tertiary-font-weight;
  margin: 0 0 $core-margin 0;
  line-height: $core-secondary-line-height;
}

h3 {
  color: $core-color-dark;
  font-family: $core-secondary-font-family;
  @include font-size($h3-font-sizes);
  font-weight: $core-tertiary-font-weight;
  margin: 0 0 $core-margin 0;
  line-height: $core-secondary-line-height;
}

h4 {
  font-family: $core-secondary-font-family;
  @include font-size($h4-font-sizes);
  font-weight: $core-tertiary-font-weight;
  margin: 0 0 $core-margin 0;
  line-height: $core-secondary-line-height;
}

h5 {
  font-family: $core-secondary-font-family;
  @include font-size($h5-font-sizes);
  font-weight: $core-tertiary-font-weight;
  margin: 0 0 $core-margin 0;
  line-height: $core-secondary-line-height;
}

h6 {
  font-family: $core-secondary-font-family;
  font-size: ($core-font-size * 1.15);
  font-weight: $core-font-weight;
  margin: 0 0 $core-margin 0;
  line-height: $core-secondary-line-height;

  @include respond-to(s) {
    font-size: ($core-font-size * 1.3);
  }
}

p {
  color: $core-color-dark;
  @include font-size($p-font-sizes);
  font-weight: $core-font-weight;
  line-height: $core-line-height;
  margin: 0 0 15px 0;
}

li {
  @include font-size($p-font-sizes);
}

figure {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  margin: 0 auto;
  vertical-align: middle;
}

svg {
  @include respond-to(l) {
    @include transition-025;
  }
}

button {
  @include font-size($p-font-sizes);
  -webkit-appearance: none;
  appearance: none;
  border: none;
}

a {
  color: $core-color-brand;
  text-decoration: underline;

  @include respond-to(l) {
    @include transition-025;
  }
}

hr {
  margin: ($core-margin * 2) 0;
  border-color: $core-color-dark;
  opacity: 0.1;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
  width: 1px;

  &:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
  }
}

.visually-hidden--white {
  color: $core-color-light;
}

.site-container {
  position: relative;
  padding: 0 $core-padding;

  @include respond-to(m) {
    width: 668px;
    margin: 0 auto;
  }

  @include respond-to(l) {
    width: 962px;
  }

  @include respond-to(xl) {
    width: 1200px;
  }
}

.site-flex {
  @include grid(wrap, column, null);

  @include respond-to(m) {
    @include flex-direction(row);
  }
}

.site-flex--space-between {
  @include justify-content(space-between);
}

.site-flex--justify-center {
  @include justify-content(center);
}

.site-flex--align-center {
  @include align-items(center);
}

.site-list {
  list-style: none;
  margin: $core-margin 0 ($core-margin * 2) 0;
  padding: 0;
}

.site-list__item {
  margin-top: $core-margin;

  &:first-child {
    margin-top: 0;
  }
}

.site-list__link {
  display: inline-block;
  vertical-align: middle;
}

.site-list__icon {
  width: 13px;
  height: 13px;
  fill: $core-color-dark;
  margin-right: 5px;
  vertical-align: middle;
}

.twitter-tweet {
  margin: ($core-margin * 2) 0 !important;
}

.external-link {
  display: inline-block;
  text-decoration: none;
}

.external-link__text {
  text-decoration: underline;
}

.external-link__icon {
  width: 10px;
  height: 10px;
  fill: $core-color-brand;
  margin-left: -2px;
  vertical-align: middle;
}

.interact a {
  display: inline-block;
  color: $core-color-light;
  margin-right: $core-grid-unit;
}

.site-image--center {
  text-align: center;
  margin: 0 auto ($core-margin * 2) auto;
}

.site-figure {
  width: 100%;
  margin: ($core-margin * 2) auto;

  @include respond-to(m) {
    width: 80%;
  }
}

.site-figure__img {
  width: 100%;
}

.site-figure__caption {
  background: $core-color-neutral;
  color: $core-color-brand;
  @include font-size($p-font-sizes);
  text-align: center;
  line-height: $core-line-height;
  padding: ($core-padding / 2) $core-padding;
}
