// Blog - blog pages & blog posts

.site-blog {
  position: relative;

  .site-container {
    height: 100%;
    padding: 30px $core-padding;
  }

  @include respond-to(m) {
    .site-container {
      padding: 30px 0;
    }
  }
}

.site-blog--white {
  background: $core-color-light;
}

.site-blog__flex {
  @include respond-to(m) {
    padding: 0 $core-padding;
    @include grid(wrap, row, space-between);
  }
}

.site-blog__item {
  display: block;
  background: $core-color-light;
  text-decoration: none;
  margin-top: 30px;
  padding: 15px;
  border-bottom: 2px solid $core-color-brand;

  &:first-child {
    margin-top: 0;
  }

  @include respond-to(l) {
    width: calc(50% - 12px);
    position: relative;
    border-bottom: none;

    &:nth-of-type(2) {
      margin-top: 0;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      background: $core-color-brand;
      @include transition-03;
    }

    &:hover {
      &::after {
        width: 100%;
      }

       .btn-primary__icon {
         margin-left: 10px;
      }
    }
  }
}

.site-blog__item--no-padding {
  padding: 15px 0;
}

.site-blog__item-title {
  color: $core-color-brand;
}

.site-blog__item-date {
  display: block;
  color: $core-color-dark;
  font-weight: $core-secondary-font-weight;
  margin-bottom: 10px;
}

.site-post {
  background: $core-color-light;
}

.article__body {
  max-width: 46.88rem;
  padding: 30px 0;
  margin: 0 auto;
}

.article__img {
  width: 100%;
  margin-bottom: $core-margin;
}

.article__details {
  @include font-size($p-font-sizes);

  @include respond-to(m) {
    margin-bottom: ($core-margin * 2);
  }
}

.article__date {
  display: block;
  margin-bottom: $core-margin;

  @include respond-to(m) {
    display: inline-block;
    margin-right: ($core-margin * 2);
    margin-bottom: 0;
  }
}

.article__category {
  display: block;
  margin-bottom: $core-margin;

  @include respond-to(m) {
    display: inline-block;
    margin-bottom: 0;
  }
}

.article__section {
  max-width: 46.88rem;
  margin: 0 auto ($core-margin * 3) auto;

  &:last-child {
    margin-bottom: 0;
    padding-bottom: ($core-padding * 3);
  }
}

.article__section--flex {
  @include grid(wrap, row, flex-start);
}

.post__share-link {
  margin-right: ($core-margin * 2);

  &:last-child {
    margin-right: 0;
  }
}

.post__share-icon {
  width: 35px;
  height: 35px;
}

.post__share-icon--twitter {
  fill: $core-twitter-color;
}

.post__share-icon--linkedin {
  fill: $core-linkedin-color;
}
