.site-contact {
  background: $core-color-light;
  padding: 30px 0;
}

.site-contact__flex {
  @include respond-to(m) {
    @include grid(wrap, row, space-between);
  }
}

.site-contact__item {
  margin-bottom: ($core-margin * 2);

  &:last-child {
    margin-bottom: 0;
  }

  @include respond-to(m) {
    width: calc(50% - 12px);
    margin-bottom: 0;
  }
}

.site-contact__label {
  display: inline-block;
  color: $core-color-brand;
  font-family: $core-secondary-font-family;
  @include font-size($p-font-sizes);
  font-weight: $core-tertiary-font-weight;
  margin-bottom: $core-margin;
}

.site-contact__input {
  width: 100%;
  background: $core-color-neutral;
  color: $core-color-dark;
  font-family: $core-font-family;
  font-size: $core-font-size;
  margin-bottom: ($core-margin * 2);
  padding: ($core-padding / 1.5) $core-padding;
  border: none;
  border-radius: 0;

  &.site-contact__input--error {
    background: #f2a6a6;
  }

  @include respond-to(l) {
    padding: $core-padding;
    @include transition-025;

    &:focus,
    &:valid {
      background: transparent;
      color: $core-color-brand;
      border-bottom: 1px solid $core-color-brand;
    }
  }
}

.site-contact__textarea {
  width: 100%;
  background: $core-color-neutral;
  color: $core-color-dark;
  font-family: $core-font-family;
  font-size: $core-font-size;
  padding: ($core-padding / 1.5) $core-padding;
  border: none;
  border-radius: 0;

  &.site-contact__input--error {
    background: #f2a6a6;
  }

  @include respond-to(l) {
    @include transition-025;

    &:focus,
    &:valid {
      background: transparent;
      color: $core-color-brand;
      border-bottom: 1px solid $core-color-brand;
    }
  }
}

.site-contact__loading {
  font-weight: bold;
}

.site-contact__loading--hide {
  display: none;
}

.site-contact__message {
  display: none;
  margin-top: ($core-margin * 2);
  padding: $core-padding;
}

.site-contact__message--success {
  background: #bff2a6;
}

.site-contact__message--error {
  background: #f2a6a6;
}

.site-contact__details {
  @include grid(null, row, null);
  @include align-items(center);
  margin-bottom: ($core-margin * 2);

  &:last-child {
    margin-bottom: 0;
  }

  &:last-child .site-contact__details-icon-wrapper::after {
    display: none;
  }
}

.site-contact__details-icon-wrapper {
  position: relative;
  size: 45px;
  background: $core-color-neutral;
  margin-right: 10px;
  padding: 10px;
  border-radius: 50%;
  z-index: z(alpha);

  &::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -100%;
    left: 0;
    size: 1px 100%;
    background: $core-color-neutral;
    margin: 0 auto;
    z-index: -1;
  }

  @include respond-to(m) {
    margin-right: $core-margin;
  }
}

.site-contact__details-icon {
  size: 100%;
  fill: $core-color-dark;
  vertical-align: middle;
}

.site-contact__details-text {
  font-size: ($core-font-size * 1.15);
}
