.site-portfolio {
  background: $core-color-light;
  padding: 30px 0;
}

.site-portfolio__filter {
  @include grid(wrap, column, center);
  margin-bottom: ($core-grid-unit * 2);

  @include respond-to(s) {
    @include flex-direction(row);
    justify-content: flex-start;
  }
}

.site-portfolio__grid {
  @include respond-to(s) {
    margin-right: -$core-grid-unit;
    margin-left: -$core-grid-unit;
  }
}

.site-portfolio__item {
  position: relative;
  background: $core-color-dark;
  margin-top: $core-grid-unit;

  &:first-child {
    margin-top: 0;
  }

  @include respond-to(s) {
    width: calc(50% - 24px);
    margin: $core-grid-unit;
    overflow: hidden;

    &:first-child {
      margin-top: $core-grid-unit;
    }
  }

  @include respond-to(l) {
    &:hover .site-portfolio__item-desc {
      -webkit-transform: translate3d(0,0,0);
    	transform: translate3d(0,0,0);
    }
  }

  @include respond-to(xl) {
    width: calc(33.333333% - 24px);
  }
}

.site-portfolio__item-img {
  opacity: 0.8;
}

.site-portfolio__item-desc {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: $core-color-neutral;
  padding: $core-grid-unit;

  @include respond-to(l) {
    -webkit-transition: -webkit-transform 0.35s;
  	transition: transform 0.35s;
  	-webkit-transform: translate3d(0,100%,0);
  	transform: translate3d(0,100%,0);
  }
}

.site-portfolio__item-link {
  display: block;
  position: relative;
  text-decoration: none;
}

.site-portfolio__item-title {
  color: $core-color-brand;
  font-weight: $core-font-weight;
}

.site-portfolio__item-text {
  color: $core-color-dark;

  @include respond-to(m) {
    font-size: ($core-font-size * 1.2);
  }
}

.site-portfolio__item-icon {
  position: absolute;
  right: 0;
  bottom: 0;
  size: 40px;
  fill: $core-color-dark;
}

.site-portfolio__flex {
  @include respond-to(m) {
    @include grid(wrap, row, space-between);
  }
}

.site-portfolio__flex-item {
  &:last-child {
    background: $core-color-neutral;
    padding: $core-grid-unit;
  }

  @include respond-to(m) {
    width: calc(50% - 12px);

    &:last-child {
      padding: ($core-grid-unit * 2) 30px;
    }
  }
}

.site-portfolio__img {
  margin-bottom: ($core-grid-unit * 2);

  @include respond-to(m) {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.site-portfolio__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.site-portfolio__list-item {
  color: $core-color-dark;
  margin-bottom: ($core-grid-unit * 2);

  &:last-child {
    margin-bottom: 0;
  }
}

.site-portfolio__share {
  margin-top: ($core-grid-unit * 2);
}

.site-portfolio__share-item {
  margin-right: ($core-grid-unit / 2);
}

.site-portfolio__cta {

  .site-container {
    padding: 30px $core-grid-unit;

    @include respond-to(m) {
      padding: 60px $core-grid-unit;
    }
  }
}

.site-portfolio__cta-flex {
  @include grid(wrap, row, space-between);
}

.site-portfolio__cta-link {
  display: block;
  background: $core-color-brand;
  padding: $core-grid-unit;
  text-decoration: none;

  @include respond-to(l) {
    &:hover {
      @include cd-pulse;
    }
  }
}

.site-portfolio__cta-link--disabled {
  background: darken($core-color-neutral, 10%);
  pointer-events: none;
}

.site-portfolio__cta-link--left {
  align-self: flex-start;
}

.site-portfolio__cta-link--right {
  align-self: flex-end;
}

.site-portfolio__cta-icon {
  size: 20px;
  fill: $core-color-light;
  vertical-align: middle;
}

.site-portfolio__cta-icon--left {
  @include rotate(180);
}

.site-portfolio__cta-text {
  color: $core-color-light;
  @include font-size($p-font-sizes);
  font-weight: $core-secondary-font-weight;
  vertical-align: middle;
}
