// Portfolio - portfolio pages, filter buttons and items

.site-portfolio {
  background: $core-color-light;
  padding: 30px 0;
}

.site-portfolio__filter {
  @include grid(wrap, column, center);
  margin-bottom: ($core-grid-unit * 2);

  @include respond-to(s) {
    @include flex-direction(row);
    justify-content: flex-start;
  }
}

.site-portfolio__grid {
  @include respond-to(s) {
    @include grid(wrap, row, space-between);
  }
}

.site-portfolio__item {
  display: block;
  position: relative;
  width: 100%;
  background: $core-color-dark;
  text-decoration: none;
  margin-top: $core-grid-unit;
  overflow: hidden;
  transition: none;

  &:first-child {
    margin-top: 0;
  }

  @include respond-to(l) {
    width: calc(50% - 12px);
    margin: 0;
    overflow: hidden;

    &:hover {
      .site-portfolio__item-img {
        opacity: 0.2;
        -webkit-transform: translate3d(0,0,0) scale(1);
      	transform: translate3d(0,0,0) scale(1);
      }

      .site-portfolio__item-desc {
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
      	transform: translate3d(0,0,0);
      }
    }
  }
}

.site-portfolio__flex-item--margin {
  margin-top: ($core-margin * 2);

  @include respond-to(m) {
    margin: 0;
  }
}

.site-portfolio__item--isotope {
  @include respond-to(l) {
    &:nth-of-type(odd) {
      margin-right: ($core-margin * 2);
    }
  }
}

.site-portfolio__figure {
  position: relative;
}

.site-portfolio__figure-wrapper {
  @include grid(wrap, row, space-between);
  @include align-items(center);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba($core-color-brand, 0.85);
  padding: $core-padding ($core-padding * 2);
  z-index: z(beta);
}

.site-portfolio__item-title {
  color: $core-color-light;
  font-weight: $core-font-weight;
  margin: 0;
}

.site-portfolio__item-icon {
  width: 25px;
  height: 25px;
  fill: $core-color-light;
  @include respond-to(s) {
    width: 30px;
    height: 30px;
  }

  @include respond-to(m) {
    width: 35px;
    height: 35px;
  }
}

.site-portfolio__item-img {
  display: block;
  width: 100%;
  opacity: 0.2;

  @include respond-to(l) {
    opacity: 1;
  	-webkit-transform: translate3d(-20px,0,0) scale(1.12);
  	transform: translate3d(-20px,0,0) scale(1.12);
  	-webkit-backface-visibility: hidden;
  	backface-visibility: hidden;
    @include transition-025;
  }
}

.site-portfolio__item-desc {
  position: absolute;
  top: ($core-grid-unit * 2);
  left: ($core-grid-unit * 2);
  width: 80%;
  padding-right: 5px;
  border-right: 1px solid #fff;

  @include respond-to(l) {
    opacity: 0;
    @include transition-025;
    -webkit-transform: translate3d(-40px,0,0);
  	transform: translate3d(-40px,0,0);
  }
}

.site-portfolio__item-text {
  color: $core-color-light;

  &:last-child {
    margin-bottom: 0;
  }

  @include respond-to(m) {
    font-size: ($core-font-size * 1.2);
  }
}

.site-portfolio__content {
  margin-bottom: ($core-grid-unit * 2);
  padding: ($core-grid-unit * 2) 0;

  @include respond-to(m) {
    width: calc(75% - 6px);
  }
}

.site-portfolio__title--blue {
  color: $core-color-brand;
}

.site-portfolio__flex {
  @include respond-to(m) {
    @include grid(wrap, row, space-between);
  }
}

.site-portfolio__flex--padding {
  padding: ($core-padding * 1.5) 0 ($core-padding * 3) 0;
  @include align-items(center);
}

.site-portfolio__flex-item {
  @include respond-to(m) {
    width: calc(50% - 12px);

    h2 {
      margin: 0;
    }
  }
}

.site-portfolio__flex-img {
  max-width: 350px;
}

.site-portfolio__img {
  width: 100%;
  margin-top: ($core-grid-unit * 2);

  @include respond-to(m) {
    margin-top: 0;
  }
}

.site-portfolio__palette {
  padding: ($core-padding * 4) 0;

  @include respond-to(s) {
    @include grid(wrap, row, space-between);
  }

  @include respond-to(l) {
    padding: ($core-padding * 10) 0;
  }
}

.site-portfolio__palette-item {
  margin-top: ($core-margin * 2);

  &:first-child {
    margin-top: 0;
  }

  @include respond-to(s) {
    width: calc(50% - 12px);

    &:nth-of-type(2) {
      margin-top: 0;
    }
  }

  @include respond-to(m) {
    width: calc(25% - 12px);
    margin-top: 0;
  }
}

.site-portfolio__palette-color {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  box-shadow: 0 5px 20px 0 rgba(0,0,0,.33);
  border-radius: 50%;

  @include respond-to(xs) {
    width: 160px;
    height: 160px;
  }

  @include respond-to(s) {
    width: 180px;
    height: 180px;
  }

  @include respond-to(m) {
    width: 130px;
    height: 130px;
  }

  @include respond-to(l) {
    width: 160px;
    height: 160px;
  }

  @include respond-to(xl) {
    width: 190px;
    height: 190px;
  }
}

@each $theme in $palettes {
  .site-portfolio__palette--#{nth($theme,1)} {
    .site-portfolio__palette--#{nth($theme,2)} {
      background: nth($theme,3);
    }
  }
}

.site-portfolio__palette-name {
  display: block;
  @include font-size($h5-font-sizes);
  text-align: center;
  margin-top: ($core-margin * 2);
}

.site-portfolio__font {
  padding: 0 0 ($core-padding * 3) 0;
}

.site-portfolio__share {
  margin-top: ($core-margin * 2);
}

.site-portfolio__share-item {
  margin-right: ($core-margin / 2);
}

.site-portfolio__cta {

  .site-container {
    padding: 30px $core-padding;

    @include respond-to(m) {
      padding: 60px $core-grid-unit;
    }
  }
}

.site-portfolio__cta-flex {
  @include grid(wrap, row, space-between);
}

.site-portfolio__cta-link {
  display: block;
  background: $core-color-brand;
  padding: $core-grid-unit;
  text-decoration: none;

  @include respond-to(l) {
    &:hover {
      @include cd-pulse;
    }
  }
}

.site-portfolio__cta-link--disabled {
  background: darken($core-color-neutral, 10%);
  pointer-events: none;
}

.site-portfolio__cta-link--left {
  align-self: flex-start;
}

.site-portfolio__cta-link--right {
  align-self: flex-end;
}

.site-portfolio__cta-icon {
  width: 20px;
  height: 20px;
  fill: $core-color-light;
  vertical-align: middle;
}

.site-portfolio__cta-icon--left {
  @include rotate(180);
}

.site-portfolio__cta-text {
  color: $core-color-light;
  @include font-size($p-font-sizes);
  font-weight: $core-secondary-font-weight;
  vertical-align: middle;
}
