.site-portfolio {
  background: $core-color-light;
  padding: 30px 0;
}

.site-portfolio__filter {
  @include grid(wrap, column, center);
  margin-bottom: ($core-grid-unit * 2);

  @include respond-to(s) {
    @include flex-direction(row);
    justify-content: flex-start;
  }
}

.site-portfolio__grid {
  @include respond-to(s) {
    margin-right: -$core-grid-unit;
    margin-left: -$core-grid-unit;
  }
}

.site-portfolio__item {
  position: relative;
  background: $core-color-dark;
  margin-top: $core-grid-unit;
  overflow: hidden;

  &:first-child {
    margin-top: 0;
  }

  @include respond-to(s) {
    width: calc(50% - 24px);
    margin: $core-grid-unit;
    overflow: hidden;

    &:first-child {
      margin-top: $core-grid-unit;
    }
  }

  @include respond-to(l) {
    &:hover {

      .site-portfolio__item-img {
        opacity: 0.5;
        -webkit-transform: translate3d(0,0,0) scale(1);
      	transform: translate3d(0,0,0) scale(1);
      }

      .site-portfolio__item-desc {
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
      	transform: translate3d(0,0,0);
      }
    }
  }

  @include respond-to(xl) {
    width: calc(33.333333% - 24px);
  }
}

.site-portfolio__item-img {
  opacity: 0.5;
  -webkit-transform: translate3d(-15px,0,0) scale(1.12);
  transform: translate3d(-15px,0,0) scale(1.12);

  @include respond-to(l) {
    @include transition-025;
  	-webkit-transform: translate3d(-20px,0,0) scale(1.12);
  	transform: translate3d(-20px,0,0) scale(1.12);
  	-webkit-backface-visibility: hidden;
  	backface-visibility: hidden;
  }
}

.site-portfolio__item-desc {
  position: absolute;
  top: ($core-grid-unit * 2);
  left: ($core-grid-unit * 2);
  width: 80%;
  border-right: 1px solid #fff;

  @include respond-to(l) {
    opacity: 0;
    @include transition-025;
    -webkit-transform: translate3d(-40px,0,0);
  	transform: translate3d(-40px,0,0);
  }
}

.site-portfolio__item-link {
  display: block;
  position: relative;
  text-decoration: none;
}

.site-portfolio__item-title {
  position: absolute;
  bottom: ($core-grid-unit * 2);
  left: ($core-grid-unit * 2);
  width: 100%;
  color: $core-color-light;
  font-weight: $core-font-weight;
  margin: 0;
  z-index: z(beta);
}

.site-portfolio__item-text {
  color: $core-color-light;

  &:last-child {
    margin-bottom: 0;
  }

  @include respond-to(m) {
    font-size: ($core-font-size * 1.2);
  }
}

.site-portfolio__item-icon {
  position: absolute;
  right: ($core-grid-unit * 2);
  bottom: ($core-grid-unit * 2);
  size: 25px;
  fill: $core-color-light;
  z-index: z(beta);

  @include respond-to(s) {
    size: 30px;
  }

  @include respond-to(m) {
    size: 35px;
  }
}

.site-portfolio__content {
  margin-bottom: ($core-grid-unit * 2);

  @include respond-to(m) {
    width: calc(75% - 6px);
  }
}

.site-portfolio__img {
  width: 100%;
  margin-bottom: ($core-grid-unit * 2);

  @include respond-to(m) {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.site-portfolio__share {
  margin-top: ($core-grid-unit * 2);
}

.site-portfolio__share-item {
  margin-right: ($core-grid-unit / 2);
}

.site-portfolio__cta {

  .site-container {
    padding: 30px $core-grid-unit;

    @include respond-to(m) {
      padding: 60px $core-grid-unit;
    }
  }
}

.site-portfolio__cta-flex {
  @include grid(wrap, row, space-between);
}

.site-portfolio__cta-link {
  display: block;
  background: $core-color-brand;
  padding: $core-grid-unit;
  text-decoration: none;

  @include respond-to(l) {
    &:hover {
      @include cd-pulse;
    }
  }
}

.site-portfolio__cta-link--disabled {
  background: darken($core-color-neutral, 10%);
  pointer-events: none;
}

.site-portfolio__cta-link--left {
  align-self: flex-start;
}

.site-portfolio__cta-link--right {
  align-self: flex-end;
}

.site-portfolio__cta-icon {
  size: 20px;
  fill: $core-color-light;
  vertical-align: middle;
}

.site-portfolio__cta-icon--left {
  @include rotate(180);
}

.site-portfolio__cta-text {
  color: $core-color-light;
  @include font-size($p-font-sizes);
  font-weight: $core-secondary-font-weight;
  vertical-align: middle;
}
