.scroll-top {
  display: block;
  position: fixed;
  right: -60px;
  bottom: 20px;
  size: 40px;
  background: $core-color-brand;
  text-align: center;
  border-radius: 50%;
  z-index: z(beta);
  opacity: 0;
  -webkit-box-shadow: 3px 4px 9px 0 rgba(0,0,0,.15);
  box-shadow: 3px 4px 9px 0 rgba(0,0,0,.15);
  -webkit-transition: right 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55), opacity 0.3s, color 0.3s;
  -moz-transition: right 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55), opacity 0.3s, color 0.3s;
  -o-transition: right 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55), opacity 0.3s, color 0.3s;
  transition: right 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55), opacity 0.3s, color 0.3s;

  &:hover::before {
    @include respond-to(l) {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      size: 100%;
      border-radius: inherit;
      @include cd-pulse;
    }
  }
}

.scroll-top--isVisible {
  right: 15px;
  opacity: 1;
}

.scroll-top__icon {
  size: 50% 100%;
  fill: $core-color-light;
}
