// Typography.........Mixin to add typography.

// Font styles map configuration
$headings: (
  sun: (
    default: (
      color: var(--color-heading),
      font-family: $core-secondary-variable-font-family,
      font-size: calc(3em + 0.5vw),
      font-weight: normal,
      font-variation-settings: 'wght' $core-tertiary-font-weight,
      line-height: 1.1,
      margin-top: 0,
      margin-bottom: ($core-margin * 1.75)
    )
  ),
  jupiter: (
    default: (
      color: var(--color-heading),
      font-family: $core-secondary-variable-font-family,
      font-size: calc(2.3em + 0.5vw),
      font-weight: normal,
      font-variation-settings: 'wght' $core-tertiary-font-weight,
      line-height: $core-secondary-line-height,
      margin-top: 0,
      margin-bottom: ($core-margin * 1.75)
    )
  ),
  saturn: (
    default: (
      color: var(--color-heading),
      font-family: $core-secondary-variable-font-family,
      font-size: calc(2em + 0.5vw),
      font-weight: normal,
      font-variation-settings: 'wght' $core-tertiary-font-weight,
      line-height: $core-secondary-line-height,
      margin-top: 0,
      margin-bottom: ($core-margin * 1.5)
    )
  ),
  uranus: (
    default: (
      color: var(--color-heading),
      font-family: $core-secondary-variable-font-family,
      font-size: calc(1.7em + 0.5vw),
      font-weight: normal,
      font-variation-settings: 'wght' $core-tertiary-font-weight,
      line-height: $core-secondary-line-height,
      margin-top: 0,
      margin-bottom: ($core-margin * 1.5)
    )
  ),
  mars: (
    default: (
      color: var(--color-heading),
      font-family: $core-secondary-variable-font-family,
      font-size: calc(1.3em + 0.5vw),
      font-weight: normal,
      font-variation-settings: 'wght' $core-tertiary-font-weight,
      line-height: $core-secondary-line-height,
      margin-top: 0,
      margin-bottom: $core-margin
    )
  ),
  venus: (
    default: (
      color: var(--color-heading),
      font-family: $core-secondary-variable-font-family,
      font-size: calc(1.1em + 0.5vw),
      font-weight: normal,
      font-variation-settings: 'wght' 650,
      line-height: $core-secondary-line-height,
      margin-top: 0,
      margin-bottom: $core-margin
    )
  ),
  pluto: (
    default: (
      color: var(--color-body),
      font-family: $core-font-family,
      font-size: calc(1em + 0.5vw),
      font-variation-settings: 'wght' $core-font-weight,
      line-height: 1.1,
      margin-top: 0,
      margin-bottom: ($core-margin * 2)
    ),
    variable-fonts: (
      font-family: $core-variable-font-family,
      font-weight: $core-tertiary-font-weight,
      font-variation-settings: 'wght' $core-secondary-font-weight
    )
  ),
  earth: (
    default: (
      color: var(--color-body),
      font-family: $core-font-family,
      font-size: calc(#{$core-font-size} + 0.15vw),
      font-weight: $core-tertiary-font-weight,
      line-height: $core-line-height,
      margin-top: 0,
      margin-bottom: ($core-margin * 2)
    ),
    variable-fonts: (
      font-family: $core-variable-font-family,
      font-weight: $core-font-weight,
      font-variation-settings: 'wght' 550
    )
  ),
  moon: (
    default: (
      color: var(--color-body),
      font-family: $core-font-family,
      font-size: calc(0.8em + 0.15vw),
      font-weight: $core-tertiary-font-weight,
      line-height: $core-line-height,
      margin-top: 0,
      margin-bottom: ($core-margin / 2)
    ),
    variable-fonts: (
      font-family: $core-variable-font-family,
      font-weight: $core-tertiary-font-weight,
      font-variation-settings: 'wght' $core-secondary-font-weight
    )
  ),
  bodyCopy: (
    default: (
      font-family: $core-font-family,
      font-size: calc(#{$core-font-size} + 0.1vw),
      font-weight: $core-font-weight,
      line-height: $core-line-height,
      margin-top: 0,
      margin-bottom: ($core-margin * 2)
    ),
    variable-fonts: (
      font-family: $core-variable-font-family,
      font-weight: normal,
      font-variation-settings: 'wght' $core-secondary-font-weight
    )
  )
);

@mixin text($style) {
  $props: map-get($headings, $style);
  $default: map-get($props, default);
  $variable-fonts: map-get($props, variable-fonts);
  $font-family: map-get($default, font-family);

  @if $props == null {
    @warn 'text style \"#{$style}\" not found';
  } @else {
    @include map-to-props($default);

    @if $font-family == $core-font-family {
      @if map-has-key($props, variable-fonts) {
        @include min(l) {
          @include map-to-props($variable-fonts);
        }
      }
    }
  }
}
