@use "../settings/variables" as _variables;
@use "../tools/mixins/responsive" as _responsive;
@use "../tools/mixins/transitions" as _transitions;
@use "../tools/mixins/typography" as _typography;

// Global.............The sites core styles.

*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --color-brand: #{_variables.$core-color-brand};
  --color-background: #{_variables.$core-color-background};
  --color-foreground: #{_variables.$core-color-foreground};
  --color-neutral: #{_variables.$core-color-neutral};
  --color-fade: #{_variables.$core-color-fade};
  --color-heading: #{_variables.$core-color-brand};
  --color-body: #{_variables.$core-color-body};
  --color-link: #{_variables.$core-color-brand};
  --color-danger: #{_variables.$core-color-danger};

  @media (prefers-color-scheme: dark) {
    --color-brand: #{_variables.$dark-mode-color-brand};
    --color-background: #{_variables.$dark-mode-color-background};
    --color-foreground: #{_variables.$dark-mode-color-foreground};
    --color-neutral: #{_variables.$dark-mode-color-neutral};
    --color-fade: #{_variables.$dark-mode-color-background};
    --color-heading: #{_variables.$core-color-background};
    --color-body: #{_variables.$dark-mode-color-body};
    --color-link: #{_variables.$core-color-link};
    --color-danger: #{_variables.$dark-mode-color-danger};
  }
}

html {
  font-size: _variables.$core-font-size;
}

body {
  color: var(--color-body);
  background-color: var(--color-background);
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body ::-moz-selection {
  background: var(--color-foreground);
  color: var(--color-background);
}

body ::selection {
  background: var(--color-foreground);
  color: var(--color-background);
}

h1 {
  @include _responsive.min(l) {
    font-size: calc(2.5em + 0.5vw);
  }
}

p {
  @include _typography.text(bodyCopy);
}

a {
  color: var(--color-link);
  font-family: _variables.$core-font-family;
  font-weight: _variables.$core-tertiary-font-weight;
  text-decoration: none;

  @include _responsive.min(l) {
    font-family: _variables.$core-variable-font-family;
    font-weight: _variables.$core-font-weight;
    font-variation-settings: 'wght' _variables.$core-tertiary-font-weight;
  }

  @include _responsive.min(l) {
    @include _transitions.transition-03(all);
    cursor: pointer;
  }
}

strong {
  color: var(--color-heading);
  font-weight: _variables.$core-font-weight;
  font-variation-settings: 'wght' _variables.$core-tertiary-font-weight;
}

ul,
ol,
dl {
  margin: 0;
  padding: 0;
  list-style: none;
}

dd {
  margin-left: 0;
}

li {
  @include _typography.text(bodyCopy);
}

figure {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  vertical-align: middle;
}

img:not([src]) {
  visibility: hidden;
}

blockquote {
  margin: 0;
}

legend {
  display: none;
}

input {
  @include _typography.text(bodyCopy);
  border-radius: 0;
  appearance: none;
}

textarea {
  @include _typography.text(bodyCopy);
  border-radius: 0;
  appearance: none;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  appearance: none;

  @include _responsive.min(l) {
    @include _transitions.transition-03(all);

    &:hover {
      cursor: pointer;
    }
  }
}

pre {
  margin-top: 0;
  margin-bottom: (_variables.$core-margin * 3);
}

hr {
  margin: (_variables.$core-margin * 2) 0;
  border-color: _variables.$core-color-foreground;
  opacity: 0.1;
}
