// Global.............The sites core styles.

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: $core-font-size;
}

body {
  background: $core-color-light;
  color: $core-color-dark;
  font-family: $core-font-family;
  font-weight: $core-font-weight;
  line-height: 1.45;
  margin: 0;
  padding-bottom: 67px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  @include fadeIn;

  @include respond-to(s) {
    padding-bottom: 0;
  }
}

body ::-moz-selection {
  background: $core-color-brand;
  color: $core-color-light;
}

body ::selection {
  background: $core-color-brand;
  color: $core-color-light;
}

h1 {
  color: $core-color-brand;
  font-family: $core-secondary-font-family;
  font-weight: $core-font-weight;
  margin: 0 0 $core-margin 0;
  line-height: $core-secondary-line-height;
  @include font-size($h1-font-sizes);
}

h2 {
  color: $core-color-brand;
  font-family: $core-secondary-font-family;
  font-weight: $core-font-weight;
  margin: 0 0 $core-margin 0;
  line-height: $core-secondary-line-height;
  @include font-size($h2-font-sizes);

  @include respond-to(l) {
    font-weight: $core-tertiary-font-weight;
  }
}

h3 {
  color: $core-color-brand;
  font-family: $core-secondary-font-family;
  font-weight: $core-font-weight;
  margin: 0 0 $core-margin 0;
  line-height: $core-secondary-line-height;
  @include font-size($h3-font-sizes);
}

h4 {
  color: $core-color-brand;
  font-family: $core-secondary-font-family;
  font-weight: $core-font-weight;
  margin: 0 0 $core-margin 0;
  line-height: $core-secondary-line-height;
  @include font-size($h4-font-sizes);
}

h5 {
  color: $core-color-brand;
  font-family: $core-secondary-font-family;
  font-weight: $core-font-weight;
  margin: 0 0 $core-margin 0;
  line-height: $core-secondary-line-height;
  @include font-size($h5-font-sizes);
}

h6 {
  color: $core-color-brand;
  font-family: $core-secondary-font-family;
  font-weight: $core-font-weight;
  margin: 0 0 $core-margin 0;
  line-height: $core-secondary-line-height;
  @include font-size($h6-font-sizes);
}

p {
  color: $core-color-body;
  font-weight: $core-font-weight;
  line-height: $core-line-height;
  margin: 0 0 ($core-margin * 1.5) 0;
  @include font-size($p-font-sizes);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  @include font-size($p-font-sizes);
}

figure {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  margin: 0 auto;
  vertical-align: middle;
}

svg {
  @include respond-to(l) {
    @include transition-03;
  }
}

button {
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: none;
  appearance: none;
  @include font-size($p-font-sizes);

  @include respond-to(l) {
    @include transition-03;
  }
}

a {
  color: $core-color-brand;
  text-decoration: underline;

  @include respond-to(l) {
    cursor: pointer;
    @include transition-03;
  }
}

hr {
  margin: ($core-margin * 2) 0;
  border-color: $core-color-dark;
  opacity: 0.1;
}
