// Layout.............Generic layout module.

.🖼 {
  position: relative;
  padding-right: 15px;
  padding-left: 15px;

  @include min(xs) {
    padding-right: 5vw;
    padding-left: 5vw;
  }

  @include min(xl) {
    max-width: 1400px;
    margin: 0 auto;
  }
}

.📱 {
  @supports (padding-left: env(safe-area-inset-left)) {
    padding-right: env(safe-area-inset-left);
    padding-left: env(safe-area-inset-left);
  }
}

.offline {
  padding-top: ($core-padding * 3);
  padding-bottom: ($core-padding * 3);

  @include min(l) {
    padding-top: ($core-padding * 4.5);
    padding-bottom: ($core-padding * 4.5);
  }
}

.offline__content {
  @include min(l) {
    @include flex(wrap, row, space-between, null);
  }
}

.offline__item {
  margin-bottom: ($core-margin * 3.5);

  @include min(l) {
    width: 58%;
    margin-bottom: 0;
  }
}

.offline__sidebar {
  @include min(l) {
    width: 35%;
  }
}

.hide {
  opacity: 0;
  transform: translateY(25px);
}

.fade-in {
  opacity: 1;
  transform: translateY(0);
  transition: transform 1.4s cubic-bezier(0.6, 0.2, 0.1, 1) 0.1s, opacity 1.4s cubic-bezier(0.6, 0.2, 0.1, 1) 0.1s;
}
