// Layout.............Generic layout module.

.container {
  position: relative;
  padding: 0 20px;

  @include respond-to(m) {
    width: 750px;
    margin: 0 auto;
  }

  @include respond-to(l) {
    width: 970px;
  }

  @include respond-to(xl) {
    width: 1170px;
  }

  @include respond-to(xxl) {
    width: 80%;
  }
}
