// Loader.............The sire's pre loader when site first loads.

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: $core-color-light;
  z-index: z(kilo);
  @include flex(null, column, center, center);

  &--active {
    .loader__mask-img {
      animation: loading_screen 30s infinite;
    }
  }
}

.loader__wrapper {
  position: relative;
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  overflow: hidden;
}

.loader__logo {
  display: block;
  position: relative;
  width: 100%;
  z-index: z(beta);
}

.loader__mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 98%;
  height: 98%;
  background: #fafafa;
  overflow: hidden;
  z-index: z(alpha);
}

.loader__mask-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
}
