// Notch..............iPhone X notch styles.

.notch {
  @supports (padding-left: env(safe-area-inset-left)) {
    padding-right: env(safe-area-inset-left);
    padding-left: env(safe-area-inset-left);
  }
}

.hide {
  .js & {
    opacity: 0;
    transform: translateY(25px);
  }
}

.fade-in {
  opacity: 1;
  transform: translateY(0);
  transition: transform 1.4s cubic-bezier(0.6, 0.2, 0.1, 1) 0.1s, opacity 1.4s cubic-bezier(0.6, 0.2, 0.1, 1) 0.1s;
}
