@use "../settings/variables" as _variables;
@use "../tools/mixins/flexbox" as _flexbox;
@use "../tools/mixins/responsive" as _responsive;
@use "../tools/mixins/typography" as _typography;

// Offline............Offline page styles.

.offline {
  @include _responsive.container;
  padding-top: (_variables.$core-padding * 3);
  padding-bottom: (_variables.$core-padding * 3);

  @include _responsive.min(l) {
    padding-top: (_variables.$core-padding * 4.5);
    padding-bottom: (_variables.$core-padding * 4.5);
  }
}

.offline__container {
  @include _responsive.min(l) {
    @include _flexbox.flex(wrap, row, space-between, null);
  }
}

.offline__item {
  margin-bottom: (_variables.$core-margin * 3.5);

  @include _responsive.min(l) {
    width: 58%;
    margin-bottom: 0;
  }
}

.offline__heading {
  @include _typography.text(saturn);
}

.offline__sub-heading {
  @include _typography.text(uranus);
}

.offline__sidebar {
  @include _responsive.min(l) {
    width: 35%;
  }
}
