---
page: about
layout: default.hbs
title: About me
description: Alex Clapperton &mdash; Manchester, UK based front-end developer
changefreq: monthly
priority: 1.0
---


<!-- ******************** BAR : Start ******************** -->
<section class="bar">
  <!-- BEGIN : CONTAINER -->
  <div class="container">
    <!-- BEGIN : BAR CONTENT -->
    <div class="bar__content">
      <h1 class="bar__title">About Me</h1>
      <ul class="breadcrumbs">
        <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="/" title="Breadcrumb link to the homepage.">Home</a></li>
        <li class="breadcrumbs__item">About Me</li>
      </ul>
      <!-- BEGIN : SYMBOL -->
      <div class="symbol symbol--primary">
        <svg class="symbol__icon symbol__icon--primary" width="20" height="20">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/icons/sprite.svg#about"></use>
        </svg>
      </div>
      <!-- END : SYMBOL /-->
    </div>
    <!-- END : BAR CONTENT /-->
  </div>
  <!-- END : CONTAINER /-->
</section>
<!-- ******************** BAR : End ******************** /-->



<!-- ******************** ABOUT : Start ******************** -->
<main class="about" role="main" id="content">
  <!-- BEGIN : CONTAINER -->
  <div class="container">
    <!-- BEGIN : ABOUT CONTENT -->
    <div class="about__content">
      <!-- BEGIN : ABOUT HERO -->
      <div class="about__hero">
        <img class="about__hero-img" src="/images/about/alex-china.jpg" alt="Alex stood in front of a large stone with Chinese carvings.">
      </div>
      <!-- END : ABOUT HERO /-->
      <div class="about__item">
        <h2 class="about__title">Who am I?</h2>
        <p class="about__body">I have had a passion for Web Development since 2012 where I started my own little Wordpress site where I blogged about my love for Apple products. It was there I found an interest into how websites were made and decided to head to the Manchester Metropolitan University  to expand my knowledge of Web Development further.</p>
        <p class="about__body">I thrive off learning new skills, being challenged daily and having to prove myself under pressure and being part of such young and dynamic industry is the perfect motivation for me to keep improving myself both professionally and personally.</p>
        <a class="btn" href="/pdf/alex-clapperton-cv.pdf" title="Download Alex's CV.">
          <span class="btn__body btn__body--primary">
            Download my CV
            <svg class="btn__icon btn__icon--primary" width="20" height="20">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/icons/sprite.svg#download"></use>
            </svg>
          </span>
        </a>
      </div>
    </div>
    <!-- END : ABOUT CONTENT /-->
  </div>
  <!-- END : CONTAINER /-->
</main>
<!-- ******************** ABOUT : End ******************** /-->


<!-- ******************** BLOCKS : Start ******************** -->
<section class="blocks">
  <!-- BEGIN : BLOCKS ITEM -->
  <div class="blocks__item">
    <span class="blocks__number">01</span>
    <h3 class="blocks__title">Thinkng</h3>
    <p class="blocks__body">Lorem ipsum scelerisque molestie id molestie magna ante etiam sollicitudin tempus consectetur conubia, urna eros nunc curabitur viverra rutrum tortor.</p>
  </div>
  <!-- BEGIN : BLOCKS ITEM -->
  <!-- BEGIN : BLOCKS ITEM -->
  <div class="blocks__item">
    <span class="blocks__number">02</span>
    <h3 class="blocks__title">Development</h3>
    <p class="blocks__body">Lorem ipsum scelerisque molestie id molestie magna ante etiam sollicitudin tempus consectetur conubia, urna eros nunc curabitur viverra rutrum tortor.</p>
  </div>
  <!-- BEGIN : BLOCKS ITEM -->
  <!-- BEGIN : BLOCKS ITEM -->
  <div class="blocks__item">
    <span class="blocks__number">03</span>
    <h3 class="blocks__title">Design</h3>
    <p class="blocks__body">Lorem ipsum scelerisque molestie id molestie magna ante etiam sollicitudin tempus consectetur conubia, urna eros nunc curabitur viverra rutrum tortor.</p>
  </div>
  <!-- BEGIN : BLOCKS ITEM -->
</section>
<!-- ******************** BLOCKS : End ******************** /-->


<!-- ******************** BAR : Start ******************** -->
<section class="bar">
  <!-- BEGIN : CONTAINER -->
  <div class="container">
    <!-- BEGIN : BAR CONTENT -->
    <div class="bar__content">
      <h2 class="bar__title">Read my recent blog posts</h2>
      <!-- BEGIN : SYMBOL -->
      <div class="symbol symbol--primary">
        <svg class="symbol__icon symbol__icon--primary" width="20" height="20">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/icons/sprite.svg#blog"></use>
        </svg>
      </div>
      <!-- END : SYMBOL /-->
    </div>
    <!-- END : BAR CONTENT /-->
  </div>
  <!-- END : CONTAINER /-->
</section>
<!-- ******************** BAR : End ******************** /-->


<!-- ******************** BLOG : Start ******************** -->
<section class="blog">
  <!-- BEGIN : CONTAINER -->
  <div class="container">
    <!-- BEGIN : BLOG CONTENT -->
    <div class="blog__content">
      {{#each_upto articles.[2017] 3}}
        {{>article}}
      {{/each_upto}}
      {{#each_upto articles.[2016] 1}}
        {{>article}}
      {{/each_upto}}
    </div>
    <!-- END : BLOG CONTENT /-->
  </div>
  <!-- END : CONTAINER /-->
</section>
<!-- ******************** BLOG : End ******************** /-->
