---
page: home
layout: default.hbs
title:
description: Alex Clapperton &mdash; Manchester, UK based front-end developer
changefreq: monthly
priority: 1.0
---

<!-- ******************** BANNER : Start ******************** -->
<section class="banner">
  <!-- BEGIN : CONTAINER -->
  <div class="container">
    <!-- BEGIN : BANNER CONTENT -->
    <div class="banner__content">
      <!-- BEGIN : BANNER BLOCK -->
      <div class="banner__blocks">
        <div class="banner__block1">
          <h1 class="banner__title">{{global.name}}</h1>
          <p class="banner__body">{{global.jobTitle}} Manchester, UK</p>
        </div>
        <div class="banner__block2"></div>
      </div>
      <!-- END : BANNER BLOCK /-->
      <a class="banner__scroll" href="#content">
        <svg class="banner__scroll-icon" width="30" height="30">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/icons/sprite.svg#arrow"></use>
        </svg>
        <span class="visually-hidden visually-hidden--white">Scroll to content</span>
      </a>
    </div>
    <!-- END : BANNER CONTENT /-->
  </div>
  <!-- END : CONTAINER /-->
</section>
<!-- ******************** BANNER : End ******************** /-->


<!-- ******************** INFO : Start ******************** -->
<main class="info" role="main" id="content">
  <!-- BEGIN : CONTAINER -->
  <div class="container">
    <h2 class="info__title">A little bit about me</h2>
    <!-- BEGIN : SYMBOL -->
    <div class="symbol symbol--secondary">
      <svg class="symbol__icon symbol__icon--secondary" width="20" height="20">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/icons/sprite.svg#about"></use>
      </svg>
    </div>
    <!-- END : SYMBOL /-->
    <p class="info__body">I am Alex a 24 year old Front-End Website Developer from Manchester. I have had a passion for Web Development since 2012 where I started my own little Wordpress site where I blogged about my love for Apple products.</p>
    <a class="btn" href="/about-me" title="Go to the about page.">
      <span class="btn__body btn__body--primary">
        More about Alex
        <svg class="btn__icon btn__icon--primary btn__icon--rotate" width="20" height="20">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/icons/sprite.svg#arrow"></use>
        </svg>
      </span>
    </a>
    <a class="btn" href="/pdf/alex-clapperton-cv.pdf" title="Download Alex's CV.">
      <span class="btn__body btn__body--primary">
        Download my CV
        <svg class="btn__icon btn__icon--primary" width="20" height="20">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/icons/sprite.svg#download"></use>
        </svg>
      </span>
    </a>
  </div>
  <!-- END : CONTAINER /-->
</main>
<!-- ******************** INFO : End ******************** /-->


<!-- ******************** BAR : Start ******************** -->
<section class="bar">
  <!-- BEGIN : CONTAINER -->
  <div class="container">
    <!-- BEGIN : BAR CONTENT -->
    <div class="bar__content">
      <h2 class="bar__title">Browse through my recent projects</h2>
      <!-- BEGIN : SYMBOL -->
      <div class="symbol symbol--primary">
        <svg class="symbol__icon symbol__icon--primary" width="20" height="20">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/icons/sprite.svg#portfolio"></use>
        </svg>
      </div>
      <!-- END : SYMBOL /-->
    </div>
    <!-- END : BAR CONTENT /-->
  </div>
  <!-- END : CONTAINER /-->
</section>
<!-- ******************** BAR : End ******************** /-->


<!-- ******************** PORTFOLIO : Start ******************** -->
<section class="portfolio">
  <!-- BEGIN : CONTAINER -->
  <div class="container">
    <!-- BEGIN : PORTFOLIO CONTENT -->
    <div class="portfolio__content">
      {{#each_upto portfolio.[2016] 3}}
        {{>portfolio}}
      {{/each_upto}}
      <a class="portfolio__link" href="#" title="Go to portfolio page.">All Projects</a>
    </div>
    <!-- END : PORTFOLIO CONTENT /-->
  </div>
  <!-- END : CONTAINER /-->
</section>
<!-- ******************** PORTFOLIO : End ******************** /-->


<!-- ******************** BAR : Start ******************** -->
<section class="bar">
  <!-- BEGIN : CONTAINER -->
  <div class="container">
    <!-- BEGIN : BAR CONTENT -->
    <div class="bar__content">
      <h2 class="bar__title">Read my recent blog posts</h2>
      <!-- BEGIN : SYMBOL -->
      <div class="symbol symbol--primary">
        <svg class="symbol__icon symbol__icon--primary" width="20" height="20">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/icons/sprite.svg#blog"></use>
        </svg>
      </div>
      <!-- END : SYMBOL /-->
    </div>
    <!-- END : BAR CONTENT /-->
  </div>
  <!-- END : CONTAINER /-->
</section>
<!-- ******************** BAR : End ******************** /-->


<!-- ******************** BLOG : Start ******************** -->
<section class="blog">
  <!-- BEGIN : CONTAINER -->
  <div class="container">
    <!-- BEGIN : BLOG CONTENT -->
    <div class="blog__content">
      {{#each_upto articles.[2017] 3}}
        {{>article}}
      {{/each_upto}}
      {{#each_upto articles.[2016] 1}}
        {{>article}}
      {{/each_upto}}
    </div>
    <!-- END : BLOG CONTENT /-->
  </div>
  <!-- END : CONTAINER /-->
</section>
<!-- ******************** BLOG : End ******************** /-->
