---
page: home
layout: default.hbs
title: Homepage
description: Alex Clapperton &mdash; Manchester, UK based front-end developer
changefreq: monthly
priority: 1.0
---

<!-- ******************** SITE BANNER : Start ******************** -->
<section class="site-banner site-banner--large">
  <!-- BEGIN : CONTAINER -->
  <div class="site-container">
    <!-- BEGIN : GRID GUIDES -->
    <div class="grid-guides">
      <div class="grid-guides__guide"></div>
      <div class="grid-guides__guide"></div>
      <div class="grid-guides__guide"></div>
      <div class="grid-guides__guide"></div>
    </div>
    <!-- END : GRID GUIDES /-->
    <!-- BEGIN : SITE BANNER FLEX -->
    <div class="site-banner__flex">
      <h1 class="site-banner__title">Hello! <br> My name is <br> {{{global.name}}}</h1>
      <p class="site-banner__text">
        I am a <strong>Manchester</strong> based Junior/Freelance <strong>{{{global.jobTitle}}}</strong> and a final year University student.
      </p>
    </div>
    <!-- END : SITE BANNER FLEX -->
  </div>
  <!-- END : CONTAINER -->
</section>
<!-- ******************** SITE BANNER : End /******************** /-->


<!-- ******************** SITE MAIN : Start ******************** -->
<main class="site-main" id="content" role="main">
  <!-- BEGIN : CONTAINER -->
  <div class="site-container">
    <!-- BEGIN : SITE PORTFOLIO FLEX -->
    <div class="site-portfolio__flex site-portfolio__flex--padding">
      <!-- BEGIN : SITE PORTFOLIO FLEX ITEM -->
      <div class="site-portfolio__flex-item">
        <h2>My latest work</h2>
      </div>
      <!-- END : SITE PORTFOLIO FLEX ITEM /-->
      <!-- BEGIN : SITE PORTFOLIO FLEX ITEM -->
      <div class="site-portfolio__flex-item">
        <!-- BEGIN : BTN PRIMARY FLEX -->
        <div class="btn-primary__flex btn-primary__flex--end">
          <a class="btn-primary btn-primary--blue btn-primary--large btn-primary__text--large" href="/my-work" title="Internal link to my work page.">View all my work</a>
        </div>
        <!-- END : BTN PRIMARY FLEX /-->
      </div>
    </div>
    <!-- END : SITE PORTFOLIO FLEX /-->
    <!-- BEGIN : SITE PORTFOLIO GRID -->
    <div class="site-portfolio__grid">
      {{#each_upto portfolio.[2016] 4}}
        <!-- BEGIN : SITE PORTFOLIO ITEM -->
        {{>work-item-preview}}
        <!-- END : SITE PORTFOLIO ITEM /-->
      {{/each_upto}}
    </div>
    <!-- END : SITE PORTFOLIO GRID /-->
  </div>
  <!-- END : CONTAINER /-->
</main>
<!-- ******************** SITE MAIN : End ******************** /-->


<!-- ******************** SITE BLOG : Start ******************** -->
<section class="site-blog">
  <!-- BEGIN : CONTAINER -->
  <div class="site-container">
    <!-- BEGIN : GRID GUIDES -->
    <div class="grid-guides">
      <div class="grid-guides__guide"></div>
      <div class="grid-guides__guide"></div>
      <div class="grid-guides__guide"></div>
      <div class="grid-guides__guide"></div>
    </div>
    <!-- END : GRID GUIDES /-->
    <!-- BEGIN : SITE BLOG FLEX -->
    <div class="site-blog__flex">
      {{#each articles.[2016]}}
        <!-- BEGIN : SITE BLOG ITEM -->
        {{>article-section}}
        <!-- END : SITE BLOG ITEM /-->
      {{/each}}
    </div>
    <!-- END : SITE BLOG FLEX /-->
  </div>
  <!-- END : CONTAINER /-->
</section>
<!-- ******************** SITE BLOG : End ******************** /-->
