---
page: home
layout: default.hbs
title: Homepage
description: Alex Clapperton &mdash; Manchester, UK based front-end developer
changefreq: monthly
priority: 1.0
---

<!-- ******************** BANNER : Start ******************** -->
<section class="banner container" role="banner">
  <!-- BEGIN : BANNER BLOCK -->
  <div class="banner__block">
    <h1 class="banner__title">Alex Clapperton</h1>
    <p class="banner__body">Front-End Web Developer Manchester, UK</p>
  </div>
  <!-- END : BANNER BLOCK /-->
  <a class="banner__scroll" href="#content">
    <svg class="banner__scroll-icon" width="20" height="20">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/icons/sprite.svg#arrow"></use>
    </svg>
  </a>
</section>
<!-- ******************** BANNER : End ******************** /-->


<!-- ******************** INFO : Start ******************** -->
<section class="info" id="content">
  <div class="info__flex">
    <h2 class="info__title">A little bit about me</h2>
    <!-- BEGIN : SYMBOL -->
    <div class="symbol symbol--secondary">
      <svg class="symbol__icon symbol__icon--secondary" width="20" height="20">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/icons/sprite.svg#about"></use>
      </svg>
    </div>
    <!-- END : SYMBOL /-->
  </div>
  <p class="info__body">I am Aaron a 24 year old Front-End Website Developer from Manchester. I have had a passion for Web Development since 2012 where I started my own little Wordpress site where I blogged about my love for Apple products.</p>
  <a class="btn btn--primary" href="#">
    More about Alex
    <svg class="btn__icon btn__icon--primary btn__icon--rotate" width="20" height="20">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/icons/sprite.svg#arrow"></use>
    </svg>
  </a>
  <a class="btn btn--primary" href="#">
    Download my CV
    <svg class="btn__icon btn__icon--primary" width="20" height="20">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/icons/sprite.svg#download"></use>
    </svg>
  </a>
</section>
<!-- ******************** INFO : End ******************** /-->
