---
page: home
layout: default.hbs
title: Homepage
description: Alex Clapperton &mdash; Manchester, UK based front-end developer
changefreq: monthly
priority: 1.0
---

<!-- ******************** SITE BANNER : Start ******************** /-->
<section class="site-banner site-banner--large">
  <!-- BEGIN : CONTAINER -->
  <div class="site-container">
    <!-- BEGIN : GRID GUIDES -->
    <div class="grid-guides">
      <div class="grid-guides__guide"></div>
      <div class="grid-guides__guide"></div>
      <div class="grid-guides__guide"></div>
      <div class="grid-guides__guide"></div>
    </div>
    <!-- END : GRID GUIDES /-->
    <!-- BEGIN : SITE BANNER FLEX -->
    <div class="site-banner__flex">
      <h1 class="site-banner__title">Hello! <br> My name is <br> {{{global.name}}}</h1>
      <p class="site-banner__text">
        I am a <strong>Manchester</strong> based Junior/Freelance <strong>{{{global.jobTitle}}}</strong> and a final year University student.
      </p>
    </div>
    <!-- END : SITE BANNER FLEX -->
  </div>
  <!-- END : CONTAINER -->
</section>
<!-- ******************** SITE BANNER : End /******************** /-->


<!-- ******************** SITE SECTION : Start ******************** /-->
<main class="site-main" id="content" role="main">
  <!-- BEGIN : CONTAINER -->
  <div class="site-container">
    <h2 class="site-sub-heading">Check out my latest work</h2>
    <hr>
    <!-- BEGIN : SITE PORTFOLIO GRID -->
    <div class="site-portfolio__grid">
      {{#each_upto portfolio.[2016] 4}}
        <!-- BEGIN : SITE PORTFOLIO ITEM -->
        {{>work-item-preview}}
        <!-- END : SITE PORTFOLIO ITEM /-->
      {{/each_upto}}
    </div>
    <!-- END : SITE PORTFOLIO GRID /-->
    <hr>
    <h2 class="site-sub-heading"><a href="/my-work">See more of my work</a></h2>
  </div>
  <!-- END : CONTAINER /-->
</main>
<!-- ******************** SITE SECTION : End /******************** /-->


<!-- ******************** SITE BLOG : Start ******************** /-->
<section class="site-blog">
  <!-- BEGIN : CONTAINER -->
  <div class="site-container">
    <!-- BEGIN : GRID GUIDES -->
    <div class="grid-guides">
      <div class="grid-guides__guide"></div>
      <div class="grid-guides__guide"></div>
      <div class="grid-guides__guide"></div>
      <div class="grid-guides__guide"></div>
    </div>
    <!-- END : GRID GUIDES /-->
    <!-- BEGIN : SITE BLOG FLEX -->
    <div class="site-blog__flex">
      {{#each articles.[2016]}}
        <!-- BEGIN : SITE BLOG ITEM -->
        {{>article-section}}
        <!-- END : SITE BLOG ITEM /-->
      {{/each}}
    </div>
    <!-- END : SITE BLOG FLEX /-->
  </div>
  <!-- END : CONTAINER /-->
</section>
<!-- ******************** SITE BLOG : End /******************** /-->
