<section class="banner{{#if active_home}} banner--home{{/if}}{{#unless active_home}} banner--dark{{/unless}} 📱">
    <div class="banner__content 🖼">
    {{#if active_home}}
        <h1 class="banner__title banner__title--home">Alex Clapperton</h1>
        <span class="banner__body">Front-End Web Developer, Manchester UK</span>
        <a class="banner__scroll-🔗" href="#main">
          Scroll
          {{!-- <svg class="banner__scroll-icon" width="20" height="20">
              <title>Scroll</title>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/icons/sprite.svg#arrow"></use>
          </svg> --}}
        </a>
    {{else if isOffline}}
        <h1 class="banner__title banner__title--light banner__title--offline">{{title}}</h1>
    {{else}}
        <h1 class="banner__title banner__title--light">{{title}}</h1>
        {{>breadcrumbs}}
    {{/if}}
    </div>
</section>
