<ul class="breadcrumbs">
    <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="/">Home</a></li>
{{#if project}}
    <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="/portfolio/">Portfolio</a></li>
{{/if}}
    <li class="breadcrumbs__item breadcrumbs__item--active">{{title}}</li>
</ul>
