<!-- ******************** HEADER : Start ******************** -->
<header class="header 📱">
    <!-- BEGIN : SKIP LINKS -->
    <a href="#nav" class="skip-🔗 skip-🔗--hidden">Skip to navigation</a>
    <a href="#main" class="skip-🔗 skip-🔗--hidden">Skip to main content</a>
    <a href="#footer" class="skip-🔗 skip-🔗--hidden">Skip to footer</a>
    <!-- END : SKIP LINKS /-->
    <!-- BEGIN : CONTAINER -->
    <div class="🖼">
        <!-- BEGIN : HEADER CONTNET -->
        <div class="header__content">
            <a class="logo{{#unless home}} logo--light{{/unless}}" href="/" title="Go to the homepage.">
                <svg class="logo__icon" xmlns="http://www.w3.org/2000/svg" width="45" height="45" viewBox="0 0 45 45" aria-describedby="logo-title">
                    <title id="logo-title">Alex Clapperton</title>
                {{#if home}}
                    <image xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/icons/logo--dark.svg" x="0" y="0" width="100%" height="100%"></image>
                {{else}}
                    <image xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/icons/logo--light.svg" x="0" y="0" width="100%" height="100%"></image>
                {{/if}}
                </svg>
            </a>

            <button class="button button--nav" aria-controls="nav" aria-expanded="false" data-navigation-trigger>
                Menu
                <svg class="button--nav-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M18.984 12.984h-6v6h-1.97v-6h-6v-1.97h6v-6h1.97v6h6v1.97z"/></svg>
            </button>
            <!-- BEGIN : NAV -->
            <nav class="nav" id="nav" data-navigation>
                <svg class="nav__logo" xmlns="http://www.w3.org/2000/svg" width="45" height="45" viewBox="0 0 45 45" aria-describedby="title" data-navigation-logo>
                    <title id="title">Alex Clapperton</title>
                    <image xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/icons/logo--light.svg" x="0" y="0" width="100%" height="100%"></image>
                </svg>
                <ul class="nav__list" data-navigation-list>
                    <!-- BEGIN : NAV ITEM -->
                    <li class="nav__item"><a class="nav__🔗{{#if about}} nav__🔗--active{{/if}}{{#unless home}} nav__🔗--light{{/unless}}" href="/about-me/" title="Go to the about page." data-nav-item><span class="nav__🔗-index">.01</span>About Me</a></li>
                    <!-- END : NAV ITEM /-->
                    <!-- BEGIN : NAV ITEM -->
                    <li class="nav__item"><a class="nav__🔗{{#if portfolio}} nav__🔗--active{{/if}}{{#unless home}} nav__🔗--light{{/unless}}" href="/portfolio/" title="Go to the portfolio page." data-nav-item><span class="nav__🔗-index">.02</span>Portfolio</a></li>
                    <!-- END : NAV ITEM /-->
                    <!-- BEGIN : NAV ITEM -->
                    <li class="nav__item"><a class="nav__🔗{{#if blog}} nav__🔗--active{{/if}}{{#unless home}} nav__🔗--light{{/unless}}" href="/articles/" title="Go to the articles page." data-nav-item><span class="nav__🔗-index">.03</span>Articles</a></li>
                    <!-- END : NAV ITEM /-->
                    <!-- BEGIN : NAV ITEM -->
                    <li class="nav__item"><a class="nav__🔗{{#if contact}} nav__🔗--active{{/if}}{{#unless home}} nav__🔗--light{{/unless}}" href="/contact/" title="Go to the contact page." data-nav-item><span class="nav__🔗-index">.04</span>Contact</a></li>
                    <!-- END : NAV ITEM /-->
                </ul>
                <span class="nav__item-active" data-nav-item-active></span>
            </nav>
            <!-- END : NAV /-->
        </div>
        <!-- END : HEADER CONTENT /-->
    </div>
    <!-- END : CONTAINER /-->
</header>
<!-- ******************** HEADER : End ******************** /-->
