<header class="site-header" data-site-header>
    <nav data-nav class="nav">
        <a href="/" class="nav__link{{#if active_home}} nav__link--active{{/if}}">Home</a>
        <a href="/about-me/" class="nav__link{{#if active_about}} nav__link--active{{/if}}">About me</a>
        <a href="/portfolio/" class="nav__link{{#if active_portfolio}} nav__link--active{{/if}}">Portfolio</a>
        <a href="/articles/" class="nav__link{{#if active_articles}} nav__link--active{{/if}}">Articles</a>
        <a href="/contact/" class="nav__link{{#if active_contact}} nav__link--active{{/if}}">Contact</a>
    </nav>
</header>
