<div class="push-strip push-strip--hide" data-push>
    <div class="push-strip__container">
        <svg class="push-strip__icon" xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 224 224"><path fill="#43403d" d="M25.992 52C21.578 52 18 55.588 18 60.01V173h186V60.01c0-4.424-3.59-8.01-7.992-8.01H25.992z"/><path fill="#dedede" d="M222.881 180l.28-6.09c.02-.456-.431-.91-.901-.91l-220.453-.066c-.496 0-.97.507-.95 1.014.125 2.994.254 5.989.254 5.989.073 1.657 1.448 3.002 3.076 3.002l215.603.06c1.626 0 3.01-1.348 3.091-3z"/><path fill="#a8a8a8" d="M220.368 183H4.204c-1.632 0-3.252-.895-3.625-2h222.97c-.376 1.101-1.552 2-3.181 2z"/><path fill="#000" d="M25 61h172v104H25z"/><path fill="#9e9e9e" d="M111 59a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"/><path fill="#aaa" d="M93.5 173v1.5a1.5 1.5 0 0 0 1.496 1.5h34.008c.826 0 1.496-.666 1.496-1.5V173h-37z"/><path fill="#c23434" stroke="#43403d" stroke-width="6" d="M177 59.5a17.5 17.5 0 1 0 35 0 17.5 17.5 0 1 0-35 0"/></svg>
        <p class="push-strip__text">Article notifications: Get notified on your device when I publish a new article.</p>
        <button class="button button--primary" type="button" data-push-button>Enable notifications</button>
    </div>
</div>
