---
page: my-work
layout: default.hbs
title: My Work
description: Alex Clapperton's portfolio &mdash; Alex Clapperton &mdash; Manchester, UK based front-end developer
keywords: web development, front end, developer, web developer, website portfolio, portfolio, my work, web projects
changefreq: monthly
priority: 0.9
---

<!-- ******************** SITE BANNER : Start ********************-->
<section class="site-banner  site-banner--small">
  <!-- BEGIN : CONTAINER -->
  <div class="site-container">
    <!-- BEGIN : GRID GUIDES -->
    <div class="grid-guides">
      <div class="grid-guides__guide"></div>
      <div class="grid-guides__guide"></div>
      <div class="grid-guides__guide"></div>
      <div class="grid-guides__guide"></div>
    </div>
    <!-- END : GRID GUIDES /-->
    <!-- BEGIN : SITE BANNER FLEX -->
    <div class="site-banner__flex">
      <h1 class="site-banner__title">Check out <br> my latest work</h1>
      <!-- BEGIN : BREADCRUMBS -->
      <div class="breadcrumbs">
        <span class="breadcrumbs__item"><a class="breadcrumbs__link" href="/">Home</a></span>
        <span class="breadcrumbs__item">My Work</span>
      </div>
      <!-- END : BREADCRUMBS /-->
      <img class="site-banner__img" src="/images/banner/my-work-frame.png" alt="Chrome browser frame of Alex's old portfolio website homepage." />
    </div>
    <!-- END : SITE BANNER FLEX -->
  </div>
  <!-- END : CONTAINER -->
</section>
<!-- ******************** SITE BANNER : End ******************** /-->


<!-- ******************** SITE PORTFOLIO : Start ********************-->
<main class="site-portfolio" id="content" role="main">
  <!-- BEGIN : CONTAINER -->
  <div class="site-container">
    <!-- BEGIN : SITE PORTFOLIO FILTER -->
    <div class="site-portfolio__filter">
      <button class="btn-portfolio  btn-portfolio--active" type="button" name="button" data-filter="*">All Work</button>
      <button class="btn-portfolio" type="button" name="button" data-filter=".uni">University Projects</button>
      <button class="btn-portfolio" type="button" name="button" data-filter=".personal">Personal Projects</button>
    </div>
    <!-- END : SITE PORTFOLIO FILTER /-->
    <!-- BEGIN : SITE PORTFOLIO GRID -->
    <div class="site-portfolio__grid">
      <div class="grid-sizer"></div>
      {{#each portfolio.[2016]}}
        <!-- BEGIN : SITE PORTFOLIO ITEM -->
        {{>work-item-preview}}
        <!-- END : SITE PORTFOLIO ITEM /-->
      {{/each}}
    </div>
    <!-- END : SITE PORTFOLIO GRID /-->
  </div>
  <!-- END : CONTAINER /-->
</main>
<!-- ******************** SITE PORTFOLIO : End ******************** /-->


<!-- ******************** SITE BLOG : Start ******************** /-->
<section class="site-blog">
  <!-- BEGIN : CONTAINER -->
  <div class="site-container">
    <!-- BEGIN : GRID GUIDES -->
    <div class="grid-guides">
      <div class="grid-guides__guide"></div>
      <div class="grid-guides__guide"></div>
      <div class="grid-guides__guide"></div>
      <div class="grid-guides__guide"></div>
    </div>
    <!-- END : GRID GUIDES /-->
    <!-- BEGIN : SITE BLOG FLEX -->
    <div class="site-blog__flex">
      {{#each articles.[2017]}}
        <!-- BEGIN : SITE BLOG ITEM -->
        {{>article-section}}
        <!-- END : SITE BLOG ITEM /-->
      {{/each}}
    </div>
    <!-- END : SITE BLOG FLEX /-->
  </div>
  <!-- END : CONTAINER /-->
</section>
<!-- ******************** SITE BLOG : End /******************** /-->
