---
page: love-manchester-website
layout: default.hbs
title: Love Manchester Website
description: Love Manchester Website &mdash; My Work &mdash; Alex Clapperton &mdash; Manchester, UK based front-end developer
keywords: web development, front end, developer, web developer, website portfolio, love manchester, manchester, international student guide, student guide, mmu, manchester metropolitan university
changefreq: monthly
priority: 0.9
---

<!-- ******************** SITE BANNER : Start ********************-->
<section class="site-banner site-banner--small">
  <!-- BEGIN : CONTAINER -->
  <div class="site-container">
    <!-- BEGIN : GRID GUIDES -->
    <div class="grid-guides">
      <div class="grid-guides__guide"></div>
      <div class="grid-guides__guide"></div>
      <div class="grid-guides__guide"></div>
      <div class="grid-guides__guide"></div>
    </div>
    <!-- END : GRID GUIDES /-->
    <!-- BEGIN : SITE BANNER FLEX -->
    <div class="site-banner__flex">
      <h1 class="site-banner__title">Love Manchester <br> website</h1>

      <!-- BEGIN : BREADCRUMBS -->
      <div class="breadcrumbs">
        <span class="breadcrumbs__item"><a class="breadcrumbs__link" href="/">Home</a></span>
        <span class="breadcrumbs__item"><a class="breadcrumbs__link" href="/my-work">My Work</a></span>
        <span class="breadcrumbs__item">Love Manchester Website</span>
      </div>
      <!-- END : BREADCRUMBS /-->

      <img class="site-banner__img" src="/images/banner/love-manchester-frame.png" alt="Love Manchester website homepage." />
    </div>
    <!-- END : SITE BANNER FLEX -->
  </div>
  <!-- END : CONTAINER -->
</section>
<!-- ******************** SITE BANNER : End ******************** /-->


<!-- ******************** SITE PORTFOLIO : Start ********************-->
<main class="site-portfolio" id="content" role="main">
  <!-- BEGIN : SITE CONTAINER -->
  <div class="site-container">
    <!-- BEGIN : SITE PORTFOLIO FLEX -->
    <div class="site-portfolio__flex">
      <!-- BEGIN : SITE PORTFOLIO FLEX ITEM -->
      <div class="site-portfolio__flex-item">
        <h2>Project brief</h2>

        <p>
          Working in a group of five, we had to create a digital product and a poster of our product based on a student guide about a topic of our choosing. We decided to create an international student guide website about Manchester, helping international students find the best things to do within the city centre.
        </p>
      </div>
      <!-- END : SITE PORTFOLIO FLEX ITEM /-->
      <!-- BEGIN : SITE PORTFOLIO FLEX ITEM -->
      <div class="site-portfolio__flex-item">
        <!-- BEGIN : BTN PRIMARY FLEX -->
        <div class="btn-primary__flex btn-primary__flex--center">
          <a class="btn-primary btn-primary--blue btn-primary--large btn-primary__text--large" href="http://www.11063905.webdevmmu.uk/dpm-website/" title="external link to project website">Visit website</a>
        </div>
        <!-- END : BTN PRIMARY FLEX /-->
      </div>
      <!-- END : SITE PORTFOLIO FLEX ITEM /-->
    </div>
    <!-- END : SITE PORTFOLIO FLEX /-->

    <hr>

    <h2 class="site-portfolio__title--blue">Branding</h2>

    <!-- BEGIN : SITE PORTFOLIO FLEX -->
    <div class="site-portfolio__flex">
      <!-- BEGIN : SUTE PORTFOLIO FLEX ITEM -->
      <div class="site-portfolio__flex-item">
        <p>
          We decided as a group to use bright bold colours across the website to try and reflect what Manchester is all about. In terms of the logo, we decided to use a bee inside a love heart. The bee is the symbol of Manchester, indicating the city to be a hard working, energetic city.
        </p>

        <p>
          For the typography, we decided to use a sans-serif font as we wanted to make it as easy as possible for the user to read, especially if the user had any visual disabilities.
        </p>

        <p>
          We also had to create a large sized poster to advertise our product. On the poster are statistics from our user research, screenshots of the completed website and a description about the website.
        </p>
        <a class="btn-primary btn-primary--blue btn-primary--margin btn-primary__flex--start" href="/pdf/love-manchester-poster.pdf" title="Internal link to the Love Manchester poster.">
          <span class="btn-primary__text">Download poster</span>
          <svg class="btn-primary__icon  btn-primary__icon--white">
            <title>Download icon</title>
            <use xlink:href="/images/icons/sprite.svg#download" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </a>
      </div>
      <!-- END : SITE PRTFOLIO FLEX ITEM /-->
      <!-- BEGIN : SITE PRTFOLIO FLEX ITEM -->
      <div class="site-portfolio__flex-item">
        <img src="/images/portfolio/love-manchester-website/love-manchester-wire.jpg" alt="Two wireframe mockups of the Love Manchester website." />
      </div>
      <!-- END : SITE PORTFOLIO FLEX ITEM /-->
    </div>
    <!-- END : SITE PORTFOLIO FLEX /-->
    <!-- BEGIN : SITE PORTFOLIO PALETTE -->
    <div class="site-portfolio__palette site-portfolio__palette--lvm">
      <!-- BEGIN : SUTE PORTFOLIO PALETTE ITEM -->
      <div class="site-portfolio__palette-item">
        <div class="site-portfolio__palette-color site-portfolio__palette--base"></div>
        <span class="site-portfolio__palette-name">$dodger-blue</span>
      </div>
      <!-- END : SITE PORTFOLIO PALETTE ITEM /-->
      <!-- BEGIN : SITE PORTFOLIO PALETTE ITEM -->
      <div class="site-portfolio__palette-item">
        <div class="site-portfolio__palette-color site-portfolio__palette--dark"></div>
        <span class="site-portfolio__palette-name">$radical-red</span>
      </div>
      <!-- END : SITE PORTFOLIO PALETTE ITEM /-->
      <!-- BEGIN : SITE PORTFOLIO PALETTE ITEM -->
      <div class="site-portfolio__palette-item">
        <div class="site-portfolio__palette-color site-portfolio__palette--neutral"></div>
        <span class="site-portfolio__palette-name">$mine-shaft</span>
      </div>
      <!-- END : SITE PORTFOLIO PALETTE ITEM /-->
      <!-- BEGIN : SITE PORTFOLIO PALETTE ITEM -->
      <div class="site-portfolio__palette-item">
        <div class="site-portfolio__palette-color site-portfolio__palette--light"></div>
        <span class="site-portfolio__palette-name">$gallery</span>
      </div>
      <!-- END : SITE PORTFOLIO PALETTE ITEM /-->
    </div>
    <!-- END : SITE PORTFOLIO PALETTE /-->
    <!-- BEGIN : SITE PORTFOLIO FONT  -->
    <div class="site-portfolio__font site-portfolio__flex">
      <!-- BEGIN : SITE PORTFOLIO FLEX ITEM -->
      <div class="site-portfolio__flex-item">
        <img class="site-portfolio__flex-img" src="/images/portfolio/love-manchester-website/font1.jpg" alt="Alphabet and numbers using Work Sans font." />
      </div>
      <!-- END : SITE PORTFOLIO FLEX ITEM /-->
      <!-- BEGIN : SITE PORTFOLIO FLEX ITEM -->
      <div class="site-portfolio__flex-item">
        <img class="site-portfolio__flex-img" src="/images/portfolio/love-manchester-website/font2.jpg" alt="Alphabet and numbers using Lato font." />
      </div>
      <!-- END : SITE PORTFOLIO FLEX ITEM /-->
    </div>
    <!-- END : SITE PORTFOLIO FONT /-->
    <!-- BEGIN : SITE PORTFOLIO CONTENT -->
    <div class="site-portfolio__content">
      <h2 class="site-portfolio__title--blue">Design</h2>

      <p>
        For the design of the website our group immediately agreed to a mobile-first design and then scaling up to desktop. We each made our own wireframes, before sharing them with the rest of the group and then creating our final design based off each others ideas.
      </p>
    </div>
    <!-- END : SITE PORTFOLIO CONTENT /-->
    <!-- BEGIN : SITE IMAGE CENTER -->
    <div class="site-image--center">
      <img src="/images/portfolio/love-manchester-website/love-manchester-ui.jpg" alt="Three screenshots of the Love Manchester website in desktop and mobile sizes." />
    </div>
    <!-- END : SITE IMAGE CENTER /-->
    <!-- BEGIN : SITE PORTFOLIO CONTENT -->
    <div class="site-portfolio__content">
      <p>
        When it came to structuring the website we wanted to make it as simple as possible. Using large blocks where neccessary to make them stand out and using a simple navigation so the user can naviagte round the website with ease.
      </p>

      <h3>Share this project</h3>

      <!-- AddToAny BEGIN -->
      <div class="site-portfolio__share a2a_kit a2a_kit_size_32 a2a_default_style">
        <a class="site-portfolio__share-item a2a_button_facebook"></a>
        <a class="site-portfolio__share-item a2a_button_twitter"></a>
        <a class="site-portfolio__share-item a2a_button_linkedin"></a>
        <a class="site-portfolio__share-item a2a_button_google_plus"></a>
      </div>
      <script async src="https://static.addtoany.com/menu/page.js"></script>
      <!-- AddToAny END -->
    </div>
    <!-- BEGIN : SITE PORTFOLIO CONTENT -->
  </div>
  <!-- END : SITE CONTAINER /-->
</main>
<!-- ******************** SITE PORTFOLIO : End ******************** /-->


<!-- ******************** SITE PORTFOLIO CTA : Start ********************-->
<section class="site-portfolio__cta">
  <div class="site-container">
    <!-- BEGIN : GRID GUIDES -->
    <div class="grid-guides">
      <div class="grid-guides__guide"></div>
      <div class="grid-guides__guide"></div>
      <div class="grid-guides__guide"></div>
      <div class="grid-guides__guide"></div>
    </div>
    <!-- END : GRID GUIDES /-->
    <!-- BEGIN : SITE PORTFOLIO CTA FLEX -->
    <div class="site-portfolio__cta-flex">
      <!-- BEGIN : SITE PORTFOLIO CTA LINK -->
      <a class="site-portfolio__cta-link site-portfolio__cta-link--disabled  site-portfolio__cta-link--left" href="#">
        <svg class="site-portfolio__cta-icon  site-portfolio__cta-icon--left">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/icons/sprite.svg#arrow-right"></use>
        </svg>
        <span class="site-portfolio__cta-text">Prev Project</span>
      </a>
      <!-- END : SITE PORTFOLIO CTA LINK /-->
      <!-- BEGIN : SITE PORTFOLIO CTA LINK -->
      <a class="site-portfolio__cta-link site-portfolio__cta-link--right" href="/my-work/website-portfolio-2015">
        <span class="site-portfolio__cta-text">Next Project</span>
        <svg class="site-portfolio__cta-icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/icons/sprite.svg#arrow-right"></use>
        </svg>
      </a>
      <!-- END : SITE PORTFOLIO CTA LINK /-->
    </div>
    <!-- END : SITE PORTFOLIO CTA LINK /-->
  </div>
  <!-- END : SITE PORTFOLIO CTA LINK /-->
</section>
<!-- ******************** SITE PORTFOLIO CTA : End ******************** /-->
