---
page: love-manchester-website
layout: default.hbs
title: Love Manchester Website
description: Love Manchester Website &mdash; Alex Clapperton &mdash; Manchester, UK based front-end developer
changefreq: monthly
priority: 0.9
---

<!-- ******************** SITE BANNER : Start ********************-->
<section class="site-banner site-banner--small">
  <!-- BEGIN : CONTAINER -->
  <div class="site-container">
    <!-- BEGIN : GRID GUIDES -->
    <div class="grid-guides">
      <div class="grid-guides__guide"></div>
      <div class="grid-guides__guide"></div>
      <div class="grid-guides__guide"></div>
      <div class="grid-guides__guide"></div>
    </div>
    <!-- END : GRID GUIDES /-->
    <!-- BEGIN : SITE BANNER FLEX -->
    <div class="site-banner__flex">
      <h1 class="site-banner__title">Love Manchester <br> website</h1>

      <!-- BEGIN : BREADCRUMBS -->
      <div class="breadcrumbs">
        <span class="breadcrumbs__item"><a class="breadcrumbs__link" href="/">Home</a></span>
        <span class="breadcrumbs__item"><a class="breadcrumbs__link" href="/my-work">My Work</a></span>
        <span class="breadcrumbs__item">Love Manchester Website</span>
      </div>
      <!-- END : BREADCRUMBS /-->

      <img class="site-banner__img" src="/images/banner/love-manchester-frame.png" alt="" />
    </div>
    <!-- END : SITE BANNER FLEX -->
  </div>
  <!-- END : CONTAINER -->
</section>
<!-- ******************** SITE BANNER : End ******************** /-->


<!-- ******************** SITE PORTFOLIO : Start ********************-->
<main class="site-portfolio" id="content" role="main">
  <!-- BEGIN : SITE CONTAINER -->
  <div class="site-container">
    <!-- BEGIN : SITE PORTFOLIO FLEX -->
    <div class="site-portfolio__flex">
      <!-- BEGIN : SITE PORTFOLIO FLEX ITEM -->
      <div class="site-portfolio__flex-item">
        <h2>Project brief</h2>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
      <!-- END : SITE PORTFOLIO FLEX ITEM /-->
      <!-- BEGIN : SITE PORTFOLIO FLEX ITEM -->
      <div class="site-portfolio__flex-item">
        <!-- BEGIN : BTN PRIMARY FLEX -->
        <div class="btn-primary__flex btn-primary__flex--center">
          <a class="btn-primary btn-primary--blue btn-primary--large btn-primary__text--large" href="#">Visit website</a>
        </div>
        <!-- END : BTN PRIMARY FLEX /-->
      </div>
      <!-- END : SITE PORTFOLIO FLEX ITEM /-->
    </div>
    <!-- END : SITE PORTFOLIO FLEX /-->

    <hr>

    <h2 class="site-portfolio__title--blue">Branding</h2>

    <!-- BEGIN : SITE PORTFOLIO FLEX -->
    <div class="site-portfolio__flex">
      <!-- BEGIN : SUTE PORTFOLIO FLEX ITEM -->
      <div class="site-portfolio__flex-item">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>

        <p>
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
      </div>
      <!-- END : SITE PRTFOLIO FLEX ITEM /-->
      <!-- BEGIN : SITE PRTFOLIO FLEX ITEM -->
      <div class="site-portfolio__flex-item">
        <img src="/images/portfolio/love-manchester-website/love-manchester-wire.png" alt="" />
      </div>
      <!-- END : SITE PORTFOLIO FLEX ITEM /-->
    </div>
    <!-- END : SITE PORTFOLIO FLEX /-->
    <!-- BEGIN : SITE PORTFOLIO PALETTE -->
    <div class="site-portfolio__palette site-portfolio__palette--lvm">
      <!-- BEGIN : SUTE PORTFOLIO PALETTE ITEM -->
      <div class="site-portfolio__palette-item">
        <div class="site-portfolio__palette-color site-portfolio__palette--base"></div>
        <span class="site-portfolio__palette-name">$royal-blue</span>
      </div>
      <!-- END : SITE PORTFOLIO PALETTE ITEM /-->
      <!-- BEGIN : SITE PORTFOLIO PALETTE ITEM -->
      <div class="site-portfolio__palette-item">
        <div class="site-portfolio__palette-color site-portfolio__palette--dark"></div>
        <span class="site-portfolio__palette-name">$outer-space</span>
      </div>
      <!-- END : SITE PORTFOLIO PALETTE ITEM /-->
      <!-- BEGIN : SITE PORTFOLIO PALETTE ITEM -->
      <div class="site-portfolio__palette-item">
        <div class="site-portfolio__palette-color site-portfolio__palette--neutral"></div>
        <span class="site-portfolio__palette-name">$mercury</span>
      </div>
      <!-- END : SITE PORTFOLIO PALETTE ITEM /-->
      <!-- BEGIN : SITE PORTFOLIO PALETTE ITEM -->
      <div class="site-portfolio__palette-item">
        <div class="site-portfolio__palette-color site-portfolio__palette--light"></div>
        <span class="site-portfolio__palette-name">$white</span>
      </div>
      <!-- END : SITE PORTFOLIO PALETTE ITEM /-->
    </div>
    <!-- END : SITE PORTFOLIO PALETTE /-->
    <!-- BEGIN : SITE PORTFOLIO FONT  -->
    <div class="site-portfolio__font site-portfolio__flex">
      <!-- BEGIN : SITE PORTFOLIO FLEX ITEM -->
      <div class="site-portfolio__flex-item">
        <img src="/images/portfolio/love-manchester-website/font1.jpg" alt="" />
      </div>
      <!-- END : SITE PORTFOLIO FLEX ITEM /-->
      <!-- BEGIN : SITE PORTFOLIO FLEX ITEM -->
      <div class="site-portfolio__flex-item">
        <img src="/images/portfolio/love-manchester-website/font2.jpg" alt="" />
      </div>
      <!-- END : SITE PORTFOLIO FLEX ITEM /-->
    </div>
    <!-- END : SITE PORTFOLIO FONT /-->
    <!-- BEGIN : SITE PORTFOLIO CONTENT -->
    <div class="site-portfolio__content">
      <h2 class="site-portfolio__title--blue">Design</h2>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>

      <p>
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
    <!-- END : SITE PORTFOLIO CONTENT /-->
    <!-- BEGIN : SITE IMAGE CENTER -->
    <div class="site-image--center">
      <img src="/images/portfolio/love-manchester-website/love-manchester-ui.jpg" alt="" />
    </div>
    <!-- END : SITE IMAGE CENTER /-->
    <!-- BEGIN : SITE PORTFOLIO CONTENT -->
    <div class="site-portfolio__content">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>

      <h3>Share this project</h3>

      <!-- AddToAny BEGIN -->
      <div class="site-portfolio__share a2a_kit a2a_kit_size_32 a2a_default_style">
        <a class="site-portfolio__share-item a2a_button_facebook"></a>
        <a class="site-portfolio__share-item a2a_button_twitter"></a>
        <a class="site-portfolio__share-item a2a_button_linkedin"></a>
        <a class="site-portfolio__share-item a2a_button_google_plus"></a>
      </div>
      <script async src="https://static.addtoany.com/menu/page.js"></script>
      <!-- AddToAny END -->
    </div>
    <!-- BEGIN : SITE PORTFOLIO CONTENT -->
  </div>
  <!-- END : SITE CONTAINER /-->
</main>
<!-- ******************** SITE PORTFOLIO : End ******************** /-->


<!-- ******************** SITE PORTFOLIO CTA : Start ********************-->
<section class="site-portfolio__cta">
  <div class="site-container">
    <!-- BEGIN : GRID GUIDES -->
    <div class="grid-guides">
      <div class="grid-guides__guide"></div>
      <div class="grid-guides__guide"></div>
      <div class="grid-guides__guide"></div>
      <div class="grid-guides__guide"></div>
    </div>
    <!-- END : GRID GUIDES /-->
    <!-- BEGIN : SITE PORTFOLIO CTA FLEX -->
    <div class="site-portfolio__cta-flex">
      <!-- BEGIN : SITE PORTFOLIO CTA LINK -->
      <a class="site-portfolio__cta-link site-portfolio__cta-link--disabled  site-portfolio__cta-link--left" href="#">
        <svg class="site-portfolio__cta-icon  site-portfolio__cta-icon--left">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/icons/sprite.svg#arrow-right"></use>
        </svg>
        <span class="site-portfolio__cta-text">Prev Project</span>
      </a>
      <!-- END : SITE PORTFOLIO CTA LINK /-->
      <!-- BEGIN : SITE PORTFOLIO CTA LINK -->
      <a class="site-portfolio__cta-link site-portfolio__cta-link--right" href="#">
        <span class="site-portfolio__cta-text">Next Project</span>
        <svg class="site-portfolio__cta-icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/icons/sprite.svg#arrow-right"></use>
        </svg>
      </a>
      <!-- END : SITE PORTFOLIO CTA LINK /-->
    </div>
    <!-- END : SITE PORTFOLIO CTA LINK /-->
  </div>
  <!-- END : SITE PORTFOLIO CTA LINK /-->
</section>
<!-- ******************** SITE PORTFOLIO CTA : End ******************** /-->
