---
page: love-manchester-website
layout: default.hbs
title: Love Manchester Website
description: Love Manchester Website &mdash; Alex Clapperton &mdash; Manchester, UK based front-end developer
changefreq: monthly
priority: 0.9
---

<!-- ******************** SITE BANNER : Start ********************-->
<section class="site-banner site-banner--small">
  <!-- BEGIN : CONTAINER -->
  <div class="site-container">
    <!-- BEGIN : GRID GUIDES -->
    <div class="grid-guides">
      <div class="grid-guides__guide"></div>
      <div class="grid-guides__guide"></div>
      <div class="grid-guides__guide"></div>
      <div class="grid-guides__guide"></div>
    </div>
    <!-- END : GRID GUIDES /-->
    <!-- BEGIN : SITE BANNER FLEX -->
    <div class="site-banner__flex">
      <div class="site-banner__content">
        <h1 class="site-banner__title">Love Manchester <br> website</h1>

        <div class="breadcrumbs">
          <span class="breadcrumbs__item"><a class="breadcrumbs__link" href="/">Home</a></span>
          <span class="breadcrumbs__item"><a class="breadcrumbs__link" href="/my-work">My Work</a></span>
          <span class="breadcrumbs__item">Love Manchester Website</span>
        </div>

        <img class="site-banner__img" src="/images/banner/love-manchester-frame.png" alt="" />
      </div>
    </div>
    <!-- END : SITE BANNER FLEX -->
  </div>
  <!-- END : CONTAINER -->
</section>
<!-- ******************** SITE BANNER : End ******************** /-->


<!-- ******************** SITE PORTFOLIO : Start ********************-->
<main class="site-portfolio" id="content" role="main">
  <!-- BEGIN : CONTAINER -->
  <div class="site-container">
    <div class="site-portfolio__flex">
      <div class="site-portfolio__flex-item">
        <img class="site-portfolio__img" src="/images/portfolio/portfolio-item.jpg" alt="" />
        <img class="site-portfolio__img" src="/images/portfolio/portfolio-item2.jpg" alt="" />
      </div>
      <div class="site-portfolio__flex-item">
        <h2>Lorem Ipsum</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Demo Suespendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
        </p>
        <p>
          Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim molid pellentesque felis.
        </p>

        <hr>

        <ul class="site-portfolio__list">
          <li class="site-portfolio__list-item"><b>Project Name:</b> Love Manchester Website</li>
          <li class="site-portfolio__list-item"><b>Category:</b> University Project</li>
          <li class="site-portfolio__list-item"><b>Date:</b> 24/03/2016</li>
        </ul>

        <hr>

        <h3>Share this page</h3>

        <!-- AddToAny BEGIN -->
        <div class="site-portfolio__share a2a_kit a2a_kit_size_32 a2a_default_style">
          <a class="site-portfolio__share-item a2a_button_facebook"></a>
          <a class="site-portfolio__share-item a2a_button_twitter"></a>
          <a class="site-portfolio__share-item a2a_button_linkedin"></a>
          <a class="site-portfolio__share-item a2a_button_google_plus"></a>
        </div>
        <script async src="https://static.addtoany.com/menu/page.js"></script>
        <!-- AddToAny END -->
      </div>
    </div>
  </div>
  <!-- END : CONTAINER /-->
</main>
<!-- ******************** SITE PORTFOLIO : End ******************** /-->


<!-- ******************** SITE PORTFOLIO CTA : Start ********************-->
<section class="site-portfolio__cta">
  <div class="site-container">
    <!-- BEGIN : GRID GUIDES -->
    <div class="grid-guides">
      <div class="grid-guides__guide"></div>
      <div class="grid-guides__guide"></div>
      <div class="grid-guides__guide"></div>
      <div class="grid-guides__guide"></div>
    </div>
    <!-- END : GRID GUIDES /-->
    <!-- BEGIN : SITE PORTFOLIO CTA FLEX -->
    <div class="site-portfolio__cta-flex">
      <!-- BEGIN : SITE PORTFOLIO CTA LINK -->
      <a class="site-portfolio__cta-link site-portfolio__cta-link--disabled  site-portfolio__cta-link--left" href="#">
        <svg class="site-portfolio__cta-icon  site-portfolio__cta-icon--left">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/icons/sprite.svg#arrow-right"></use>
        </svg>
        <span class="site-portfolio__cta-text">Prev Project</span>
      </a>
      <!-- END : SITE PORTFOLIO CTA LINK /-->
      <!-- BEGIN : SITE PORTFOLIO CTA LINK -->
      <a class="site-portfolio__cta-link site-portfolio__cta-link--right" href="#">
        <span class="site-portfolio__cta-text">Next Project</span>
        <svg class="site-portfolio__cta-icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/icons/sprite.svg#arrow-right"></use>
        </svg>
      </a>
      <!-- END : SITE PORTFOLIO CTA LINK /-->
    </div>
    <!-- END : SITE PORTFOLIO CTA LINK /-->
  </div>
  <!-- END : SITE PORTFOLIO CTA LINK /-->
</section>
<!-- ******************** SITE PORTFOLIO CTA : End ******************** /-->


<!-- ******************** SITE BLOG : Start ******************** /-->
<section class="site-blog">
  <!-- BEGIN : CONTAINER -->
  <div class="site-container">
    <!-- BEGIN : GRID GUIDES -->
    <div class="grid-guides">
      <div class="grid-guides__guide"></div>
      <div class="grid-guides__guide"></div>
      <div class="grid-guides__guide"></div>
      <div class="grid-guides__guide"></div>
    </div>
    <!-- END : GRID GUIDES /-->
    <!-- BEGIN : SITE BLOG FLEX -->
    <div class="site-blog__flex">
      {{#each articles.[2016]}}
        <!-- BEGIN : SITE BLOG ITEM -->
        {{>article-section}}
        <!-- END : SITE BLOG ITEM /-->
      {{/each}}
    </div>
    <!-- END : SITE BLOG FLEX /-->
  </div>
  <!-- END : CONTAINER /-->
</section>
<!-- ******************** SITE BLOG : End /******************** /-->
