---
page: website-portfolio-2015
layout: default.hbs
title: Website Portfolio 2015
description: Website Portfolio 2015 &mdash; My Work &mdash; Alex Clapperton &mdash; Manchester, UK based front-end developer
keywords: web development, front end, developer, web developer, website portfolio
changefreq: monthly
priority: 0.9
---

<!-- ******************** SITE BANNER : Start ********************-->
<section class="site-banner site-banner--small">
  <!-- BEGIN : CONTAINER -->
  <div class="site-container">
    <!-- BEGIN : GRID GUIDES -->
    <div class="grid-guides">
      <div class="grid-guides__guide"></div>
      <div class="grid-guides__guide"></div>
      <div class="grid-guides__guide"></div>
      <div class="grid-guides__guide"></div>
    </div>
    <!-- END : GRID GUIDES /-->
    <!-- BEGIN : SITE BANNER FLEX -->
    <div class="site-banner__flex">
      <h1 class="site-banner__title">Website portfolio <br> 2015</h1>
      <!-- BEGIN : BREADCRUMBS -->
      <div class="breadcrumbs">
        <span class="breadcrumbs__item"><a class="breadcrumbs__link" href="/">Home</a></span>
        <span class="breadcrumbs__item"><a class="breadcrumbs__link" href="/my-work">My Work</a></span>
        <span class="breadcrumbs__item">Website Portfolio 2015</span>
      </div>
      <!-- END : BREADCRUMBS /-->
      <img class="site-banner__img" src="/images/banner/my-work-frame.png" alt="Alex's 2015 website portfolio homepage." />
    </div>
    <!-- END : SITE BANNER FLEX -->
  </div>
  <!-- END : CONTAINER -->
</section>
<!-- ******************** SITE BANNER : End ******************** /-->


<!-- ******************** SITE PORTFOLIO : Start ********************-->
<main class="site-portfolio" id="content" role="main">
  <!-- BEGIN : SITE CONTAINER -->
  <div class="site-container">
    <!-- BEGIN : SITE PORTFOLIO FLEX -->
    <div class="site-portfolio__flex">
      <!-- BEGIN : SITE PORTFOLIO FLEX ITEM -->
      <div class="site-portfolio__flex-item">
        <h2>Project brief</h2>

        <p>
          For my second year university project, in the Website Development unit, our class was tasked with creating our own website portfolio. We had to stick to best practices and coding standards such as optimising our images, making sure our HTML code was validated and referencing any third party code that we used on our website.
        </p>
      </div>
      <!-- END : SITE PORTFOLIO FLEX ITEM /-->
      <!-- BEGIN : SITE PORTFOLIO FLEX ITEM -->
      <div class="site-portfolio__flex-item">
        <!-- BEGIN : BTN PRIMARY FLEX -->
        <div class="btn-primary__flex btn-primary__flex--center">
          <a class="btn-primary btn-primary--blue btn-primary--large btn-primary__text--large" href="http://11063905.webdevmmu.uk/" title="external link to project website">Visit website</a>
        </div>
        <!-- END : BTN PRIMARY FLEX /-->
      </div>
      <!-- END : SITE PORTFOLIO FLEX ITEM /-->
    </div>
    <!-- END : SITE PORTFOLIO FLEX /-->

    <hr>

    <h2 class="site-portfolio__title--blue">Branding</h2>

    <!-- BEGIN : SITE PORTFOLIO FLEX -->
    <div class="site-portfolio__flex">
      <!-- BEGIN : SUTE PORTFOLIO FLEX ITEM -->
      <div class="site-portfolio__flex-item">
        <p>
          For my logo I used the initials of my full name, AMC, and then combined them together. When choosing my colour scheme I decided to use my favourite colours of red, black and white because I personally feel that these coloura work very well together.
        </p>

        <p>
          For the typography I used only one font type, Josefin Sans. Similar to my colour scheme, I chose this font type due to personal preference and beacuse I felt it was easy to read.
        </p>

        <p>
          I also wanted to make my website interactive so I decided to add a nice partical effect on my main banner images and when the user moves the cursor along the banners, the particles move as well.
        </p>
      </div>
      <!-- END : SITE PRTFOLIO FLEX ITEM /-->
      <!-- BEGIN : SITE PRTFOLIO FLEX ITEM -->
      <div class="site-portfolio__flex-item site-portfolio__flex-item--margin">
        <img src="/images/portfolio/website-portfolio-2015/website-portfolio-wire.jpg" alt="Two wireframe mockups of Alex's old website portfolio." />
      </div>
      <!-- END : SITE PORTFOLIO FLEX ITEM /-->
    </div>
    <!-- END : SITE PORTFOLIO FLEX /-->
    <!-- BEGIN : SITE PORTFOLIO PALETTE -->
    <div class="site-portfolio__palette site-portfolio__palette--wp15">
      <!-- BEGIN : SUTE PORTFOLIO PALETTE ITEM -->
      <div class="site-portfolio__palette-item">
        <div class="site-portfolio__palette-color site-portfolio__palette--base"></div>
        <span class="site-portfolio__palette-name">$guardsman-red</span>
      </div>
      <!-- END : SITE PORTFOLIO PALETTE ITEM /-->
      <!-- BEGIN : SITE PORTFOLIO PALETTE ITEM -->
      <div class="site-portfolio__palette-item">
        <div class="site-portfolio__palette-color site-portfolio__palette--dark"></div>
        <span class="site-portfolio__palette-name">$mine-shaft</span>
      </div>
      <!-- END : SITE PORTFOLIO PALETTE ITEM /-->
      <!-- BEGIN : SITE PORTFOLIO PALETTE ITEM -->
      <div class="site-portfolio__palette-item">
        <div class="site-portfolio__palette-color site-portfolio__palette--neutral"></div>
        <span class="site-portfolio__palette-name">$cod-gray</span>
      </div>
      <!-- END : SITE PORTFOLIO PALETTE ITEM /-->
      <!-- BEGIN : SITE PORTFOLIO PALETTE ITEM -->
      <div class="site-portfolio__palette-item">
        <div class="site-portfolio__palette-color site-portfolio__palette--light"></div>
        <span class="site-portfolio__palette-name">$white</span>
      </div>
      <!-- END : SITE PORTFOLIO PALETTE ITEM /-->
    </div>
    <!-- END : SITE PORTFOLIO PALETTE /-->
    <!-- BEGIN : SITE PORTFOLIO FONT  -->
    <div class="site-portfolio__font site-portfolio__flex">
      <!-- BEGIN : SITE PORTFOLIO FLEX ITEM -->
      <div class="site-portfolio__flex-item">
        <img class="site-portfolio__flex-img" src="/images/portfolio/website-portfolio-2015/font.jpg" alt="Alphabet and numbers using Jpsefin Sans font." />
      </div>
      <!-- END : SITE PORTFOLIO FLEX ITEM /-->
    </div>
    <!-- END : SITE PORTFOLIO FONT /-->
    <!-- BEGIN : SITE PORTFOLIO CONTENT -->
    <div class="site-portfolio__content">
      <h2 class="site-portfolio__title--blue">Design</h2>

      <p>
        This was the first website where I introduced mobile-first design. With it being my first time, the mobile-first design process was difficult, especially with the fact that I didn't create a wireframe beforehand.
      </p>
    </div>
    <!-- END : SITE PORTFOLIO CONTENT /-->
    <!-- BEGIN : SITE IMAGE CENTER -->
    <div class="site-image--center">
      <img src="/images/portfolio/website-portfolio-2015/website-portfolio-2015-ui.jpg" alt="Three screenshots of Alex's old website portfolio in desktop and mobile sizes." />
    </div>
    <!-- END : SITE IMAGE CENTER /-->
    <!-- BEGIN : SITE PORTFOLIO CONTENT -->
    <div class="site-portfolio__content">
      <p>
        When it came to structuring the website I wanted to make it as simple as possible. Using large blocks where neccessary to make them stand out and using a simple navigation so the user can naviagte round the website with ease.
      </p>

      <h3>Share this project</h3>

      <!-- AddToAny BEGIN -->
      <div class="site-portfolio__share a2a_kit a2a_kit_size_32 a2a_default_style">
        <a class="site-portfolio__share-item a2a_button_facebook"></a>
        <a class="site-portfolio__share-item a2a_button_twitter"></a>
        <a class="site-portfolio__share-item a2a_button_linkedin"></a>
        <a class="site-portfolio__share-item a2a_button_google_plus"></a>
      </div>
      <script async src="https://static.addtoany.com/menu/page.js"></script>
      <!-- AddToAny END -->
    </div>
    <!-- BEGIN : SITE PORTFOLIO CONTENT -->
  </div>
  <!-- END : SITE CONTAINER /-->
</main>
<!-- ******************** SITE PORTFOLIO : End ******************** /-->


<!-- ******************** SITE PORTFOLIO CTA : Start ********************-->
<section class="site-portfolio__cta">
  <div class="site-container">
    <!-- BEGIN : GRID GUIDES -->
    <div class="grid-guides">
      <div class="grid-guides__guide"></div>
      <div class="grid-guides__guide"></div>
      <div class="grid-guides__guide"></div>
      <div class="grid-guides__guide"></div>
    </div>
    <!-- END : GRID GUIDES /-->
    <!-- BEGIN : SITE PORTFOLIO CTA FLEX -->
    <div class="site-portfolio__cta-flex">
      <!-- BEGIN : SITE PORTFOLIO CTA LINK -->
      <a class="site-portfolio__cta-link site-portfolio__cta-link--left" href="/my-work/love-manchester-website">
        <svg width="20" height="20" class="site-portfolio__cta-icon  site-portfolio__cta-icon--left">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/icons/sprite.svg#arrow-right"></use>
        </svg>
        <span class="site-portfolio__cta-text">Prev Project</span>
      </a>
      <!-- END : SITE PORTFOLIO CTA LINK /-->
      <!-- BEGIN : SITE PORTFOLIO CTA LINK -->
      <a class="site-portfolio__cta-link site-portfolio__cta-link--disabled site-portfolio__cta-link--right" href="#">
        <span class="site-portfolio__cta-text">Next Project</span>
        <svg width="20" height="20" class="site-portfolio__cta-icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/icons/sprite.svg#arrow-right"></use>
        </svg>
      </a>
      <!-- END : SITE PORTFOLIO CTA LINK /-->
    </div>
    <!-- END : SITE PORTFOLIO CTA LINK /-->
  </div>
  <!-- END : SITE PORTFOLIO CTA LINK /-->
</section>
<!-- ******************** SITE PORTFOLIO CTA : End ******************** /-->
