---
tags: projects
title: "Love Manchester"
description: "Love Manchester"
category: Website
date: 2016-05-24
stack: [PHP,Sass,jQuery,Gulp,Group Project]
thumbnail:
  url: //images.ctfassets.net/66vjslfacivy/rB6U5Lhnra9yn7Kaj4wvO/5b8106556eda189e28b98c0c753ef312/love-manchester-thumbnail.jpg
  alt: "undefined"
  square: true
layout: _layouts/project
---

<p>Le 6ème continent est un endroit unique où les voyageurs du monde entier se retrouvent pour expérimenter le meilleur de l’univers du luxe.</p>

<p>Pour les marques et Maisons, c’est un lieu privilégié de rencontre et séduction d’une audience nouvelle via une expérience immersive inoubliable.</p>

<p>Leur métier : accompagner dans la conception et l’implémentation de cette expérience unique. Ils déploient leur savoir-faire, leurs compétences et expertises variés ainsi que leurs données qualitatives et quantitatives au service d’opérations à travers le monde.</p>

<span class="project__sub-title">Year</span>
<p>2017</p>

<span class="project__sub-title">Client</span>
<p>Manchester Metropolitan University</p>

<span class="project__sub-title">Mission</span>
<p>To create a webiste portfolio using our own skill set and without the use of any frameworks.</p>

<a class="button button--primary" href="#">
    Visit website
    <svg class="button__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" stroke-linecap="round" stroke-linejoin="round" d="M4.5 16.61l7.06 5.65 7.05-5.65m-7.05 5.65V2.5"/></svg>
</a>