---
tags: projects
title: "Love Manchester"
description: "Love Manchester"
category: Website
date: 2016-05-24
stack: [PHP,Sass,jQuery,Gulp,Group Project]
home: false
about: false
project: true
sitemap:
  changefreq: monthly
  priority: 0.8
browserImage:
  desktop: //images.ctfassets.net/66vjslfacivy/2VJUHVjvY4JJm0THdG5cSi/47df2abb03809bd307e769a486e8facb/love-manchester-desktop.jpg
  mobile: //images.ctfassets.net/66vjslfacivy/28tJMKMtEa0leVAUS6mCG9/66834de52e8b047d251fb9db7c2d28a8/love-manchester-mobile.jpg
  alt: Desktop screenshot of the Love Manchester website project.
deviceImages:
  one:
    url: //images.ctfassets.net/66vjslfacivy/hTHuNWfACSR9WLd1slgLx/6922c0f14cdcd85f7ef986dfda61c135/love-manchester-home.jpg
    alt: Mobile screenshot of homepage from the Love Manchester website project.
  two:
    url: //images.ctfassets.net/66vjslfacivy/4yaFxImQBIupfeNtvkjXJK/094e1370a310abf452d82c188d5bf7d5/love-manchester-menu.jpg
    alt: Mobile screenshot of the menu from Love Manchester website project.
  three:
    url: //images.ctfassets.net/66vjslfacivy/1wkCLNrTws0cdbQog2ktHZ/23b6765645b2ee557600da965221f656/love-manchester-nightlife.jpg
    alt: Mobile screenshot of nightlife page from Love Manchester website project.
thumbnail:
  url: //images.ctfassets.net/66vjslfacivy/rB6U5Lhnra9yn7Kaj4wvO/5b8106556eda189e28b98c0c753ef312/love-manchester-thumbnail.jpg
  alt: "Love Manchester website displayed on an iMac Pro."
  square: true
layout: _layouts/project
---

<p>Le 6ème continent est un endroit unique où les voyageurs du monde entier se retrouvent pour expérimenter le meilleur de l’univers du luxe.</p>

<p>Pour les marques et Maisons, c’est un lieu privilégié de rencontre et séduction d’une audience nouvelle via une expérience immersive inoubliable.</p>

<p>Leur métier : accompagner dans la conception et l’implémentation de cette expérience unique. Ils déploient leur savoir-faire, leurs compétences et expertises variés ainsi que leurs données qualitatives et quantitatives au service d’opérations à travers le monde.</p>

<span class="project__sub-title">Year</span>
<p>2017</p>

<span class="project__sub-title">Client</span>
<p>Manchester Metropolitan University</p>

<span class="project__sub-title">Mission</span>
<p>To create a webiste portfolio using our own skill set and without the use of any frameworks.</p>