<main class="portfolio notch" id="main">
    <div class="portfolio__inner hide container" data-fade>
        <h2 class="portfolio__title">Professional &amp; personal work</h2>
        <p class="portfolio__subText">We engage with our clients in order to understand their needs and impact their business. See how we’ve helped our clients!</p>

        <div class="portfolio__content">
            {{#each projects}}
                {{>portfolio}}
            {{/each}}
        </div>
    </div>
</main>

<section class="articles notch">
    <div class="articles__inner hide container" data-fade>
        <small class="articles__title-small">Read my</small>
        <h3 class="articles__title-main">Latest articles</h3>
        <div class="articles__content">
            {{#eachUpTo articles 3}}
              {{>articles}}
            {{/eachUpTo}}
        </div>
        <a class="button button--secondary" href="/articles/">
            View articles
            <svg class="button__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" stroke-linecap="round" stroke-linejoin="round" d="M4.5 16.61l7.06 5.65 7.05-5.65m-7.05 5.65V2.5"/></svg>
        </a>
    </div>
</section>
