// Typography.........Responsive typography & convert px to em.

// Convert px to em
@function em($px, $base: $core-font-size) {
    @return ($px / $base) * 1em;
}

$p-font-sizes: (
  null: em($core-font-size),
  xs: em(($core-font-size + 1.3)),
  s: em(($core-font-size + 4)),
  m: em(($core-font-size + 1.4)),
  l: em(($core-font-size + 2.2)),
);

$small-font-sizes: (
  null: em($core-font-size),
  xs: em(($core-font-size + 1)),
  s: em(($core-font-size + 5)),
  m: em(($core-font-size + 1.4)),
  l: em(($core-font-size + 2)),
);

$large-font-sizes: (
  null: em(($core-font-size * 4)),
  xs: em(($core-font-size * 5)),
  s: em(($core-font-size * 5.5)),
  m: em(($core-font-size * 6)),
  l: em(($core-font-size * 5)),
);

$h1-font-sizes: (
  null: em(($core-font-size * 2)),
  xs: em(($core-font-size * 2.2)),
  s: em(($core-font-size * 2.5)),
  m: em(($core-font-size * 2.7)),
  l: em(($core-font-size * 2.6)),
);

$h2-font-sizes: (
  null: em(($core-font-size * 1.6)),
  xs: em(($core-font-size * 1.8)),
  s: em(($core-font-size * 2.15)),
  m: em(($core-font-size * 2.3)),
  l: em(($core-font-size * 2.2)),
);

$h3-font-sizes: (
  null: em(($core-font-size * 1.4)),
  xs: em(($core-font-size * 1.6)),
  s: em(($core-font-size * 1.9)),
  m: em(($core-font-size * 2)),
  l: em(($core-font-size * 1.8)),
);

$h4-font-sizes: (
  null: em(($core-font-size * 1.3)),
  xs: em(($core-font-size * 1.4)),
  s: em(($core-font-size * 1.65)),
  m: em(($core-font-size * 1.8)),
  l: em(($core-font-size * 1.6)),
);

$h5-font-sizes: (
  null: em(($core-font-size * 1.2)),
  xs: em(($core-font-size * 1.3)),
  s: em(($core-font-size * 1.5)),
  m: em(($core-font-size * 1.65)),
  l: em(($core-font-size * 1.4)),
);

$h6-font-sizes: (
  null: em(($core-font-size * 1.1)),
  xs: em(($core-font-size * 1.2)),
  s: em(($core-font-size * 1.4)),
  m: em(($core-font-size * 1.5)),
  l: em(($core-font-size + 1.2)),
);

$nav-font-sizes: (
  null: em(($core-font-size * 0.9)),
  xs: em(($core-font-size * 1)),
  s: em(($core-font-size * 1.3)),
  m: em(($core-font-size * 1.5)),
  l: em(($core-font-size * 1.3)),
);

$btn-font-sizes: (
  null: em($core-font-size),
  s: em(($core-font-size + 4)),
  m: em(($core-font-size + 3)),
  l: em($core-font-size ),
);

$logo-font-sizes: (
  null: em(($core-font-size * 1.9)),
  xs: em(($core-font-size * 2.1)),
  s: em(($core-font-size * 2.3)),
  m: em(($core-font-size * 2.5)),
  l: em(($core-font-size * 2)),
);
