/**
* # Core settings
*
* These are the defaults which can be overridden
*/

$core-grid-width: 1170px !default;

/**
* Base grid unit size. This should be the basis for all measurements.
*/
$core-grid-unit: 12px !default;

/**
* Main branding color
*/
$core-color-brand: #de656f !default;

/**
* Main dark color
*/
$core-color-dark: #21252b !default;

/**
* Main neutral color
*/
$core-color-neutral: #73777a !default;

/**
* Main light color
*/
$core-color-light: #fff !default;

/**
* Main heading color
*/
$core-color-heading: #292c34 !default;

/**
* Main Facebook color
*/
$core-facebook-color: #3b5998 !default;

/**
* Main Twitter color
*/
$core-twitter-color: #55acee !default;

/**
* Main LinkedIn color
*/
$core-linkedin-color: #007bb5 !default;

/**
* Line width used for separators and borders
*/
$core-border-width: 1px !default;

/**
* Line style for separators and borders
*/
$core-border-style: solid !default;

/**
* Line color for separators and borders
*/
$core-border-color: $core-color-neutral !default;

/**
* Rounded corners on block and bordered elements
*/
$core-border-radius: 2px !default;

/**
* Main font family
*/
$core-font-family: 'Maven Pro', sans-serif !default;

/**
* Base font size
*/
$core-font-size: 14px !default;

/**
* Base line height
*/
$core-line-height: 1.45 !default;

/**
* Secondary line height
*/
$core-secondary-line-height: 1.3 !default;

/**
* Base font weight
*/
$core-font-weight: 400 !default;

/**
* Secondary font weight
*/
$core-secondary-font-weight: 700 !default;

/**
* Margin applied to block elements
*/
$core-margin: $core-grid-unit !default;

/**
* Padding applied to block containers
*/
$core-padding: $core-grid-unit !default;
