// Variables..........The sites core sass variables.

$core-grid-width: 1170px;
$core-grid-unit: 12px;

$core-color-brand: #0e0d0d;
$core-color-background: #ffffff;
$core-color-foreground: #040f0f;
$core-color-neutral: #b6bcce;
$core-color-link: #fbd664;
$core-color-body: rgba($core-color-brand, 0.7);

$core-color-success: #70c041;
$core-color-danger: #de0000;

$core-border-width: 0.2em;
$core-border-style: solid;
$core-border-color: $core-color-brand;
$core-border-radius: 3px;

$core-variable-font-family: 'Avenir Next Variable', sans-serif;
$core-secondary-variable-font-family: 'Selawik Variable', sans-serif;

$core-font-family: Helvetica, sans-serif;
$core-secondary-font-family: 'Ubuntu', sans-serif;
$core-font-size: 16px;
$core-line-height: 1.7;
$core-secondary-line-height: 1.3;
$core-font-weight: 400;
$core-secondary-font-weight: 500;
$core-tertiary-font-weight: 600;

$core-margin: $core-grid-unit;
$core-padding: $core-grid-unit;
