---
title: Topics
description: Posts about web development, accessibility and more.
layout: _layouts/page
sitemap:
    changefreq: monthly
    priority: 0.8
---

{% from "_partials/_macros/topic.njk" import topicsList %}

<main class="bg-slate-800 [padding-block:32px] pr-safe pl-safe md:[padding-block:48px]" id="main">
    <div class="container [margin-inline:auto] [padding-inline:16px] sm:[padding-inline:32px] md:[padding-inline:48px]">
        <div class="[padding-block:24px]">
            <h2 class="text-white text-md leading-md fvs-md [margin-block-end:16px]">Explore articles by topic</h2>

            {{ topicsList(topics, page.url) }}
        </div>
    </div>
</main>
