---
page: portfolio
layout: default.hbs
title: Portfolio
description: Alex Clapperton &mdash; Manchester, UK based front-end developer
changefreq: monthly
typeActive: typeActive
priority: 1.0
---


<!-- ******************** BAR : Start ******************** -->
<section class="bar">
  <!-- BEGIN : CONTAINER -->
  <div class="container">
    <!-- BEGIN : BAR CONTENT -->
    <div class="bar__content">
      <h1 class="bar__title">Portfolio</h1>
      <ul class="breadcrumbs">
        <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="/" title="Breadcrumb link to the homepage.">Home</a></li>
        <li class="breadcrumbs__item">Portfolio</li>
      </ul>
      <!-- BEGIN : SYMBOL -->
      <div class="symbol symbol--primary">
        <svg class="symbol__icon symbol__icon--primary" width="20" height="20">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/icons/sprite.svg#portfolio"></use>
        </svg>
      </div>
      <!-- END : SYMBOL /-->
    </div>
    <!-- END : BAR CONTENT /-->
  </div>
  <!-- END : CONTAINER /-->
</section>
<!-- ******************** BAR : End ******************** /-->


<!-- ******************** PORTFOLIO : Start ******************** -->
<main class="portfolio" role="main" id="content">
  <!-- BEGIN : CONTAINER -->
  <div class="container">
    <div class="filter" data-filter-block>
      <button class="filter__btn filter__btn--active" type="button" name="filter" data-filter="*" data-filter-btn>All</button>
      <button class="filter__btn" type="button" name="filter" data-filter=".personal" data-filter-btn>Personal</button>
      <button class="filter__btn" type="button" name="filter" data-filter=".uni" data-filter-btn>University</button>
      <button class="filter__btn" type="button" name="filter" data-filter=".web" data-filter-btn>Web</button>
      <button class="filter__btn" type="button" name="filter" data-filter=".graphic" data-filter-btn>Graphic</button>
    </div>
    <!-- BEGIN : PORTFOLIO CONTENT -->
    <div class="portfolio__content" data-portfolio>
      {{#each_upto portfolio.[2016] 3}}
        {{>portfolio}}
      {{/each_upto}}
    </div>
    <!-- END : PORTFOLIO CONTENT /-->
  </div>
  <!-- END : CONTAINER /-->
</main>
<!-- ******************** PORTFOLIO : End ******************** /-->



<!-- ******************** BAR : Start ******************** -->
<section class="bar">
  <!-- BEGIN : CONTAINER -->
  <div class="container">
    <!-- BEGIN : BAR CONTENT -->
    <div class="bar__content">
      <h2 class="bar__title">Read my recent blog posts</h2>
      <!-- BEGIN : SYMBOL -->
      <div class="symbol symbol--primary">
        <svg class="symbol__icon symbol__icon--primary" width="20" height="20">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/icons/sprite.svg#blog"></use>
        </svg>
      </div>
      <!-- END : SYMBOL /-->
    </div>
    <!-- END : BAR CONTENT /-->
  </div>
  <!-- END : CONTAINER /-->
</section>
<!-- ******************** BAR : End ******************** /-->


<!-- ******************** BLOG : Start ******************** -->
<section class="blog">
  <!-- BEGIN : CONTAINER -->
  <div class="container">
    <!-- BEGIN : BLOG CONTENT -->
    <div class="blog__content">
      {{#each_upto articles.[2017] 3}}
        {{>article}}
      {{/each_upto}}
      {{#each_upto articles.[2016] 1}}
        {{>article}}
      {{/each_upto}}
    </div>
    <!-- END : BLOG CONTENT /-->
  </div>
  <!-- END : CONTAINER /-->
</section>
<!-- ******************** BLOG : End ******************** /-->
