---
page: love-manchester-website
layout: portfolio.hbs
title: Love Manchester Website
description: Love Manchester Website &mdash; My Work &mdash; Alex Clapperton &mdash; Manchester, UK based front-end developer
changefreq: monthly
priority: 0.9

nextItemTitle: Website Portfolio 2015
nextItemURL: website-portfolio-2015
nextItemImg: website-portfolio-2015
---

<!-- BEGIN : PORTFOLIO INTRO -->
<div class="portfolio__intro">
  <!-- BEGIN : BROWSER -->
  <div class="browser">
    <!-- BEGIN : BROWSER BAR -->
    <div class="browser__bar">
      <span class="browser__dot browser__dot--close"></span>
      <span class="browser__dot browser__dot--minimize"></span>
      <span class="browser__dot browser__dot--expand"></span>
    </div>
    <!-- END : BROWSER BAR /-->
    <!-- BEGIN : BROWSER WINDOW -->
    <div class="browser__window">
      <img src="/images/portfolio/love-manchester-website/love-manchester-website-full.jpg" alt="Entire homepage of Love Manchester Website.">
    </div>
    <!-- END : BROWSER WINDOW /-->
  </div>
  <!-- END : BROWSER /-->
  <!-- BEGIN : PORTFOLIO INTRO -->
  <div class="portfolio__brief">
    <h2 class="portfolio__brief-title">Project brief</h2>

    <p class="portfolio__brief-body">Working in a group of five, we had to create a digital product and a poster of our product based on a student guide about a topic of our choosing. We decided to create an international student guide website about Manchester, helping international students find the best things to do within the city centre.</p>

    <a class="portfolio__brief-btn btn" href="http://www.11063905.webdevmmu.uk/dpm-website/" title="Go to the Love Manchester Website." rel="external"><span class="btn__body btn__body--primary">Go to website</span></a>

    <p class="portfolio__brief-body">We decided as a group to use bright bold colours across the website to try and reflect what Manchester is all about. In terms of the logo, we decided to use a bee inside a love heart. The bee is the symbol of Manchester, indicating the city to be a hard working, energetic city.</p>

    <img class="portfolio__brief-img" src="/images/portfolio/love-manchester-website/love-manchester-wire.jpg" alt="Two wireframe mockups of the Love Manchester website." />

    <p class="portfolio__brief-body">For the typography, we decided to use a sans-serif font as we wanted to make it as easy as possible for the user to read, especially if the user had any visual disabilities.</p>

    <img class="portfolio__brief-img" src="/images/portfolio/love-manchester-website/font1.jpg" alt="Alphabet and numbers using Work Sans font." />

    <img class="portfolio__brief-img" src="/images/portfolio/love-manchester-website/font2.jpg" alt="Alphabet and numbers using Lato font." />

    <p class="portfolio__brief-body">We also had to create a large sized poster to advertise our product. On the poster are statistics from our user research, screenshots of the completed website and a description about the website.</p>

    <a class="portfolio__brief-btn btn" href="/pdf/love-manchester-poster.pdf" title="Download Love Manchester poster"><span class="btn__body btn__body--primary">Download poster</span></a>

    <h3 class="portfolio__brief-subtitle">Design</h3>

    <p class="portfolio__brief-body">For the design of the website our group immediately agreed to a mobile-first design and then scaling up to desktop. We each made our own wireframes, before sharing them with the rest of the group and then creating our final design based off each others ideas.</p>

    <img class="portfolio__brief-img" src="/images/portfolio/love-manchester-website/love-manchester-ui.jpg" alt="Three screenshots of the Love Manchester website in desktop and mobile sizes." />

    <p class="portfolio__brief-body">When it came to structuring the website we wanted to make it as simple as possible. Using large blocks where neccessary to make them stand out and using a simple navigation so the user can naviagte round the website with ease.</p>

    <h4 class="portfolio__brief-subtitle">Share this project</h4>

    <!-- AddToAny BEGIN -->
    <div class="portfolio__share a2a_kit a2a_kit_size_32 a2a_default_style">
      <a class="portfolio__share-item a2a_button_facebook"></a>
      <a class="portfolio__share-item a2a_button_twitter"></a>
      <a class="portfolio__share-item a2a_button_linkedin"></a>
      <a class="portfolio__share-item a2a_button_google_plus"></a>
    </div>
    <script async src="https://static.addtoany.com/menu/page.js"></script>
    <!-- AddToAny END -->
  </div>
  <!-- END : PORTFOLIO INTRO /-->
</div>
<!-- END : PORTFOLIO INTRO /-->
