---
page: love-manchester-website
layout: portfolio.hbs
title: Love Manchester Website
description: Love Manchester Website &mdash; My Work &mdash; Alex Clapperton &mdash; Manchester, UK based front-end developer
changefreq: monthly
priority: 0.9

nextItemTitle: Website Portfolio 2015
nextItemURL: website-portfolio-2015
nextItemImg: website-portfolio-2015
---

<h2>Project brief</h2>

<p>Working in a group of five, we had to create a digital product and a poster of our product based on a student guide about a topic of our choosing. We decided to create an international student guide website about Manchester, helping international students find the best things to do within the city centre.</p>

<p>We decided as a group to use bright bold colours across the website to try and reflect what Manchester is all about. In terms of the logo, we decided to use a bee inside a love heart. The bee is the symbol of Manchester, indicating the city to be a hard working, energetic city.</p>

<p>For the typography, we decided to use a sans-serif font as we wanted to make it as easy as possible for the user to read, especially if the user had any visual disabilities.</p>

<p>We also had to create a large sized poster to advertise our product. On the poster are statistics from our user research, screenshots of the completed website and a description about the website.</p>

<a class="" href="/pdf/love-manchester-poster.pdf" title="Internal link to the Love Manchester poster.">Download poster</a>

<img src="/images/portfolio/love-manchester-website/love-manchester-wire.jpg" alt="Two wireframe mockups of the Love Manchester website." />

<img class="site-portfolio__flex-img" src="/images/portfolio/love-manchester-website/font1.jpg" alt="Alphabet and numbers using Work Sans font." />

<img class="site-portfolio__flex-img" src="/images/portfolio/love-manchester-website/font2.jpg" alt="Alphabet and numbers using Lato font." />

<h2 class="site-portfolio__title--blue">Design</h2>

<p>For the design of the website our group immediately agreed to a mobile-first design and then scaling up to desktop. We each made our own wireframes, before sharing them with the rest of the group and then creating our final design based off each others ideas.</p>

<img src="/images/portfolio/love-manchester-website/love-manchester-ui.jpg" alt="Three screenshots of the Love Manchester website in desktop and mobile sizes." />

<p>When it came to structuring the website we wanted to make it as simple as possible. Using large blocks where neccessary to make them stand out and using a simple navigation so the user can naviagte round the website with ease.</p>

<h3>Share this project</h3>

<!-- AddToAny BEGIN -->
<div class="portfolio__share a2a_kit a2a_kit_size_32 a2a_default_style">
  <a class="portfolio__share-item a2a_button_facebook"></a>
  <a class="portfolio__share-item a2a_button_twitter"></a>
  <a class="portfolio__share-item a2a_button_linkedin"></a>
  <a class="portfolio__share-item a2a_button_google_plus"></a>
</div>
<script async src="https://static.addtoany.com/menu/page.js"></script>
<!-- AddToAny END -->
