---
page: website-portfolio-2015
layout: portfolio.hbs
title: Website Portfolio 2015
description: Website Portfolio 2015 &mdash; My Work &mdash; Alex Clapperton &mdash; Manchester, UK based front-end developer
changefreq: monthly
priority: 0.9

previousItemTitle: Love Manchester Website
previousItemURL: love-manchester-website
previousItemImg: love-manchester-website
---

<!-- BEGIN : PORTFOLIO INTRO -->
<div class="portfolio__intro">
  <!-- BEGIN : BROWSER -->
  <div class="browser">
    <!-- BEGIN : BROWSER BAR -->
    <div class="browser__bar">
      <span class="browser__dot browser__dot--close"></span>
      <span class="browser__dot browser__dot--minimize"></span>
      <span class="browser__dot browser__dot--expand"></span>
    </div>
    <!-- END : BROWSER BAR /-->
    <!-- BEGIN : BROWSER WINDOW -->
    <div class="browser__window">
      <img src="/images/portfolio/website-portfolio-2015/website-portfolio-2015-full.jpg" alt="Entire homepage of Alex's 2015 website portfolio.">
    </div>
    <!-- END : BROWSER WINDOW /-->
  </div>
  <!-- END : BROWSER /-->
  <!-- BEGIN : PORTFOLIO BRIEF -->
  <div class="portfolio__brief">
    <h2 class="portfolio__brief-title">Project brief</h2>
    <p class="portfolio__brief-body">For my second year university project, in the Website Development unit, our class was tasked with creating our own website portfolio. We had to stick to best practices and coding standards such as optimising our images, making sure our HTML code was validated and referencing any third party code that we used on our website.</p>
    <a class="portfolio__brief-btn btn" href="http://11063905.webdevmmu.uk/" title="Go to Alex's 2015 website portfolio." rel="external"><span class="btn__body btn__body--primary">Go to website</span></a>
  </div>
  <!-- END : PORTFOLIO BRIEF /-->
</div>
<!-- END : PORTFOLIO INTRO /-->

<div class="">
  <h3>Branding</h3>

  <p>For my logo I used the initials of my full name, AMC, and then combined them together. When choosing my colour scheme I decided to use my favourite colours of red, black and white because I personally feel that these coloura work very well together.</p>

  <p>For the typography I used only one font type, Josefin Sans. Similar to my colour scheme, I chose this font type due to personal preference and beacuse I felt it was easy to read.</p>

  <p>I also wanted to make my website interactive so I decided to add a nice partical effect on my main banner images and when the user moves the cursor along the banners, the particles move as well.</p>

  <img src="/images/portfolio/website-portfolio-2015/website-portfolio-wire.jpg" alt="Two wireframe mockups of Alex's old website portfolio." />

  <img src="/images/portfolio/website-portfolio-2015/font.jpg" alt="Alphabet and numbers using Jpsefin Sans font." />

  <h3>Design</h3>

  <p>This was the first website where I introduced mobile-first design. With it being my first time, the mobile-first design process was difficult, especially with the fact that I didn't create a wireframe beforehand.</p>

  <img src="/images/portfolio/website-portfolio-2015/website-portfolio-2015-ui.jpg" alt="Three screenshots of Alex's old website portfolio in desktop and mobile sizes." />

  <p>When it came to structuring the website I wanted to make it as simple as possible. Using large blocks where neccessary to make them stand out and using a simple navigation so the user can naviagte round the website with ease.</p>

  <h4>Share this project</h4>

  <!-- AddToAny BEGIN -->
  <div class="portfolio__share a2a_kit a2a_kit_size_32 a2a_default_style">
    <a class="portfolio__share-item a2a_button_facebook"></a>
    <a class="portfolio__share-item a2a_button_twitter"></a>
    <a class="portfolio__share-item a2a_button_linkedin"></a>
    <a class="portfolio__share-item a2a_button_google_plus"></a>
  </div>
  <script async src="https://static.addtoany.com/menu/page.js"></script>
  <!-- AddToAny END -->
</div>
