---
title: Alex Clapperton
home: true
about: false
heroImage:
    square: https://images.ctfassets.net/66vjslfacivy/5iYptR3N7dkm0cHsZS8QQw/6b0a09c506f55bf200bd8dfeb6dff519/alex-square.jpg
    landscape: https://images.ctfassets.net/66vjslfacivy/3QPP25tbf4hfIqe6IfdwGW/8dbd89b212da827012c985b7a6017a4d/alex-landscape.jpg
layout: _layouts/page
sitemap:
  changefreq: daily
  priority: 1
---

<main class="bg-slate-800 pr-safe pl-safe sm:flex sm:flex-row-reverse sm:flex-wrap sm:justify-between sm:items-center" id="main">
    <picture class="relative block aspect-square md:aspect-16/9 sm:flex-1 md:flex-[3]">
        <source media="(max-width: 59.9375rem)" type="image/webp" srcset="{{heroImage.square}}?fm=webp">
        <source media="(min-width: 60rem)" type="image/webp" srcset="{{heroImage.landscape}}?fm=webp">

        <source media="(max-width: 59.9375rem)" srcset="{{heroImage.square}}">
        <source media="(min-width: 60rem)" srcset="{{heroImage.landscape}}">

        <img class="absolute [inset-inline-start:0] [inset-block-start:0]  [inline-size:100%] [block-size:100%] object-contain" src="{{heroImage.landscape}}" alt="Portrait of Alex Clapperton.">
    </picture>

    <div class="[padding-block:32px] [padding-inline:16px] xs:[padding-inline:24px] sm:[block-size:100%] sm:flex-1 sm:[padding-inline:48px]  md:flex-[2] hov:relative hov:z-10">
        <h2 class="[margin-block-end:16px] text-white text-xxl leading-xxl fvs-sb font-selawik">Hi there</h2>

        <p class="[margin-block-end:24px] text-white text-base leading-base fvs-rg">I'm Alex, a Front-end software engineer from the UK. My passion is to build beautiful and responsive websites with accessibility at the heart of it. I am currently working as a software engineer for <a class="text-yellow-400 fvs-sb border-b-2 border-b-yellow-400 hov:transition-colors hov:duration-200 hov:hover:bg-yellow-400 hov:hover:text-slate-900 motion-reduce:transition-none" href="{{settings.employerUrl}}" rel="external">{{settings.employer}}</a>, a faff-free way to buy used cars online.</p>

        <a class="relative [padding-block:12px] [padding-inline:24px] bg-yellow-400 text-slate-900 text-base leading-base fvs-md inline-flex justify-center items-center gap-8 rounded-sm focus:outline focus:outline-2 focus:outline-offset-4 focus:outline-yellow-400 hov:after:absolute hov:after:[inset-block-end:0] hov:after:[inset-inline-start:0] hov:after:[inline-size:100%] hov:after:[block-size:100%] hov:after:bg-yellow-600 hov:after:rounded-sm hov:after:transition-transform hov:after:duration-200 hov:after:-z-10 hov:hover:after:translate-x-8 hov:hover:after:translate-y-8 motion-reduce:after:transition-none" href="/about-me/">
            More about Alex
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path fill="currentColor" fill-rule="evenodd" d="M3 13h14.17l-3.58 3.59L15 18l6-6-6-6-1.41 1.41L17.17 11H3v2Z" clip-rule="evenodd"/></svg>
        </a>
    </div>
</main>

<section class="[padding-block:32px] pr-safe pl-safe md:[padding-block:48px]" aria-labelledby="recent-projects">
    <div class="container [margin-inline:auto] [padding-inline:16px]" data-fade>
        <h2 class="[margin-block-end:16px] text-white text-xl leading-xl fvs-sb font-selawik md:[margin-block-end:24px]" id="recent-projects">
            <small class="block text-base leading-xs fvs-rg font-avenir-next">Recent</small>
            Work and projects
        </h2>

        <div class="sm:columns-2 sm:gap-24">
        {% for i in range(0, 4) %}
            {% set item = collections.projects[i] %}

            {%- include "_partials/components/portfolio.njk" -%}
        {% endfor %}
        </div>

        <a class="[inline-size:100%] [padding-block:12px]  [padding-inline:24px]  bg-transparent text-white border-2 border-white border-solid text-base leading-base fvs-md flex justify-center items-center gap-8 rounded-sm sm:[inline-size:auto] sm:inline-flex focus:bg-white focus:text-slate-900 focus:outline focus:outline-2 focus:outline-offset-4 focus:outline-yellow-400 hov:transition-colors hov:duration-200 hov:hover:bg-white hov:hover:text-slate-900 motion-reduce:transition-none" href="/portfolio/">
            View portfolio
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path fill="currentColor" fill-rule="evenodd" d="M3 13h14.17l-3.58 3.59L15 18l6-6-6-6-1.41 1.41L17.17 11H3v2Z" clip-rule="evenodd"/></svg>
        </a>
    </div>
</section>

<section class="[padding-block:32px] pr-safe pl-safe bg-slate-800 md:[padding-block:48px]" aria-labelledby="latest-articles">
    <div class="container [margin-inline:auto] [padding-inline:16px]" data-fade>
        <h2 class="[margin-block-end:16px] text-white text-xl leading-xl fvs-sb font-selawik md:[margin-block-end:24px]" id="latest-articles">
            <small class="block text-base leading-xs fvs-rg font-avenir-next">Read my</small>
            Latest articles
        </h2>

        <ul class="sm:grid sm:grid-cols-2 sm:gap-24 md:grid-cols-3">
        {% for i in range(0, 3) %}
            {% set item = articles[i] %}

            {% include "_partials/components/articles.njk" %}
        {% endfor %}
        </ul>

        <a class="[padding-block:12px] [padding-inline:24px] bg-transparent text-white border-2 border-white border-solid text-base leading-base fvs-md inline-flex justify-center items-center gap-8 rounded-sm sm:[inline-size:auto] focus:bg-white focus:text-slate-900 focus:outline focus:outline-2 focus:outline-offset-4 focus:outline-yellow-400 hov:transition-colors hov:duration-200 hov:hover:bg-white hov:hover:text-slate-900 motion-reduce:transition-none" href="/articles/">
            View articles
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path fill="currentColor" fill-rule="evenodd" d="M3 13h14.17l-3.58 3.59L15 18l6-6-6-6-1.41 1.41L17.17 11H3v2Z" clip-rule="evenodd"/></svg>
        </a>
    </div>
</section>
