---
title: Alex Clapperton
home: true
about: false
heroImage:
    square: https://images.ctfassets.net/66vjslfacivy/5iYptR3N7dkm0cHsZS8QQw/6b0a09c506f55bf200bd8dfeb6dff519/alex-square.jpg
    landscape: https://images.ctfassets.net/66vjslfacivy/3QPP25tbf4hfIqe6IfdwGW/8dbd89b212da827012c985b7a6017a4d/alex-landscape.jpg
layout: _layouts/default
sitemap:
  changefreq: daily
  priority: 1
---

<main class="info-block notch" id="main">
    <picture class="info-block__picture info-block__picture--home">
        <source media="(max-width: 39.9375em)" type="image/webp" srcset="{{heroImage.square}}?fm=webp">
        <source media="(min-width: 40em)" type="image/webp" srcset="{{heroImage.landscape}}?fm=webp">

        <source media="(max-width: 39.9375em)" srcset="{{heroImage.square}}">
        <source media="(min-width: 40em)" srcset="{{heroImage.landscape}}">

        <img class="info-block__picture-image" src="{{heroImage.landscape}}" alt="Portrait of Alex Clapperton.">
    </picture>

    <div class="info-block__inner info-block__inner--home">
        <h2 class="info-block__heading">Hi there</h2>
        <p>I'm Alex, a Front-end Web Developer from the UK. My passion is to build beautiful and responsive websites with accessibility at the heart of it. I am currently working as a {{settings.jobTitle}} for <a class="link" href="{{settings.employerUrl}}" rel="external">{{settings.employer}}</a>, a digital agency based in Manchester.</p>

        <a class="info-block__button button button--primary" href="/about-me/">
            More about Alex
            <svg class="button__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" stroke-linecap="round" stroke-linejoin="round" d="M4.5 16.61l7.06 5.65 7.05-5.65m-7.05 5.65V2.5"/></svg>
        </a>
    </div>
</main>

<section class="portfolio notch">
    <div class="portfolio__container hide" data-fade>
        <small class="portfolio__heading-small">Recent</small>
        <h3 class="portfolio__heading-main">Work &amp; projects</h3>

        <div class="portfolio__content">
        {% for i in range(0, 4) %}
            {% set item = collections.projects[i] %}

            {% include "_partials/portfolio.njk" %}
        {% endfor %}
        </div>

        <a class="portfolio__button button button--secondary" href="/portfolio/">
            View portfolio
            <svg class="button__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" stroke-linecap="round" stroke-linejoin="round" d="M4.5 16.61l7.06 5.65 7.05-5.65m-7.05 5.65V2.5"/></svg>
        </a>
    </div>
</section>

<section class="articles notch">
    <div class="articles__container hide" data-fade>
        <small class="articles__heading-small">Read my</small>
        <h3 class="articles__heading-main">Latest articles</h3>

        <div class="articles__content">
        {% for i in range(0, 3) %}
            {% set item = collections.articles[i] %}

            {% include "_partials/articles.njk" %}
        {% endfor %}
        </div>

        <a class="button button--secondary" href="/articles/">
            View articles
            <svg class="button__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" stroke-linecap="round" stroke-linejoin="round" d="M4.5 16.61l7.06 5.65 7.05-5.65m-7.05 5.65V2.5"/></svg>
        </a>
    </div>
</section>
