---
title: Articles
layout: _layouts/default
permalink: "articles/index.html"
---

<main class="articles notch" id="main">
    <div class="articles__container hide" data-fade>
        <div class="articles__content">
        {{#each collections.articles}}
            {{> _partials/articles }}
        {{/each}}
        </div>
    </div>
</main>

{{> _partials/push }}
