---
title: Articles
home: false
about: false
changefreq: monthly
priority: 0.8
layout: _layouts/default
---

<main class="articles notch" id="main">
    <div class="articles__container hide" data-fade>
        <div class="articles__content">
        {% for item in collections.articles %}
            {% include "_partials/components/articles.njk" %}
        {% endfor %}
        </div>
    </div>
</main>

{% include "_partials/components/push.njk" %}
